In [3]:
import sys
sys.path.insert(0,'/Users/jarad')

from jb_libraries import *
%matplotlib inline

In [4]:
df = pd.DataFrame({'ok':[1,2,3,4]})

In [5]:
df.format_(['m2'])

      Ok
0  $1.00
1  $2.00
2  $3.00
3  $4.00

In [6]:
pd.read_sql('''show columns from orders''', db)

,Field,Type,Null,Key,Default,Extra
0,orders_id,int(11),NO,PRI,None,auto_increment
1,orders_fake,tinyint(3) unsigned,NO,,0,
2,customers_id,int(11),NO,MUL,0,
3,customers_name,varchar(64),NO,MUL,,
4,customers_company,varchar(32),YES,,None,
5,customers_street_address,varchar(64),NO,,,
6,customers_suburb,varchar(32),YES,,None,
7,customers_city,varchar(32),NO,,,
8,customers_postcode,varchar(10),NO,,,
9,customers_state,varchar(32),YES,,None,
10,customers_country,varchar(64),NO,,,
11,customers_telephone,varchar(32),NO,MUL,,
12,customers_email_address,varchar(96),NO,MUL,,
13,customers_address_format_id,int(5),NO,,0,
14,delivery_name,varchar(64),NO,MUL,,
15,delivery_company,varchar(32),YES,,None,
16,delivery_street_address,varchar(64),NO,MUL,,
17,delivery_suburb,varchar(32),YES,,None,
18,delivery_city,varchar(32),NO,,,
19,delivery_postcode,varchar(10),NO,,,
20,delivery_state,varchar(32),YES,,None,
21,delivery_country,varchar(64),NO,MUL,,
22,delivery_address_format_id,int(5),NO,,0,
23,delivery_address_commercial,tinyint(4),NO,,None,
24,billing_name,varchar(64),NO,MUL,,
25,billing_company,varchar(32),YES,,None,
26,billing_street_address,varchar(64),NO,MUL,,
27,billing_suburb,varchar(32),YES,,None,
28,billing_city,varchar(32),NO,,,
29,billing_postcode,varchar(10),NO,,,
30,billing_state,varchar(32),YES,,None,
31,billing_country,varchar(64),NO,,,
32,billing_address_format_id,int(5),NO,,0,
33,payment_method,varchar(128),NO,,,
34,payment_module_code,varchar(32),NO,,,
35,shipping_method,varchar(255),NO,,,
36,shipping_module_code,varchar(32),NO,,,
37,coupon_code,varchar(32),NO,,,
38,cc_type,varchar(20),YES,,None,
39,cc_owner,varchar(64),YES,,None,
40,cc_number,varchar(32),YES,,None,
41,cc_expires,varchar(4),YES,,None,
42,cc_cvv,blob,YES,,None,
43,last_modified,datetime,YES,MUL,None,
44,date_purchased,datetime,YES,MUL,None,
45,orders_status,int(5),NO,MUL,0,
46,orders_date_finished,datetime,YES,,None,
47,currency,char(3),YES,,None,
48,currency_value,"decimal(14,6)",YES,,None,
49,order_total,"decimal(14,2)",YES,,None,
50,order_tax,"decimal(14,2)",YES,,None,
51,paypal_ipn_id,int(11),NO,,0,
52,ip_address,varchar(96),NO,MUL,None,
53,fedex_tracking,varchar(20),NO,,,
54,ups_tracking,varchar(20),NO,,,
55,shippingcost,"decimal(14,2)",NO,,None,
56,orders_carrot,text,YES,,None,
57,orders_reseller,int(11),NO,,None,
58,orders_super_reseller,int(11),NO,MUL,None,
59,gather_batch,int(11),NO,MUL,None,
60,delivery_phone,varchar(50),NO,MUL,None,
61,billing_phone,varchar(50),NO,MUL,None,
62,token,varchar(100),YES,,None,
63,ip_mismatch,tinyint(1),NO,,None,
64,orders_billing_status,int(5),NO,,None,
65,ip_tor,tinyint(4),NO,,None,
66,orders_sr_comments,varchar(500),NO,,None,
67,orders_po_number,varchar(500),NO,,None,