On Jan 14, 2018 the Authorize.net site was ungoing mainentence, or something, and this quick audit is to make sure that any credit card transactions during that time were processed succesfully.

### Libraries

In [1]:
import sys
sys.path.insert(0, '/Users/jarad/Fake Folder/Python Libraries')

from jb_libraries import *
%matplotlib inline

from osh_data import *
import math

### Get orders data

In [5]:
pd.read_sql('''select distinct payment_module_code from orders where year(date_purchased) = 2019 order by payment_module_code''', db)

  payment_module_code
0    adabox_subscribe
1    authorizenet_aim
2    authorizenet_cim
3              bitpay
4               GV/DC
5               lapwa
6           paypalwpp
7       purchaseOrder

In [10]:
orders_main = pd.read_sql(
'''
SELECT
orders_id,
order_total,
payment_module_code
FROM orders
WHERE payment_module_code IN ('authorizenet_aim','authorizenet_cim')
AND DATE(date_purchased) = '2019-01-14'
''', db)

col_fix(orders_main)

In [12]:
orders_main['payment module code'].value_counts()

authorizenet_aim    443
authorizenet_cim    111
Name: payment module code, dtype: int64

### Get credit card data

In [16]:
min_oid = orders_main['orders id'].min()

db1 = pd.read_sql(
'''
SELECT
order_id AS orders_id,
response_code AS db_response_code,
LOWER(authorization_type) AS transaction_type,
transaction_id
FROM authorizenet
WHERE order_id >= '''+ str(min_oid) +'''
''', db)

db2 = pd.read_sql(
'''
SELECT
orders_id,
response_code AS db_response_code,
LOWER(authorization_type) AS transaction_type,
transaction_id
FROM authorizenet_zero
WHERE orders_id >= '''+ str(min_oid) +'''
''', db)

db_main = pd.concat([db1, db2], sort = True)
col_fix(db_main)

response_codes_dict = {1:'approved',
                       2:'declined',
                       3:'error',
                       4:'action required'}
db_main['response code str'] = db_main['db response code'].map(response_codes_dict)

db_main.drop_duplicates(inplace = True)
db_main['transaction id'] = pd.to_numeric(db_main['transaction id'])

db_main['transaction type'] = [x.replace('_',' ') for x in db_main['transaction type']]

d = {'prior auth capture':'capture',
    'auth capture':'capture'}

for k,v in d.items():
    db_main['transaction type'] = db_main['transaction type'].replace(k,v)
    
db_main['orders id'] = db_main['orders id'].map(int)

### Merge them

In [31]:
main = pd.merge(orders_main, db_main, on = 'orders id', how = 'left')

n = main[main.isnull().any(1)]
if n.empty == False:
    raise ValueError('u have nulls')

In [32]:
main.head()

,orders id,order total,payment module code,db response code,transaction id,transaction type,response code str
0,1953838,78.88,authorizenet_aim,1,4.114788e+10,auth only,approved
1,1953838,78.88,authorizenet_aim,1,4.114788e+10,capture,approved
2,1953839,12.16,authorizenet_aim,1,4.114788e+10,auth only,approved
3,1953840,12.60,authorizenet_aim,1,4.114788e+10,auth only,approved
4,1953844,27.94,authorizenet_aim,1,4.114789e+10,auth only,approved