In [1]:
import sys
sys.path.insert(0,'/Users/jarad/fake_folder/Python Libraries')

from jb_libraries import *
from ga import *

%matplotlib inline

date_start = '2018-06-06' # as per zephyr in email "Re: AdWords Conversion tracking - maybe something is off?"
date_end = str((datetime.datetime.now() - pd.DateOffset(days = 1)).date())

print('date start: {}\ndate end {}'.format(date_start, date_end))

close_workbook = 'no'

date start: 2018-06-06
date end 2018-07-25

# Proportion of Orders that are Tracked and OID Revenue
* From email with subject line "Fine Tuning GA: Proportion of Orders that are Tracked and OID Revenue"
* Hand-check [here](https://analytics.google.com/analytics/web/#/report/conversions-ecommerce-sales-performance-beta/a7723544w14744224p15556579/), on GA

### GA data

In [17]:
ga_rev = get_ga(date_start, date_end, ['date','transactionId'], ['transactionRevenue'])

ga_rev.rename(columns = {'transaction id':'orders id',
                         'transaction revenue':'ga subtotal',
                         'date':'ga date'}, inplace = True)

for x in ['orders id','ga subtotal']:
    ga_rev[x] = pd.to_numeric(ga_rev[x])

### Find dupes

In [18]:
oids = ga_rev[ga_rev['orders id'].duplicated()]['orders id'].tolist()
dupes = ga_rev[ga_rev['orders id'].isin(oids)].sort_values('orders id')

print('{:,.0f} dupes'.format(len(oids)))
print('or {:,.2f}% of total lines'.format(len(oids)/len(ga_rev) * 100))
print('remove them')

ga_rev.drop(ga_rev[ga_rev['orders id'].isin(oids)].index, inplace = True)

107 dupes
or 0.49% of total lines
remove them

In [20]:
dupes[dupes['orders id'].isin(oids[:5])]

        ga date  orders id  ga subtotal
284  2018-06-06    1780117        16.90
543  2018-06-07    1780117        16.90
538  2018-06-06    1780531       129.45
1526 2018-06-09    1780531       129.45
1440 2018-06-08    1781933        87.90
1527 2018-06-09    1781933        87.90
1794 2018-06-10    1782453        82.75
1755 2018-06-09    1782453        82.75
1780 2018-06-09    1782505        11.90
1795 2018-06-10    1782505        11.90

### orders_total data

In [5]:
ot_main = pd.read_sql(
'''
SELECT
DATE(date_purchased) AS date_purchased,
ot.orders_id,
ot.value AS db_subtotal,
orders_reseller AS reseller,
orders_super_reseller AS super_reseller,
LOWER(orders_po_number) AS po,
orders_fake AS fake,
IF(o.orders_id IN (SELECT orders_id FROM subscriptions_history), 1, 0) AS adabox

FROM orders_total ot

JOIN orders o ON ot.orders_id = o.orders_id
AND DATE(date_purchased) BETWEEN ' '''+ date_start +''' ' AND ' '''+ date_end +''' '

WHERE class = 'ot_subtotal'
''', db)

col_fix(ot_main)

ot_main['po'] = ot_main['po'].str.strip()
ls = ['','n/a']
ot_main['po'] = np.where(ot_main['po'].isin(ls), 0, 1)

### Audit

In [6]:
# merge
audit_main = pd.merge(ot_main, ga_rev, how = 'left', on = 'orders id')

# find nulls
nulls = audit_main[audit_main.isnull().any(1)]
print('{:,.0f} nulls, which is to say the count of OIDs not in GA'.format(len(nulls)))
print('or {:,.2f}% of total lines'.format(len(nulls)/len(audit_main) * 100))

# make columns
audit_main['year and month'] = [str(x)[:7] for x in audit_main['date purchased']]
audit_main['customer type'] = np.where(audit_main[['reseller','super reseller','po','fake','adabox']].sum(1) > 0, 
                                       'reseller/super/po/fake/adabox',
                                       'regular customer')
audit_main['in ga'] = np.where(audit_main['ga subtotal'].isnull(), 'no', 'yes')

16,585 nulls, which is to say the count of OIDs not in GA
or 43.31% of total lines

### Group by GA

In [7]:
by_ga = audit_main.groupby(['in ga','customer type'])[['customer type']].count().unstack(1)
by_ga.columns = by_ga.columns.droplevel(0)
by_ga['row total'] = by_ga.sum(1)
by_ga.loc['column total'] = by_ga.sum()

if len(ot_main) == by_ga.loc['column total','row total']:
    print('match')
else:
    print('mismatch')
    
by_ga.format_(['n0'] * 3)

match

             Regular Customer Reseller/Super/Po/Fake/Adabox Row Total
in ga
no                     12,062                         4,523    16,585
yes                    21,051                           660    21,711
column total           33,113                         5,183    38,296

In [8]:
by_ga.div(len(ot_main)).format_(['p2'] * 3)

             Regular Customer Reseller/Super/Po/Fake/Adabox Row Total
in ga
no                     31.50%                        11.81%    43.31%
yes                    54.97%                         1.72%    56.69%
column total           86.47%                        13.53%   100.00%

### OID mismatches

In [9]:
mismatch = audit_main[np.abs(audit_main['db subtotal'] - audit_main['ga subtotal']) > 0]

print('{:,.0f} mismatches'.format(len(mismatch)))
print('or {:,.2f}% of total lines'.format(len(mismatch)/sum(audit_main['in ga'] == 'yes') * 100))

diff = mismatch['db subtotal'].sum() - mismatch['ga subtotal'].sum()
print('\ntotal difference between db and ga subtotal: ${:,.0f}'.format(diff))
print('or ${:,.0f} per mismatch order'.format(diff/len(mismatch)))

86 mismatches
or 0.40% of total lines

total difference between db and ga subtotal: $-8,809
or $-102 per mismatch order

In [22]:
mismatch[['orders id','db subtotal','ga subtotal']].iloc[:5]

      orders id  db subtotal  ga subtotal
244     1779929        32.50        65.00
510     1780195         0.22       174.40
613     1780298         5.95        11.90
1763    1781448       306.70       366.55
1836    1781521        85.80       171.60

### To excel

In [11]:
if close_workbook == 'yes':
    title = 'GA and db data from {} to {}'.format(date_start, date_end)
    writer = pd.ExcelWriter(title + '.xlsx')
    dupes.to_excel(writer, 'dupe OIDs', index = False)
    writer.save()