### Libraries

In [1]:
import sys
sys.path.insert(0,'/Users/jarad/Fake Folder/Python Libraries')

from jb_libraries import *
%matplotlib inline

### Script settings

In [2]:
csv_path = '/Users/jarad/Fake Folder/Fab/Recurring/Time to Test and Prep Fab Parts/CSVs/'
close_workbook = 'no'

In [3]:
n = 90
now = dt.datetime.now().date()
x_days_ago = (now - pd.DateOffset(days = n)).date()

print('today is {} and 90 days ago is {}'.format(now, x_days_ago))

s = str(x_days_ago)
e = str(now)

print('Data is from {} to {}, or {} days'.format(s,e,n))

today is 2019-01-18 and 90 days ago is 2018-10-20
Data is from 2018-10-20 to 2019-01-18, or 90 days

### To see if the times between processes and sp_actions tables differ

In [4]:
a = pd.read_sql(
'''
SELECT
process_id,
TIMESTAMPDIFF(MINUTE, time_start, time_end) AS p_time 
FROM processes
WHERE process_group IN ('test','prep')
AND time_end != '0000-00-00 00:00:00'
GROUP BY process_id
''', db)

col_fix(a)

b = pd.read_sql(
'''
SELECT
process_id,
SUM(TIMESTAMPDIFF(MINUTE, spa_time_start, spa_time_end)) AS sp_time
FROM sp_actions
WHERE process_id IN '''+ str(tuple(a['process id'].tolist())) +'''
GROUP BY process_id
''', db)

col_fix(b)

c = pd.merge(a, b, how = 'left', on = 'process id')

c.info()
c.dropna(inplace = True)

c['diff (min)'] = np.abs(c['p time'] - c['sp time'])

c.sort_values('diff (min)', ascending = False, inplace = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12949 entries, 0 to 12948
Data columns (total 3 columns):
process id    12949 non-null int64
p time        12949 non-null int64
sp time       12908 non-null float64
dtypes: float64(1), int64(2)
memory usage: 404.7 KB

### Example showing that the times from the tables indeed DO NOT match

In [5]:
c.head()

      process id  p time  sp time  diff (min)
3731       40611  560043    695.0    559348.0
3729       40609  560042   1383.0    558659.0
3730       40610  546875    839.0    546036.0
3728       40608  546874   1117.0    545757.0
492         9095  525660    943.0    524717.0

In [6]:
p_id = 40611

In [7]:
pd.read_sql(
'''
SELECT
*
FROM processes
WHERE process_id = '''+ str(p_id) +'''
''', db)

,process_id,process_name,wo_id,kwo_id,time_start,process_break_timestamp,time_end,qty_in,qty_out,qty_reject,process_notes,process_out_notes,process_order,process_class,process_group,misc_line_1,misc_line_2,misc_line_3,misc_line_4,misc_line_5,admin,po_stuff_to_shipments_id,portions_id,rework_id
0,40611,Prep,2674,0,2016-05-13 14:39:55,0000-00-00 00:00:00,2017-06-06 12:42:57,2135,2135,0,Email productionmanagement@adafruit.com with any discrepancies found,,4,processStockSubtract,prep,,,,,,jackie,0,0,0

In [8]:
pd.read_sql(
'''
SELECT
*,
TIMESTAMPDIFF(MINUTE, spa_time_start, spa_time_end) AS diff
FROM sp_actions
WHERE process_id = '''+ str(p_id) +'''
ORDER BY spa_time_start
''', db)

,sp_actions_id,sp_id,process_id,spa_qty,spa_qty_reject,spa_time_start,spa_time_end,spa_admin,misc_line_1,misc_line_2,misc_line_3,diff
0,83297,0,40611,487,0,2016-05-18 14:09:30,2016-05-18 16:53:03,cathy,,,,163
1,83942,0,40611,200,0,2016-05-23 11:34:08,2016-05-23 12:13:04,Mickfrost,,,,38
2,83994,0,40611,100,0,2016-05-23 12:40:17,2016-05-23 13:02:17,Mickfrost,,,,22
3,137885,0,40611,162,0,2017-04-27 14:27:05,2017-04-27 14:41:58,isaiah,,,,14
4,137893,0,40611,200,0,2017-04-27 14:47:36,2017-04-27 15:41:41,isaiah,,,,54
5,141511,0,40611,28,0,2017-05-17 17:47:32,2017-05-17 17:56:25,melanie,,,,8
6,141583,0,40611,60,0,2017-05-18 10:35:13,2017-05-18 10:56:36,melanie,,,,21
7,141589,0,40611,40,0,2017-05-18 11:01:46,2017-05-18 11:13:13,melanie,,,,11
8,141596,0,40611,50,0,2017-05-18 11:14:34,2017-05-18 11:40:18,melanie,,,,25
9,141622,0,40611,50,0,2017-05-18 11:57:24,2017-05-18 12:07:33,melanie,,,,10
10,142688,0,40611,100,0,2017-05-24 12:49:52,2017-05-24 13:38:15,ibrahim,,,,48
11,142713,0,40611,100,0,2017-05-24 14:41:01,2017-05-24 15:54:51,ibrahim,,,,73
12,143216,0,40611,100,0,2017-05-26 13:51:41,2017-05-26 14:33:04,TrevorBeaton,,,,41
13,143823,0,40611,200,0,2017-05-31 14:46:10,2017-05-31 16:01:28,cathy,,,,75
14,144637,0,40611,100,0,2017-06-05 11:59:42,2017-06-05 12:48:00,carlo,,,,48
15,144681,0,40611,82,0,2017-06-05 13:00:42,2017-06-05 13:43:11,carlo,,,,42
16,144890,0,40611,76,0,2017-06-06 12:13:30,2017-06-06 12:15:47,melanie,,,,2

### Get data for CSV

In [9]:
pd.read_sql(
'''
SELECT
DISTINCT process_group
FROM processes
''', db)

  process_group
0
1          none
2        kitten
3     fabricate
4          test
5          prep
6            QA
7     outsource
8     secondary

In [30]:
super_main = pd.read_sql(
'''
SELECT
wo.wo_id,
k.part_id,
pd.products_name,
TIMESTAMPDIFF(MINUTE, spa_time_start, spa_time_end) AS time_elapsed_in_minutes, 
sp.spa_qty,
process_group

FROM sp_actions sp

JOIN processes p ON sp.process_id = p.process_id
AND DATE(time_start) BETWEEN ' '''+ s +''' ' AND ' '''+ e +''' ' 
AND p.wo_id != 0 # to exclude reworks
AND process_group IN ('test','prep','secondary') # get only these groups
AND time_end != '0000-00-00 00:00:00' # to exclude open processes

JOIN work_orders wo ON p.wo_id = wo.wo_id
JOIN skus k ON wo.sku_id = k.sku_id
JOIN products_description pd ON k.part_id = pd.part_id
''', db)

col_fix(super_main)

# get the time elapsed over all steps
total_time = super_main.groupby('part id')[['time elapsed in minutes']].sum()

# get the qty made over only one of the steps
qty_main = super_main.groupby(['part id','process group'])[['spa qty']].sum().unstack(1)
qty_main.columns = qty_main.columns.droplevel(0)

# take the max qty made over all steps considered
q = dict(qty_main.max(1))


# put them together
main = super_main[['part id','products name']].drop_duplicates(['part id','products name'])
main = main.set_index('part id').join(total_time).reset_index()
main['qty made'] = main['part id'].map(q)

# get time per part
main['min per'] = np.round(main['time elapsed in minutes']/main['qty made'], 2)
main.sort_values('time elapsed in minutes', ascending = False, inplace = True)

# get the PLM link
l1 = 'https://volcano.adafruit.com/volcano/ada_plm.php#/Parts/'
l2 = '/PartProfile'
main['link'] = l1 + main['part id'].astype(str) + l2

### Check it

In [11]:
a1 = super_main['time elapsed in minutes'].sum()
a2 = main['time elapsed in minutes'].sum()

if a1 != a2:
    raise ValueError('mismatch')
    
b1 = np.sum(list(q.values()))
b2 = main['qty made'].sum()

if b1 != b2:
    raise ValueError('mismatch')

### By part id and group

In [12]:
by_part = super_main.groupby(['part id','process group'])[['time elapsed in minutes']].sum().unstack(1).fillna(0)
by_part.columns = by_part.columns.droplevel(0)
by_part['total time'] = by_part.sum(1)

l1 = 'https://volcano.adafruit.com/volcano/ada_plm.php#/Parts/'
l2 = '/PartProfile'
by_part['link'] = l1 + by_part.index.astype(str) + l2
by_part.reset_index(inplace = True)
by_part.sort_values('total time', ascending = False, inplace = True)

for col in by_part.columns:
    try:
        by_part[col] = [int(np.round(x)) for x in by_part[col]]
    except:
        pass

display(by_part.head())

c_dfs = pd.DataFrame()
cols = by_part.columns.tolist()
for w in ['part id','link']:
    cols.remove(w)

process group,part id,prep,secondary,test,total time,link
103,3093,379,5499,498,6376,https://volcano.adafruit.com/volcano/ada_plm.php#/Parts/3093/PartProfile
151,3938,1092,0,5038,6130,https://volcano.adafruit.com/volcano/ada_plm.php#/Parts/3938/PartProfile
135,3505,0,5052,0,5052,https://volcano.adafruit.com/volcano/ada_plm.php#/Parts/3505/PartProfile
136,3527,2052,0,2838,4890,https://volcano.adafruit.com/volcano/ada_plm.php#/Parts/3527/PartProfile
148,3787,838,0,1328,2166,https://volcano.adafruit.com/volcano/ada_plm.php#/Parts/3787/PartProfile

### Confidence intervals per part

In [13]:
c = jb_conf(by_part)
sample_size = c.loc['sample size'][0]

c = c.loc[:'upper'].copy()
c.drop('part id',1,inplace = True)

### Avg total hours per workday

In [14]:
days = 60 # 90 days in quarter; that's 60 workdays at 5 days per week
minutes = 60
c2 = c * sample_size / days / minutes

for col in c2.columns:
    c2[col] = [int(np.round(x)) for x in c2[col]]
    
print('avg time (hours) per workday')
c2

avg time (hours) per workday

process group  prep  secondary  test  total time
lower             5          0    11          18
mean              6          4    14          25
upper             8          8    18          31

### To Excel

In [15]:
if close_workbook == 'yes':
    
    t = 'Previous 90 days ending {} - Time to Test and Prep Fab Parts'.format(e)
    
    writer = pd.ExcelWriter(csv_path + t + '.xlsx', engine = 'xlsxwriter')
    
    sht_title = 'All data'
    main.to_excel(writer, sht_title, startrow = 2, startcol = 0, index = False)
    worksheet = writer.sheets[sht_title]
    text = 'All data by part from {} to {}'.format(s,e)
    worksheet.write(0,0,text)

    sht_title = 'Time by part and group'
    by_part.to_excel(writer, sht_title, startrow = 2, startcol = 0, index = False)    
    worksheet = writer.sheets[sht_title]
    text = 'Time elapsed (in minutes) per part per group'.format(s,e)
    worksheet.write(0,0,text)
    
    sht_title = 'Avg time per workday'
    c2.to_excel(writer, sht_title, startrow = 2, startcol = 0, index = True)
    worksheet = writer.sheets[sht_title]
    text = 'Avg time (in hours) per workday per group'
    worksheet.write(0,0,text)
    
    writer.save()

### Explore

In [43]:
pn = 3093
a = super_main[super_main['part id'] == pn].groupby(['wo id','process group'])[['spa qty']].sum()
a

                     spa qty
wo id process group
7569  prep               476
      secondary         1050
      test               478
7724  secondary         1712
7776  prep                64

In [42]:
super_main[(super_main['part id'] == pn)
           & (super_main['process group'] == 'test')
           & (super_main['wo id'] == 7671)]['spa qty'].sum()

2324