In [1]:
import sys
sys.path.insert(0, '/Users/jarad')

import calendar

from db2 import *
import numpy as np
import pandas as pd
import xlsxwriter

In [2]:
date_start = '2017-11-01'
date_end = '2017-11-30'

title = '2017 - 11 - Nov - Gross Sales.xlsx'
cur_date_name = 'Nov 2017'

In [3]:
ot = pd.read_sql(
'''
SELECT
YEAR(o.date_purchased) AS year,
MONTHNAME(o.date_purchased) AS month,
MONTH(o.date_purchased) AS month_number,
ot.orders_id,
ot.value,
ot.class
FROM orders_total ot
JOIN orders o ON ot.orders_id = o.orders_id
WHERE DATE(o.date_purchased) BETWEEN ' '''+ date_start +''' ' AND ' '''+ date_end +''' '
AND o.orders_status != 9
AND o.orders_status != 10
AND o.payment_method != 'Replacement Order'
''', db)

In [4]:
gross = ot.groupby(['orders_id','class']).agg({'value':'sum'}).unstack(level = 0).T.reset_index().drop('level_0', 1)
gross.fillna(0, inplace = True)

In [5]:
gross.rename(columns = {'ot_check_fee':'Check Fee',
                        'ot_coupon':'Coupon',
                        'ot_ddp':'Export Fee',
                        'ot_gv':'Gift Certificate',
                        'ot_refund':'Refund',
                        'ot_shipping':'Shipping',
                        'ot_tax':'Tax',
                        'ot_total':'Total',
                        'ot_wiretransfer_fee':'Wire Transfer Fee',
                        '':'Misc.',
                        'orders_id':'Orders ID',
                        'ot_subtotal':'Subtotal'}, inplace = True)

In [6]:
gross['Year'] = str(pd.to_datetime(date_start).year)
gross[''] = pd.to_datetime(date_start).month
gross['Month'] = gross[''].apply(lambda x: calendar.month_name[x])
gross.drop('Misc.', 1, inplace = True)

In [7]:
gross.head()

class,Orders ID,Check Fee,Coupon,Export Fee,Gift Certificate,Refund,Shipping,Subtotal,Tax,Total,Wire Transfer Fee,Year,,Month
0,1581642,0.0,0.00,0.0,0.0,0.0,4.05,1.95,0.0,6.00,0.0,2017,11,November
1,1581643,0.0,52.34,0.0,0.0,0.0,0.00,261.65,0.0,209.31,0.0,2017,11,November
2,1581644,0.0,0.00,0.0,0.0,0.0,4.05,35.00,0.0,39.05,0.0,2017,11,November
3,1581645,0.0,0.00,0.0,0.0,0.0,4.05,19.95,0.0,24.00,0.0,2017,11,November
4,1581646,0.0,0.00,0.0,0.0,0.0,9.16,39.90,0.0,49.06,0.0,2017,11,November

In [8]:
gross['Subtotal'][(gross['Month'] == 'November') & (gross['Year'] == '2017')].sum()

4374703.9799999995

# Get Refunds and merge

In [9]:
ot_refunds = pd.read_sql(
'''
SELECT
ot.orders_id AS 'Orders ID',
value AS Refund
FROM orders_total ot
JOIN orders o ON ot.orders_id = o.orders_id
WHERE class = 'ot_refund'
AND DATE(o.date_purchased) BETWEEN ' '''+ date_start +''' ' AND ' '''+ date_end +''' '
''', db)

cs_refunds = pd.read_sql(
'''
SELECT
orders_id AS 'Orders ID',
amount_refunded AS Refund
FROM cs_error_reports
WHERE orders_id IN '''+ str(tuple(gross['Orders ID'])) +'''
AND amount_refunded != 0
''', db)

refunds = pd.concat([ot_refunds, cs_refunds])

gross.drop('Refund', 1, inplace = True)
gross = pd.merge(gross, refunds, how = 'left', on = 'Orders ID' )
gross['Refund'].fillna(0, inplace = True)

In [10]:
gross[['Coupon','Gift Certificate','Refund']] = gross[['Coupon','Gift Certificate','Refund']].apply(lambda x: x * -1)

# for adabox shipments, ot_subtotal = 60 while ot_total = 0
# here we forget the provided ot_total column and make our own
gross.drop('Total',1,inplace = True)
gross = gross[['Year','Month','Orders ID','Subtotal','Coupon','Gift Certificate','Refund','Check Fee','Wire Transfer Fee','Export Fee','Tax','Shipping']]
gross['Total'] = gross.iloc[:,3:12].sum(1)
gross = gross[['Year','Month','Orders ID','Subtotal','Coupon','Gift Certificate','Refund','Check Fee','Wire Transfer Fee','Export Fee','Tax','Shipping','Total']]

# Create Totals data frame for summary

In [11]:
totals = pd.DataFrame(gross.sum()).T.drop(['Year','Month','Orders ID'], 1)
totals['Year'] = str(pd.to_datetime(date_start).year)
totals[''] = pd.to_datetime(date_start).month
totals['Month'] = totals[''].apply(lambda x: calendar.month_name[x])
totals.drop('', 1, inplace = True)

In [12]:
totals = totals[['Year','Month','Subtotal','Coupon','Gift Certificate','Refund','Check Fee','Wire Transfer Fee','Export Fee','Tax','Shipping','Total']]

In [13]:
gross.iloc[:,3:12].sum().sum()

4644831.2880002586

In [14]:
gross.iloc[:,3:12].sum(1).sum()

4644831.2879999997

# Write to Excel

In [15]:
writer = pd.ExcelWriter(title, engine='xlsxwriter')

gross.to_excel(writer, sheet_name = cur_date_name, startrow=7, startcol=1, index=False, header=True)
totals.to_excel(writer, sheet_name = cur_date_name, startrow=7, startcol=16, index=False, header=True)

workbook = writer.book
worksheet1 = writer.sheets[cur_date_name]

numbers_format = workbook.add_format()
numbers_format.set_num_format('##,##0.00')

worksheet_title_format = workbook.add_format({
        'bold': 1,
        'font_size': 20})

table_title = workbook.add_format({
        'bold': 1,
        'border': 1,
        'align': 'center',
        'valign': 'vcenter',
        'bg_color': 'gray',
        'font_size': 18,
        'font_color': 'white'})

worksheet1.write('A1', cur_date_name + ' Gross Sales', worksheet_title_format)
worksheet1.merge_range('B7:N7', 'By Orders ID', table_title)
worksheet1.merge_range('Q7:AB7', 'Totals', table_title)

worksheet1.set_column('A:AB', 15)
worksheet1.set_column('F:N', None, numbers_format)
worksheet1.set_column('S:AB', None, numbers_format)

worksheet1.write('A3', 'No types of orders have been excluded from this report', worksheet_title_format)
worksheet1.write('A4', 'The subtotal here (Col S) may be different than what you see in PLM. This is because of the way PLM is calculated. This is normal. For more specifics plz email Jarad@adafruit.com.')

writer.save()

# Refunds
* take a look at the avg number of days between when an order is placed and when an order is refunded

In [16]:
refunds_db = pd.read_sql(
'''
SELECT
DATE(o.date_purchased) AS date,
cs.timestamp,
ot.orders_id,
ot.value AS ot_refund,
cs.amount_refunded
FROM orders_total ot
JOIN cs_error_reports cs ON ot.orders_id = cs.orders_id# AND cs.amount_refunded != 0
JOIN orders o ON ot.orders_id = o.orders_id
WHERE DATE(o.date_purchased) >= '2017-03-01'
GROUP BY ot.orders_id
''', db)

In [17]:
refunds_db = refunds_db[refunds_db['amount_refunded'] > 0]

In [18]:
refunds_db['days'] = (refunds_db['timestamp'] - refunds_db['date']).dt.days
refunds_db['days'].mean()

20.646341463414632