### Note:
* This report only considers refunds made through cs_error_reports and not any manual refunds where orders_products totals are different than orders_total totals

In [1]:
import sys
sys.path.insert(0,'/Users/jarad/fake_folder/Python Libraries')

from jb_libraries import *
%matplotlib inline

In [2]:
pd.read_sql(
'''
SELECT
*
FROM orders_status
ORDER BY orders_status_id
''', db)

    orders_status_id  language_id     orders_status_name
0                  1            1                Pending
1                  2            1             Processing
2                  3            1                Shipped
3                  4            1                 Update
4                  5            1                Printed
5                  6            1                 Billed
6                  7            1       Payment Received
7                  8            1        Fraud - Pending
8                  9            1      Fraud - Confirmed
9                 10            1                 Return
10                11            1     Replaced Defective
11                12            1     Refunded Defective
12                13            1  No Shipment Necessary
13                14            1                 Voided
14                15            1           Fraud - Void

In [3]:
report_type = 'monthly'
#report_type = 'quarterly'

date_start = '2018-03-01'
date_end = '2018-05-31'

#title = '2018 - 05 - May - Gross Sales Report.xlsx'
title = 'Gross Sales Report - March 1, 2018 to May 31, 2018.xlsx'

In [4]:
ot = pd.read_sql(
'''
SELECT
DATE_FORMAT(o.date_purchased, '%Y-%m') AS 'year and month',
ot.orders_id AS 'orders id',
ot.value,
ot.class
FROM orders_total ot
JOIN orders o ON ot.orders_id = o.orders_id
WHERE DATE(o.date_purchased) BETWEEN ' '''+ date_start +''' ' AND ' '''+ date_end +''' '
AND o.orders_status NOT IN (8,9,10,11,12,14,15) # fraud confirmed, returned, voided, fraud voided
AND o.payment_method != 'Replacement Order'
''', db)

In [5]:
gross = ot.groupby(['year and month','orders id','class']).agg({'value':'sum'}).unstack(level = [2]).fillna(0)
gross.columns = gross.columns.get_level_values(1)
gross.reset_index(inplace = True)
gross['orders id'] = pd.to_numeric(gross['orders id'], downcast = 'integer')

In [6]:
cols_rename = { 'ot_check_fee':'check fee',
                'ot_coupon':'coupon',
                'ot_ddp':'export fee',
                'ot_gv':'gift certificate',
                'ot_refund':'refund',
                'ot_shipping':'shipping',
                'ot_tax':'tax',
                'ot_total':'total',
                'ot_wiretransfer_fee':'wire transfer fee',
                'orders_id':'orders id',
                'ot_subtotal':'subtotal',
                'refund_reversal':'refund reversal',
                'ot_production_fee':'production fee',
                'ot_deduction':'deduction'}

for k,v in cols_rename.items():
    gross.columns = gross.columns.str.replace(k,v)
    
if gross[''].sum() == 0:
    gross.drop('', 1, inplace = True)
else:
    gross.rename(columns = {'':'misc'}, inplace = True)

In [7]:
gross.head()

class,year and month,orders id,check fee,coupon,export fee,deduction,gift certificate,refund,shipping,subtotal,tax,total,wire transfer fee
0,2018-03,1693093,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.000,0.000,0.0
1,2018-03,1693094,0.0,0.0,0.0,0.0,0.0,0.0,20.92,236.75,0.000,257.670,0.0
2,2018-03,1693095,0.0,0.0,0.0,0.0,0.0,0.0,4.55,5.95,0.000,10.500,0.0
3,2018-03,1693096,0.0,0.0,0.0,0.0,0.0,0.0,18.83,157.80,15.674,192.304,0.0
4,2018-03,1693097,0.0,0.0,0.0,0.0,0.0,0.0,9.58,53.20,0.000,62.780,0.0

# Get CS Refunds

In [8]:
ot_refunds = pd.read_sql(
'''
SELECT
ot.orders_id AS 'orders id',
value AS refund
FROM orders_total ot
JOIN orders o ON ot.orders_id = o.orders_id
WHERE class = 'ot_refund'
AND DATE(o.date_purchased) BETWEEN ' '''+ date_start +''' ' AND ' '''+ date_end +''' '
''', db)

cs_refunds = pd.read_sql(
'''
SELECT
orders_id AS 'orders id',
amount_refunded AS refund
FROM cs_error_reports
WHERE orders_id IN '''+ str(tuple(gross['orders id'])) +'''
AND amount_refunded != 0
''', db)

refunds = pd.concat([ot_refunds, cs_refunds])

try:
    gross.drop('refund', 1, inplace = True)
except:
    pass

gross = pd.merge(gross, refunds, how = 'left', on = 'orders id' )
gross['refund'].fillna(0, inplace = True)

In [9]:
gross.head()

,year and month,orders id,check fee,coupon,export fee,deduction,gift certificate,shipping,subtotal,tax,total,wire transfer fee,refund
0,2018-03,1693093,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.000,0.000,0.0,0.0
1,2018-03,1693094,0.0,0.0,0.0,0.0,0.0,20.92,236.75,0.000,257.670,0.0,0.0
2,2018-03,1693095,0.0,0.0,0.0,0.0,0.0,4.55,5.95,0.000,10.500,0.0,0.0
3,2018-03,1693096,0.0,0.0,0.0,0.0,0.0,18.83,157.80,15.674,192.304,0.0,0.0
4,2018-03,1693097,0.0,0.0,0.0,0.0,0.0,9.58,53.20,0.000,62.780,0.0,0.0

# Clean it up

In [10]:
for col in ['coupon','gift certificate','refund']:
    gross[col] = gross[col] * -1

# orders_total.ot_class = 'ot_total' does not change when there is a manual refund!
# therefore we must drop the column returned from the db and we must create our own total column
gross.drop('total', 1, inplace = True)
gross['total'] = gross.iloc[:,2:].sum(1)

# arrange columns
original_columns = gross.columns.tolist()

col_list = gross.columns.tolist()
col_list.remove('year and month')
col_list.remove('orders id')
col_list.remove('subtotal')
col_list.remove('total')

new_cols = ['year and month','orders id','subtotal'] + col_list + ['total']

# get original columns
original_columns = gross.columns.tolist()

# reorder columns
gross = gross[new_cols]

# check
if len(gross.columns) == len(original_columns):
    print('you got all columns')
else:
    print('you missed some columns!')
    print(set(original_columns) - set(gross.columns.tolist()))

you got all columns

# Create Totals data frame for summary

In [11]:
if report_type == 'monthly':
    totals = gross.groupby('year and month', as_index = False).sum().drop('orders id', 1)
    totals['year and month'] = [calendar.month_abbr[int(x[5:7])] + ' ' + x[:4] for x in totals['year and month']]

elif report_type == 'quarterly':
    totals = gross.groupby('year and month', as_index = False).sum().drop('orders id', 1)
    totals['year and month'] = [calendar.month_abbr[int(x[5:7])] + ' ' + x[:4] for x in totals['year and month']]
    
    quarter_total = totals.drop('year and month',1)
    quarter_total = pd.DataFrame(quarter_total.sum()).T
    quarter_total = pd.concat([totals, quarter_total])
    quarter_total['year and month'].fillna(date_end[:4] + ' Q' + str(pd.to_datetime(date_end).quarter) + ' total', inplace = True)
    quarter_total = quarter_total[gross.drop('orders id', 1).columns.tolist()]
    
    totals = quarter_total.copy()

In [12]:
totals

,year and month,subtotal,check fee,coupon,export fee,deduction,gift certificate,shipping,tax,wire transfer fee,refund,total
0,Mar 2018,4371351.37,480.0,-45350.585,31719.445,178.58,-6253.41,317868.75,10943.7493,545.0,-910.23,4.680573e+06
1,Apr 2018,3716580.95,420.0,-22169.475,24742.280,413.66,-6669.39,271193.95,10253.1486,460.0,-1402.13,3.993823e+06
2,May 2018,3950065.94,440.0,-19647.480,27918.590,264.05,-4827.78,247550.54,8354.2977,425.0,-817.67,4.209725e+06

# Check

In [13]:
if report_type == 'monthly':
    if np.abs(gross.iloc[:, 2:-1].sum(1).sum() - totals['total'].sum()) < 1:
        print('your totals match')
    else:
        print('your totals do not match')
        print(gross.iloc[:, 2:-1].sum(1).sum())
        print(totals['total'].sum())
elif report_type == 'quarterly':
    if np.abs(gross.iloc[:, 2:-1].sum(1).sum() - totals.iloc[:-1]['total'].sum()) < 1:
        print('your totals match')
    else:
        print('your totals do not match')
        print(gross.iloc[:, 2:-1].sum(1).sum())
        print(totals['total'].sum())

your totals match

# Write to Excel

In [14]:
if report_type == 'monthly':
    sheet_name = calendar.month_abbr[int(date_end[5:7])] + ' ' + date_end[:4]
elif report_type == 'quarterly':
    sheet_name = date_end[:4] + ' Q' + str(pd.to_datetime(date_end).quarter)

writer = pd.ExcelWriter(title, engine = 'xlsxwriter')

gross_for_excel = gross.copy()
gross_for_excel.columns = [x.title() for x in gross_for_excel.columns]

totals_for_excel = totals.copy()
totals_for_excel.columns = [x.title() for x in totals_for_excel.columns]

gross_for_excel.to_excel(writer, sheet_name = sheet_name, startrow = 7, startcol = 0, index = False)
totals_for_excel.to_excel(writer, sheet_name = sheet_name, startrow = 7, startcol = len(gross.columns) + 1, index = False)

workbook = writer.book
worksheet1 = writer.sheets[sheet_name]

numbers_format = workbook.add_format()
numbers_format.set_num_format('##,##0.00')

numbers2_format = workbook.add_format()
numbers2_format.set_num_format('####0')


worksheet_title_format = workbook.add_format({
        'bold': 1,
        'font_size': 20})

table_title = workbook.add_format({
        'bold': 1,
        'border': 1,
        'align': 'center',
        'valign': 'vcenter',
        'bg_color': 'gray',
        'font_size': 18,
        'font_color': 'white'})

worksheet1.write('A1', sheet_name + ' Gross Sales', worksheet_title_format)
worksheet1.merge_range(6,0,6,len(gross.columns) - 1, 'By Orders ID', table_title)
worksheet1.merge_range(6,len(gross.columns) + 1,6,len(gross.columns) + len(totals.columns), 'Totals', table_title)

worksheet1.set_column(0,0,15)
worksheet1.set_column(1,1,15, numbers2_format)
worksheet1.set_column(2,100,15, numbers_format)

worksheet1.write('A3', 'The subtotal here (Col S) may be different than what you see in PLM. This is because of the way PLM is calculated. This is normal. For more specifics plz email Jarad@adafruit.com.')

writer.save()

In [15]:
print('done')

done

# Refunds
* take a look at the avg number of days between when an order is placed and when an order is refunded

In [16]:
refunds_db = pd.read_sql(
'''
SELECT
DATE(o.date_purchased) AS date,
cs.timestamp,
ot.orders_id,
ot.value AS ot_refund,
cs.amount_refunded
FROM orders_total ot
JOIN cs_error_reports cs ON ot.orders_id = cs.orders_id# AND cs.amount_refunded != 0
JOIN orders o ON ot.orders_id = o.orders_id
WHERE DATE(o.date_purchased) >= '2017-03-01'
GROUP BY ot.orders_id
''', db)

In [17]:
refunds_db = refunds_db[refunds_db['amount_refunded'] > 0]

In [18]:
refunds_db['days'] = (refunds_db['timestamp'] - refunds_db['date']).dt.days
refunds_db['days'].mean()

16.350553505535057