In [1]:
import sys
sys.path.insert(0,'/Users/jarad/fake_folder/Python Libraries')

from jb_libraries import *
%matplotlib inline
from part_categories import *
from part_cost import *

close_workbook = 'yes'

now = str((datetime.datetime.now()).date())
print('as of %s' % now)

part categories data start
part categories data end

part_cost.py start
match
no nulls
match
no nulls
you're df is called all_cost2
the mean stripe margin is 77.44%
part_cost.py end
as of 2018-11-06

In [2]:
skus_main = pd.read_sql(
'''
SELECT
timestamp,
k.sku,
s.sku_id,
k.part_id,
k.sku_name AS name,
actual_stock,
s.combined_sales_90 AS daily_sales,
s.sku_status AS status
FROM sku_stock_snapshots s
LEFT JOIN skus k ON s.sku_id = k.sku_id
WHERE DATE(timestamp) = ' '''+ now +''' '
''', db)

col_fix(skus_main)

In [3]:
parts_main = pd.read_sql(
'''
SELECT
pss.timestamp,
0 AS sku,
0 AS sku_id,
pss.part_id,
pd.products_name AS name,
pss.actual_stock,
pss.combined_sales_90 AS daily_sales,
LOWER(pss.discontinue_status) AS status
FROM parts_stock_snapshots pss
JOIN products_description pd ON pss.part_id = pd.part_id
WHERE DATE(pss.timestamp) = ' '''+ now +''' '
AND pss.part_id NOT IN '''+ str(tuple(skus_main['part id'])) +'''
''', db)

col_fix(parts_main)

In [4]:
combos_main = pd.read_sql(
'''
SELECT
part_id
FROM products_to_stuff
WHERE part_id > 0
''', db)

col_fix(combos_main)

In [5]:
meta_types = pd.read_sql(
'''
SELECT
part_id,
LOWER(products_meta_type) AS products_meta_type
FROM parts
''', db)

col_fix(meta_types)

In [6]:
super_main = pd.concat([skus_main, parts_main], sort = False)

# keep only the most recent entries
super_main.sort_values(['sku id','part id','timestamp'], inplace = True)
super_main.drop_duplicates(['sku id','part id'], keep = 'last', inplace = True)

# if negative make zero
for col in ['actual stock','daily sales']:
    super_main[col] = np.where(super_main[col] < 0, 0, super_main[col])
    
# calculate these
super_main['quarter sales'] = super_main['daily sales'] * 90    

super_main['days of stock'] = np.round(super_main['actual stock']/super_main['daily sales'])
super_main['days of stock'].fillna(0, inplace = True)
super_main.drop('daily sales',1,inplace = True)
super_main.replace(np.inf, 0, inplace = True)    

new_cols = ['timestamp',
             'sku',
             'sku id',
             'part id',
             'name',
             'actual stock',
             'quarter sales',
             'status',
             'days of stock']

old_cols = super_main.columns

s1 = set(new_cols)
s2 = set(old_cols)

if len(s1.symmetric_difference(s2)) == 0:
    print('match')
    super_main = super_main[new_cols]
else:
    print('mismatch')
    print(s1.symmetric_difference(s2))
    
# part categories
super_main['category'] = super_main['part id'].map(dict(zip(all_cats_df['part id'], all_cats_df['cat name'])))

def cat_fix(x):
    if pd.isnull(x['category']):
        if x['status'] == 'obselete':
            return 'obselete'
        elif 'Strip' in x['name']:
            return 'strip'
        else:
            return 'no category'
    else:
        return x['category']

super_main['category'] = super_main.apply(cat_fix, axis = 1)
super_main['category'] = [x.lower() for x in super_main['category']]

# flag combos
super_main['combo'] = np.where(super_main['part id'].isin(combos_main['part id']), 'yes','no')

# flag meta types
super_main['meta type'] = super_main['part id'].map(dict(zip(meta_types['part id'], meta_types['products meta type'])))
# if it's a sku, give it meta type = sku
super_main['meta type'] = np.where((super_main['meta type'].isnull()) & (super_main['part id'] == 0),
                                  'sku', super_main['meta type'])
# lowercase
super_main['name'] = [x.lower() for x in super_main['name']]

match

### Get latest cost

In [7]:
super_main['tuple'] = list(zip(super_main['sku id'], super_main['part id']))
# all_cost2 comes from part_cost.py
all_cost2['tuple'] = list(zip(all_cost2['sku id'], all_cost2['part id']))

super_main = pd.merge(super_main, all_cost2[['tuple','latest cost']], on = 'tuple')
super_main.drop('tuple', 1, inplace = True)

super_main.rename(columns = {'latest cost':'latest cost per unit'}, inplace = True)
super_main['cost of inventory'] = super_main['latest cost per unit'] * super_main['actual stock']

### Restrict by stock

In [8]:
main = super_main[super_main['actual stock'] > super_main['quarter sales']].copy()

In [9]:
for col in main.columns:
    if main[col].dtype in ['float64','int64']:
        if np.sum(main[col] < 0) > 0:
            print('this column has negative values: %s' % col)
        else:
            print('%s: no negatives' % col)
            
print('\n')            

for col in main.columns:
    if main[col].dtype in ['float64','int64']:
        if np.sum(np.isinf(main[col])) > 0:
            print('this column has infinity: %s' % col)
        else:
            print('%s: no infinity' % col)

sku id: no negatives
part id: no negatives
actual stock: no negatives
quarter sales: no negatives
days of stock: no negatives
latest cost per unit: no negatives
cost of inventory: no negatives


sku id: no infinity
part id: no infinity
actual stock: no infinity
quarter sales: no infinity
days of stock: no infinity
latest cost per unit: no infinity
cost of inventory: no infinity

### Divide data

In [10]:
ls1 = ['badge','patch','gift certificate','plushie','shirt']
ls2 = '|'.join(ls1)

def label(x):
    if x['part id'] > 0:
        if x['combo'] == 'no':
            if (x['status'] == 'pending' or 'badge' in x['name'] or 'patch' in x['name'] or 'gift certificate' in x['name'] or 'plushie' in x['name'] or 'shirt' in x['name']) or ('sticker' in x['name'] and ('accessories' in x['category'] or '3d printing' in x['category'])):
                label = 'not real'
            else:
                label = 'part'
        else:
            label = 'combo'
    else:
        label = 'sku'
        
    return label
        
main['label'] = main.apply(label, axis = 1)

# results
print('function results')
print(main['label'].value_counts())

# store dfs
dict_ = {}
for l in list(set(main['label'])):
    df = main[main['label'] == l].copy()
    df.sort_values('cost of inventory', ascending = False, inplace = True)
    dict_[l] = df

function results
sku         2670
part        1307
not real     118
combo         93
Name: label, dtype: int64

### To Excel

In [ ]:
if close_workbook == 'yes':
    workbook_title = 'As of {} - More Than 90 Days of Stock Report'.format(now)
    worksheet_ls = ['part','not real','sku','combo']

    # create workbook
    workbook = xlsxwriter.Workbook(workbook_title + '.xlsx', {'nan_inf_to_errors': False})

    # formats
    num = workbook.add_format({'num_format':'#,##0'})
    num2 = workbook.add_format({'num_format':'#,##0.00'})
    per = workbook.add_format({'num_format':'0.0%'})
    dummy = workbook.add_format({'font_size':11})
    mon1 = workbook.add_format({'num_format':'$#,##0.00'})
    mon2 = workbook.add_format({'num_format':'$#,##0'})

    # create worksheets
    for name in worksheet_ls:
        workbook.add_worksheet(name)

    # send to dict    
    my_worksheets = {}
    for worksheet in workbook.worksheets():
        my_worksheets[worksheet.get_name()] = worksheet    

    # for each df, write to its own worksheet    
    for k,v in dict_.items():
        worksheet = my_worksheets[k]
        df = dict_[k].copy()
        df.drop(['sku id','combo'],1,inplace = True)
        df = df.loc[:,(df != 0).any(0)].copy()

        try:
            df.drop('timestamp',1,inplace = True)
        except:
            pass

        start_row = 0
        start_col = 0
        for col in range(len(df.columns)):

            c = df.columns[col]

            if c in 'actual stock|quarter sales|days of stock':
                fmt = num
            elif c in 'daily sales':
                fmt = num2
            elif c == 'latest cost per unit':
                fmt = mon1
            elif c == 'cost of inventory':
                fmt = mon2
            else:
                fmt = dummy

            worksheet.write(start_row, start_col + col, df.columns[col])
            worksheet.set_column(start_col + col, start_col + col,
                                 np.max([len(str(x)) for x in df.iloc[:,col]] + [len(df.columns[col])]) + 1)        

            for row in range(len(df)):
                worksheet.write(start_row + 1 + row, start_col + col, df.iloc[row, col], fmt)

        # add in a column filter
        worksheet.autofilter(start_row, start_col, start_row + len(df), start_col + len(df.columns) - 1)

    workbook.close()
    
print('done')

# Freebies Estimates for Q4 2018
* From [Adafruit Freebies page](https://www.adafruit.com/free):
* The free shipping is UPS ground, USA only, continental USA. 
* Any discount codes and special free offers are not available for purchase orders (educational/school purchases), resellers, and makerspace/hackerspaces that are resellers. 
* Gift certificates and AdaBox subscriptions do not count towards the order value for free items. 
* Shipping costs do not count towards free items.
* Discount codes do not apply to shipping costs.
* Discount codes do not apply to gift certificates and AdaBox subscriptions. 
* A discount code does not change the free offer status, any discounts are applied after free offer is added to cart.
*****
# Note
* For now we are only concerned with the \$150 and \$250 tiers during Oct, Nov, and Dec 2018

In [12]:
import sys
sys.path.insert(0,'/Users/jarad/fake_folder/Python Libraries')

from jb_libraries import *
%matplotlib inline

import seaborn as sns

### View order statuses

In [13]:
os = pd.read_sql(
'''
SELECT
*
FROM orders_status
ORDER BY orders_status_id
''', db)

In [14]:
#os

### View po numbers

In [15]:
po = pd.read_sql(
'''
SELECT
orders_po_number,
COUNT(orders_po_number) AS count
FROM orders
GROUP BY orders_po_number
ORDER BY count DESC 
LIMIT 5
''', db)

In [16]:
#po

### Exclude gift certificates and AdaBox subscription PN

In [17]:
ex = pd.read_sql(
'''
SELECT
*
FROM products_description
WHERE products_name LIKE '%gift%' 
OR products_name LIKE '%partnership%' 
OR part_id = 3067
''', db)

col_fix(ex)

### Get orders data

In [18]:
total = pd.read_sql(
'''
SELECT
SUM(value) AS ot_order_subtotal,
COUNT(*) AS ot_order_count
FROM orders_total ot
JOIN orders o ON ot.orders_id = o.orders_id
AND DATE(date_purchased) BETWEEN '2016-01-01' AND '2018-09-30'
AND orders_status NOT IN (8,9,10,11,12,13,14,15)
WHERE class = 'ot_subtotal'
''', db)

col_fix(total)

In [19]:
orders_main = pd.read_sql(
'''
SELECT
DATE(date_purchased) AS date_purchased,
DATE_FORMAT(date_purchased, '%Y-%m') AS year_and_month,
o.orders_id,
part_id,
products_quantity - products_quantity_free AS qty_bought,
products_price,
(products_quantity - products_quantity_free) * products_price AS revenue,
shipping_module_code
FROM orders o
JOIN orders_products op ON o.orders_id = op.orders_id
AND part_id NOT IN '''+ str(tuple(ex['part id'].tolist())) +''' 
WHERE DATE(date_purchased) BETWEEN '2016-01-01' AND '2018-09-30'
AND orders_status NOT IN (8,9,10,11,12,13,14,15)
AND orders_reseller = 0
AND orders_super_reseller = 0
AND orders_fake = 0
AND orders_po_number  IN ('','n/a')
''', db)

col_fix(orders_main)

### Check proportions real quick

In [20]:
v1 = total['ot order subtotal']
v2 = orders_main['revenue'].sum()

v3 = (v2/v1).values[0]

print('so resellers, supers, gift certs, adabox subs, partnerships, fake orders, and POs make up {:,.2f}% of revenue'.format((1-v3) * 100))

so resellers, supers, gift certs, adabox subs, partnerships, fake orders, and POs make up 39.26% of revenue

### Structure it

In [21]:
# get the revenue per OID
orders = orders_main.groupby('orders id', as_index = False)[['revenue']].sum()
orders.rename(columns = {'revenue':'order subtotal'}, inplace = True)

for col in ['date purchased','shipping module code']:
    orders[col] = orders['orders id'].map(dict(list(zip(orders_main['orders id'], orders_main[col]))))

# fix some dates
orders['date purchased'] = pd.to_datetime(orders['date purchased'])
orders['year and month'] = orders['date purchased'].map(str).str[:7]
orders['year and quarter'] = orders['date purchased'].map(str).str[:4] + '-Q' + orders['date purchased'].dt.quarter.map(str)

### Get only Q4 data

In [22]:
q = 'Q4'
orders2 = orders[orders['year and quarter'].str.contains(q)].copy()

### Determine freebies based on order values

In [23]:
d = orders2['order subtotal'].to_dict()
ls = []
d2 = {}

for k,v in d.items():
    if v < 150:
        ret = 'no freebie'
    elif v >= 150 and v < 250:
        ret = 'one freebie'
    else:
        ret = 'two freebies'
        
    d2[k] = ret
    
orders2['tier'] = orders2.index.to_series().map(d2)

In [24]:
if np.sum(orders2['tier'].isnull()) == 0:
    print('no nulls')
else:
    print('nulls')

no nulls

### Group by date purchased
Recall that we are using only Q4 data!

In [25]:
by_date = orders2.groupby(['date purchased','tier'])[['tier']].count().unstack(1)
by_date.columns = by_date.columns.droplevel(0)
by_date['total orders'] = by_date.sum(1)

### Check total count

In [26]:
v1 = by_date['total orders'].sum()
v2 = len(set(orders_main[orders_main['orders id'].isin(orders2['orders id'].tolist())]['orders id']))

if v1 == v2:
    print('match')
else:
    print('mismatch')

match

### Confidence Intervals per day

In [27]:
conf_main = by_date.copy() # Recall that we are using only Q4 data!
n = 30
np.random.seed(100)
ix = np.random.randint(0, len(conf_main), n).tolist()

sample = conf_main.iloc[ix] # choose a random sample of 30 days, or one month out of your Q4 data
mean = sample.mean()
s = sample.std()
z = 1.96
lower = mean - z * (s/np.sqrt(n))
upper = mean + z * (s/np.sqrt(n))

intervals = pd.DataFrame()

print('95% confidence intervals for daily order counts per freebie tier during Q4 only')
intervals = pd.DataFrame({'lower':lower,'mean':mean,'upper':upper})
intervals.format_(['n0'] * 3)

95% confidence intervals for daily order counts per freebie tier during Q4 only

             Lower Mean  Upper
tier
no freebie     711  825    940
one freebie     54   71     87
two freebies    41   52     63
total orders   808  948  1,088

### Confidence intervals per month

In [28]:
print('95% confidence intervals for monthly order counts per freebie tier during Q4 only')
intervals_per_month = intervals * n
intervals_per_month.format_(['n0'] * 3)

95% confidence intervals for monthly order counts per freebie tier during Q4 only

               Lower    Mean   Upper
tier
no freebie    21,316  24,753  28,190
one freebie    1,614   2,117   2,620
two freebies   1,235   1,559   1,883
total orders  24,226  28,429  32,632

### Check confidence intervals by month

In [29]:
by_month = orders2.groupby(['year and month','tier'])[['tier']].count().unstack()
by_month.columns = by_month.columns.droplevel(0)
by_month['total orders'] = by_month.sum(1)

by_month.format_(['n0'] * 4)

               No Freebie One Freebie Two Freebies Total Orders
year and month
2016-10            22,529       1,734        1,332       25,595
2016-11            27,842       2,338        1,526       31,706
2016-12            27,465       1,996        1,149       30,610
2017-10            20,316       1,864        1,436       23,616
2017-11            23,711       2,141        1,706       27,558
2017-12            24,409       1,475        1,235       27,119

In [30]:
results = pd.DataFrame(index = by_month.index)

for col in by_month.columns:
    ls = []
    for ix in by_month.index:
        actual = by_month.loc[ix,col]
        lower = intervals_per_month.loc[col,'lower']
        upper = intervals_per_month.loc[col,'upper']
        
        # if actual is within the interval, that's 1 point
        if np.logical_and(actual >= lower, actual <= upper): 
            ret = 1
        else:
            # if actual is less than the lower estimate, we still have enough to cover the actual, so this is a win
            if actual < lower: 
                ret = 1
            # if actual is greater than upper, then I have underestimated, so that's zero points
            elif actual > upper: 
                ret = 0
                
        ls.append(ret)
        
    results[col] = ls
    
print('proportions of values within their confidence intervals OR below their lower estimate\n')    
div = len(results)
print(results.sum()/div)

proportions of values within their confidence intervals OR below their lower estimate

no freebie      1.0
one freebie     1.0
two freebies    1.0
total orders    1.0
dtype: float64

### Final output
Freebie A will be given away at the first tier

Freebie A and Freebie B will be given away at the second tier

So the qty we need of Freebie A will be (qty @ first tier + qty @ second tier)

And the qty needed of Freebie B will be qty @ second tier

In [31]:
for_final = intervals_per_month.loc[['one freebie','two freebies']].copy()
one, two = for_final.values

final = pd.DataFrame(columns = ['lower','mean','upper'], 
                     data = [one + two, two], 
                     index = ['@ $150 tier','@ $250 tier'])
final.index.names = ['total qty needed']
print('total count of estimated freebies per month during Q4 2018')
final.format_(['n0'] * 3)

total count of estimated freebies per month during Q4 2018

                  Lower   Mean  Upper
total qty needed
@ $150 tier       2,849  3,676  4,503
@ $250 tier       1,235  1,559  1,883

In [32]:
print('total count of estimated freebies per day during Q4 2018')
(final/30).format_(['n0'] * 3)

total count of estimated freebies per day during Q4 2018

                 Lower Mean Upper
total qty needed
@ $150 tier         95  123   150
@ $250 tier         41   52    63

### Explore findings
Recall that orders2 is just Q4 data!

In [33]:
orders2.groupby(['date purchased','tier'])[['tier']].count().unstack().describe()

              tier
tier    no freebie one freebie two freebies
count   184.000000  184.000000   184.000000
mean    794.956522   62.760870    45.565217
std     367.990746   35.161725    24.457526
min     290.000000   10.000000     5.000000
25%     619.750000   41.000000    23.750000
50%     759.000000   63.000000    50.000000
75%     890.250000   75.000000    60.000000
max    4184.000000  287.000000   176.000000