In [1]:
import sys
sys.path.insert(0,'/Users/jarad/fake_folder/Python Libraries')
from jb_libraries import *
%matplotlib inline

close_workbook = 'yes'

#report_type = 'other'
report_type = 'year and month'
#report_type = 'year and quarter'

title = '2018 - 10 - Oct - Gross Sales Report.xlsx'
#title = '2018-06-01 to 2018-08-31 - Gross Sales Report.xlsx'
#title = '2018 - Q3 - Gross Sales Report.xlsx'

date_start = '2018-10-01'
date_end = '2018-10-31'

if report_type == 'year and month':
    pretty_date = []
    dt = calendar.month_abbr[int(date_start[5:7])] + ' ' + date_start[:4]
    pretty_date.append(dt)     
else:
    ls = pd.date_range(date_start, date_end, freq = 'MS').tolist()
    pretty_date = [calendar.month_abbr[int(str(x)[5:7])] + ' ' + str(x)[:4] for x in ls]

# REMINDER
check to make sure that in orders_total that ot_total is the actual total of the OID

an ot_coupon value is positive but the ot_total should treat it like it's negative

check this because you turn some classes negative and you make your own total column

consider NOT doing this and taking the total to be ot_total

### Check our order statuses

In [2]:
os = pd.read_sql(
'''
SELECT
orders_status_id,
orders_status_name
FROM orders_status
ORDER BY orders_status_id
''', db)

col_fix(os)

os

    orders status id     orders status name
0                  1                Pending
1                  2             Processing
2                  3                Shipped
3                  4                 Update
4                  5                Printed
5                  6                 Billed
6                  7       Payment Received
7                  8        Fraud - Pending
8                  9      Fraud - Confirmed
9                 10                 Return
10                11     Replaced Defective
11                12     Refunded Defective
12                13  No Shipment Necessary
13                14                 Voided
14                15           Fraud - Void

### Check out billing statutes

In [3]:
bs = pd.read_sql(
'''
SELECT
bs_status_id,
bs_status_name
FROM billing_status
ORDER BY bs_status_id
''', db)

col_fix(bs)

#bs

### Get sales

In [4]:
sales_super_main = pd.read_sql(
'''
SELECT
DATE(o.date_purchased) AS date_purchased,
DATE_FORMAT(o.date_purchased, '%Y-%m') AS year_and_month,
ot.*,
bs.bs_status_name
FROM orders_total ot
JOIN orders o ON ot.orders_id = o.orders_id
AND orders_status NOT IN (8,9,10,11,12,14,15)
AND payment_method != 'Replacement Order'
AND DATE(o.date_purchased) BETWEEN ' '''+ date_start +''' ' AND ' '''+ date_end +''' '
JOIN billing_status bs ON o.orders_billing_status = bs.bs_status_id
''', db)

col_fix(sales_super_main)

In [5]:
print('check out the classes\n')
print(sales_super_main['class'].value_counts())

check out the classes

ot_subtotal            22704
ot_total               22704
ot_shipping            22704
ot_tax                 15565
ot_ddp                  1200
ot_coupon                892
                         594
ot_gv                     40
ot_check_fee              23
ot_wiretransfer_fee       16
ot_deduction               1
Name: class, dtype: int64

In [39]:
sales_super_main[sales_super_main['class'] == '']['value'].sum()

0.0

### Sanity check, if needed

In [34]:
one_year_ago = str((pd.to_datetime(date_end) - pd.DateOffset(months = 12)).date())[:7] + '-01'

In [35]:
run_this = 'yes'

if run_this == 'yes':
    ds = pd.read_sql(
    '''
    SELECT
    DATE_FORMAT(timestamp, '%Y-%m') AS year_and_month,
    SUM(d_value) AS ds_rev
    FROM daily_stats
    WHERE DATE(timestamp) BETWEEN ' '''+ one_year_ago +''' ' AND ' '''+ date_end +''' '
    AND d_class = 'd_all'
    GROUP BY DATE_FORMAT(timestamp, '%Y-%m') 
    ''', db)

    ot = pd.read_sql(
    '''
    SELECT
    DATE_FORMAT(date_purchased, '%Y-%m') AS year_and_month,
    SUM(value) AS ot_rev
    FROM orders_total ot
    JOIN orders o ON ot.orders_id = o.orders_id
    AND DATE(date_purchased) BETWEEN ' '''+ one_year_ago +''' ' AND ' '''+ date_end +''' '
    AND orders_status NOT IN (8,9,10,11,12,14,15)
    AND payment_method != 'Replacement Order'
    WHERE class = 'ot_subtotal'
    GROUP BY DATE_FORMAT(date_purchased, '%Y-%m')
    ''', db)

    op = pd.read_sql(
    '''
    SELECT
    DATE_FORMAT(date_purchased, '%Y-%m') AS year_and_month,
    SUM((products_quantity - products_quantity_free) * products_price) AS op_rev
    FROM orders_products op
    JOIN orders o ON op.orders_id = o.orders_id
    AND DATE(date_purchased) BETWEEN ' '''+ one_year_ago +''' ' AND ' '''+ date_end +''' '
    AND orders_status NOT IN (8,9,10,11,12,14,15)
    AND payment_method != 'Replacement Order'
    GROUP BY DATE_FORMAT(date_purchased, '%Y-%m')
    ''', db)

    col_fix(ds)
    col_fix(ot)
    col_fix(op)

    df = pd.merge(ot,ds,on = 'year and month').merge(op,on = 'year and month')
    print(df.format_([0,'n0','n0','n0']))

   Year And Month     Ot Rev     Ds Rev     Op Rev
0         2017-10  3,698,425  3,698,425  3,698,057
1         2017-11  4,346,924  4,346,924  4,344,983
2         2017-12  3,929,416  3,929,415  3,926,969
3         2018-01  3,539,520  3,539,520  3,538,819
4         2018-02  3,312,539  3,312,539  3,309,758
5         2018-03  4,370,265  4,370,265  4,366,918
6         2018-04  3,705,791  3,705,969  3,703,936
7         2018-05  3,934,945  3,934,945  3,934,183
8         2018-06  3,272,854  3,272,854  3,272,137
9         2018-07  3,449,179  3,449,220  3,448,533
10        2018-08  3,142,594  3,142,594  3,142,176
11        2018-09  3,083,782  3,083,782  3,081,714
12        2018-10  4,204,413  4,205,927  4,204,045

### Clean up sales data

In [7]:
# make a copy to keep the original, for reference if needed
sales_main = sales_super_main.copy()

# create date columns
sales_main['date purchased'] = pd.to_datetime(sales_main['date purchased'])
sales_main['year and month'] = [str(x)[:7] for x in sales_main['date purchased']]
sales_main['year and quarter'] = sales_main['date purchased'].dt.year.map(str) + '-0' + sales_main['date purchased'].dt.quarter.map(str)

# clean orders_totals "class"
sales_main['class'] = sales_main['class'].str.replace('ot_','').str.replace('_',' ')

# if the text begins with a minus sign, then the value is negative
# if the class is "refund" or "coupon" or "deduction", then the value should be negative
# if title = 'store credit', then the value should be negative
ls = ['refund','coupon','deduction']
sales_main['value'] = np.where((sales_main['text'].str.contains('^-')) | (sales_main['class'].isin(ls) | (sales_main['title'].str.contains('store credit', case = False))),
                               sales_main['value'] * -1,
                               sales_main['value'])

### Sales by OID; get mismatches

In [8]:
# group by OID and class
by_oid = sales_main.groupby(['orders id','class'])[['value']].sum().unstack(1).fillna(0)
by_oid.columns = by_oid.columns.droplevel(0)

# if it's an adabox subscription charge, the total does not equal the sum
# so make the total = SUM(parts)
by_oid['total'] = by_oid.sum(1) - by_oid['total']

# drop all zeros
drop_ls = by_oid.loc[:,(by_oid == 0).all()].columns.tolist()
by_oid.drop(drop_ls,1,inplace = True)

by_oid['date purchased'] = by_oid.index.to_series().map(dict(zip(sales_super_main['orders id'], sales_super_main['date purchased'])))

# move some columns
cols = by_oid.columns.tolist()
for x in ['date purchased','subtotal','shipping','total']:
    cols.remove(x)
cols = ['date purchased','subtotal'] + cols + ['shipping','total']

by_oid = by_oid[cols]
by_oid['bs status name'] = by_oid.index.to_series().map(dict(zip(sales_main['orders id'], sales_main['bs status name'])))

# get where the sum of lines != the total listed in orders_total
mismatch = by_oid[np.abs((by_oid.sum(1) - by_oid['total']) - by_oid['total']) > 1].copy()

tot_mis = len(set(mismatch.index))
tot_count = len(set(sales_super_main['orders id']))

print('{:,.0f} mismatche(s)\n{:,.0f} total OIDs\nthat\'s {:,.2f}% of the total count\n'.format(tot_mis, tot_count, tot_mis/tot_count * 100))

0 mismatche(s)
22,704 total OIDs
that's 0.00% of the total count

### Sales by class

In [9]:
# recall that your sales_main df is now clean, as in there are no mismatches on the OID level
by_class = sales_main.groupby(['year and month','class'])[['value']].sum().unstack(1).fillna(0)
by_class.columns = by_class.columns.droplevel(0)

# if the OID is an adabox shipment, the orders_total.total != SUM(orders_total)
by_class['total'] = by_class.sum(1) - by_class['total']

# some columns have all zeros; drop them
zero_cols = by_class.loc[:, (by_class == 0).all()].columns[0]
by_class.drop(zero_cols, 1, inplace = True)

# move some columns
cols = by_class.columns.tolist()
for x in ['subtotal','shipping','total']:
    cols.remove(x)
cols = ['subtotal'] + cols + ['shipping','total']
   
by_class = by_class[cols]
by_class.index = pretty_date

if report_type == 'year and quarter':
    by_class.loc['total'] = by_class.sum()
    
by_class = by_class.reset_index().rename(columns = {'index':'date'})

In [10]:
by_class.format_([0] + ['m0'] * (len(by_class.columns) - 1))

,Date,Subtotal,Check Fee,Coupon,Ddp,Deduction,Gv,Tax,Wiretransfer Fee,Shipping,Total
0,Oct 2018,"$4,204,413",$460,"$-14,819","$20,549",$-16,"$-2,431","$57,520",$400,"$254,698","$4,520,774"

### Check

In [11]:
if report_type == 'year and month':
    if np.abs(by_oid['total'].sum() - by_class['total'].values[0]) < 1:
        print('match')
    else:
        print('mismatch')
        
    a = sales_main[sales_main['class'] != 'total']['value'].sum()
    b = by_oid['total'].sum()
    c = by_class['total'].values[0]

    if (np.round(a) + np.round(b) + np.round(c))/np.round(a) == 3:
        print('match')
    else:
        print('mismatch')        
        
elif report_type == 'year and quarter':
    if np.abs(by_oid['total'].sum() - by_class[by_class['date'] == 'total']['total'].values[0]) < 1:
        print('match')
    else:
        print('mismatch')    
        
    a = sales_main[sales_main['class'] != 'total']['value'].sum()
    b = by_oid['total'].sum()
    c = by_class[by_class['date'] == 'total']['total'].values[0]

    if (np.round(a) + np.round(b) + np.round(c))/np.round(a) == 3:
        print('match')
    else:
        print('mismatch')

match
match

### Write to excel

In [12]:
if close_workbook == 'yes':
    writer = pd.ExcelWriter(title, engine = 'xlsxwriter')
    by_oid.to_excel(writer, 'by OID', index = False)
    by_class.to_excel(writer, 'by ' + report_type, index = False)
    writer.save()

In [13]:
print('done')

done

# State-by-State Sales Numbers - Sales Tax
* Started July 6,2018
* Continued July 18, 2018
*****
### From Stella:
* From email with subject line "state-by-state sales numbers - sales tax"
* Please run state-by-state gross sales and number of sales transactions for the whole of 2017. Break up by month and then have a grand total (sum of all months) for the annual. You can create one workbook with one tab per state. If you'd prefer to configure the workbook in a different way, please feel free.
* We can pull 2018 Q1 and Q2 numbers after the completion of this month (June). It would have the same format - broken down by month and then total sum of all months.

### State and abbrev dict

In [14]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
    'District Of Columbia':'DC',
}

### Get state data

In [15]:
states_main = pd.read_sql(
'''
SELECT
orders_id,
customers_state,
customers_postcode,
customers_country
FROM orders
WHERE DATE(date_purchased) >= '2017-01-01'
''', db)

col_fix(states_main)

### Clean it up and map it

In [16]:
# cast to lowercase
states_main['customers country'] = [x.lower() for x in states_main['customers country']]

# strip whitespace
for col in ['state','country']:
    states_main['customers ' + col] = [x.strip() for x in states_main['customers ' + col]]

# print these, just to see
print('states before extracting just "united states"\n')
print(set(states_main['customers country'][states_main['customers country'].str.contains('united')]))

# consider only this 
states_main = states_main[states_main['customers country'] == 'united states']

# clean state abbrevs
def state_clean(x):
    if len(x['customers state']) == 2:
        state = x['customers state'].upper()
    else:
        state = x['customers state'].title()
    return state
states_main['customers state'] = states_main.apply(state_clean, axis = 1)

# map
states_main['state name'] = states_main['customers state'].replace(us_state_abbrev.values(), us_state_abbrev.keys())

# find true states 
states_main['is state'] = np.where(states_main['state name'].isin(us_state_abbrev.keys()), 'yes','no')

# save for later viewing, if needed
exclude = list(set(states_main[states_main['is state'] == 'no']['customers state']))
print('\nexcluded "states"')
print(exclude)

# map state date to main data
# recall that your sales_main df does not have any mismatches on the OID level
for x in ['state name','is state']:
    sales_main[x] = sales_main['orders id'].map(dict(zip(states_main['orders id'], states_main[x])))

states before extracting just "united states"

{'united kingdom', 'united states', 'united states minor outlying islands', 'united arab emirates'}

excluded "states"
['AE', 'American Samoa', 'GU', 'Virginiaflorida', 'Puerto Rico', 'Armed Forces Europe', 'Armed Forces Americas', 'Northern Mariana Islands', 'MP', 'Armed Forces Pacific', 'Federated States Of Micronesia', 'AA', 'Boaz', 'Guam', 'Alberta', 'Virgin Islands', 'South Beach', 'VI', 'PR', 'Exeter', 'AP']

### Excluded "states"

In [17]:
states_main[states_main['is state'] == 'no'].groupby('state name')[['orders id']].count().sort_values('orders id', ascending = False)

                                orders id
state name
Puerto Rico                           338
Armed Forces Europe                   201
Armed Forces Pacific                  185
PR                                    113
AE                                    100
AP                                     71
Armed Forces Americas                  25
Virgin Islands                         13
AA                                      9
VI                                      6
GU                                      6
Guam                                    3
American Samoa                          2
South Beach                             1
Federated States Of Micronesia          1
Northern Mariana Islands                1
MP                                      1
Exeter                                  1
Boaz                                    1
Alberta                                 1
Virginiaflorida                         1

### Separate what is and is not "gross", as per Stella

In [18]:
gross = ['check fee',
        'ddp',
        'production fee',
        'refund reversal',
        'shipping',
        'subtotal',
        'tax',
        'wiretransfer fee']

not_gross = list(set(sales_main['class']) - set(gross))

for x in ['','total']:
    not_gross.remove(x)

### Write to excel

In [19]:
try:
    # make nice columns
    cols = list(set(sales_main['class']))
    for x in ['subtotal','shipping','tax','total','']:
        cols.remove(x)
    cols = ['subtotal'] + cols + ['shipping','tax','total']

    # start to write
    title = 'State-by-State Sales Numbers - Sales Tax - v1'
    workbook = xlsxwriter.Workbook(title + '.xlsx')

    # set formats
    set_col = 18
    money = workbook.add_format({'num_format': '$#,##0'})
    number = workbook.add_format({'num_format': '#,##0'})
    header = workbook.add_format({'bold': True, 'valign': 'center', 'align':'center'})
    merge = workbook.add_format({'bold': True, 'valign': 'center', 'align':'center', 'bg_color':'#e0ffff','font_size':14,'border':1})

    conf_dict = {}

    # create summary sheet
    worksheet = workbook.add_worksheet('Summary')

    # create confidence intervals for each state
    df1 = sales_main[(sales_main['is state'] == 'yes')
                  & (sales_main['class'].isin(gross))].copy()

    df2 = df1.groupby(['year and month','state name'])[['value']].sum().unstack(1).fillna(0)
    df2.columns = df2.columns.droplevel(0)

    d = {}
    for col in df2.columns:
        x_bar = df2[col].mean()
        s = df2[col].std()
        n = len(df2[col])

        deg_freed = n - 1
        phi = stats.t.ppf(0.95, deg_freed)

        lower = x_bar - phi * (s/np.sqrt(n))
        upper = x_bar + phi * (s/np.sqrt(n))

        d[col] = [lower,x_bar,upper]

    df3 = pd.DataFrame(d).T
    df3.reset_index(inplace = True)
    df3.columns = ['state','lower 95%','avg','upper 95%']

    start_row = 0
    start_col = 0

    # write it
    worksheet.merge_range(start_row, start_col, start_row, start_col + len(df3.columns) - 1, '95% confidence intervals for avg gross charge per month', merge)        
    for i in range(len(df3.columns)):
        worksheet.write(start_row + 1, start_col + i, df3.columns[i], header)
        for j in range(len(df3)):
            worksheet.write(start_row + 2 + j, start_col + i, df3.iloc[j,i], money)

    worksheet.set_column(0,100,15)

    # create "by year" summary for gross charges
    df4 = sales_main[(sales_main['is state'] == 'yes')
                  & (sales_main['class'].isin(gross))].copy()

    df4['year'] = [x[:4] for x in df4['year and month']]
    df5 = df4.groupby(['year','state name'])[['value']].sum().unstack(1).fillna(0)
    df5.columns = df5.columns.droplevel(0)
    df5 = df5.T
    df5.reset_index(inplace = True)
    df5['total'] = df5.sum(1)

    start_row = 0
    start_col = len(df3.columns) + 1

    worksheet.merge_range(start_row, start_col, start_row, start_col + len(df5.columns) - 1, 'gross charges by year', merge)        
    for i in range(len(df5.columns)):
        worksheet.write(start_row + 1, start_col + i, df5.columns[i], header)
        for j in range(len(df5)):
            worksheet.write(start_row + 2 + j, start_col + i, df5.iloc[j,i], money)

    # create "by year" summary for order count
    df6 = sales_main[(sales_main['is state'] == 'yes')
                  & (sales_main['class'].isin(gross))].copy()

    df6['year'] = [x[:4] for x in df6['year and month']]
    df7 = df6.groupby(['year','state name'])[['orders id']].nunique().unstack(1).fillna(0)
    df7.columns = df7.columns.droplevel(0)
    df7 = df7.T
    df7.reset_index(inplace = True)
    df7['total'] = df7.sum(1)

    start_row = 0
    start_col = len(df3.columns) + len(df5.columns) + 2

    worksheet.merge_range(start_row, start_col, start_row, start_col + len(df7.columns) - 1, 'order counts by year', merge)        
    for i in range(len(df7.columns)):
        worksheet.write(start_row + 1, start_col + i, df7.columns[i], header)
        for j in range(len(df7)):
            worksheet.write(start_row + 2 + j, start_col + i, df7.iloc[j,i], number)

    # write some notes about gross charges    
    start_row = 0
    start_col = len(df3.columns) + len(df5.columns)+ len(df7.columns) + 3

    worksheet.merge_range(start_row, start_col, start_row, start_col + 2, 'notes on gross charges', merge)    
    worksheet.write(start_row + 1, start_col, 'gross charges include:')
    for i in range(len(gross)):
        worksheet.write(start_row + 2 + i, start_col, gross[i])

    start_row = start_row + len(gross) + 3
    worksheet.write(start_row, start_col, 'gross charges do not include:')
    for i in range(len(not_gross)):
        worksheet.write(start_row + 1 + i, start_col, not_gross[i])

    # loop through each state for subsequent tabs
    ls = sorted(list(set(sales_main['state name'][sales_main['is state'] == 'yes'])))
    for state in ls:

        # create worksheet
        worksheet = workbook.add_worksheet(state)

        # structure data
        main_df = sales_main[sales_main['state name'] == state]    

        # get $$
        df1 = main_df.groupby(['year and month','class'])[['value']].sum().unstack(1).fillna(0)
        df1.columns = df1.columns.droplevel(0)

        # make uniform cols, whether or not there are values
        for col in cols:
            if col not in list(df1.columns):
                df1[col] = 0

        df1 = df1[cols]
        # exclude "not gross"
        df1.drop(not_gross, 1, inplace = True)

        # drop old total and make new one with just "gross" columns
        df1.drop('total', 1, inplace = True)
        df1['total'] = df1[gross].sum(1)

        # get OID count
        df2 = main_df.groupby('year and month')[['orders id']].nunique()
        df2.columns = ['unique oid count']

        df = df1.join(df2)
        df.loc['total'] = df.sum()
        df.reset_index(inplace = True) 

        start_row = 0
        start_col = 0    

        worksheet.merge_range(start_row, start_col, start_row, start_col + len(df.columns) - 1, 'gross charges by month', merge)        
        for i in range(len(df.columns)):
            worksheet.write(start_row + 1, start_col + i, df.columns[i], header)
            for j in range(len(df)):
                if df.columns[i] == 'unique oid count':
                    fmt = number
                else:
                    fmt = money
                worksheet.write(start_row + 2 + j, start_col + i, df.iloc[j,i], fmt)

        worksheet.set_column(0,100,15)    

        # by year
        df.drop(df[df['year and month'] == 'total'].index, inplace = True)
        df['year'] = df['year and month'].str[:4]    
        by_year = df.groupby('year')[['total','unique oid count']].sum()    
        by_year.loc['total'] = by_year.sum()
        by_year.reset_index(inplace = True)

        start_row = 0
        start_col = len(df.columns)

        worksheet.merge_range(start_row, start_col, start_row, start_col + len(by_year.columns) - 1, 'totals by year', merge)    
        for i in range(len(by_year.columns)):
            worksheet.write(start_row + 1, start_col + i, by_year.columns[i], header)
            for j in range(len(by_year)):
                if by_year.columns[i] == 'total':
                    fmt = money
                else:
                    fmt = number
                worksheet.write(start_row + 2 + j, start_col + i, by_year.iloc[j,i], fmt)    

        # create confidence interval for gross charge and oid count
        confidence = pd.DataFrame(columns = ['lower 95%','avg','upper 95%'])

        for thing in ['total','unique oid count']:

            x_bar = df[thing].mean()
            s = df[thing].std()
            n = len(df)

            deg_freed = n - 1
            phi = stats.t.ppf(0.95, deg_freed)

            lower = x_bar - phi * (s/np.sqrt(n))
            upper = x_bar + phi * (s/np.sqrt(n))

            confidence.loc[thing] = [lower, x_bar, upper]

        confidence.rename(index = {'total':'gross charge'}, inplace = True)
        confidence.index.name = ''
        confidence.reset_index(inplace = True)      

        # write confidence interval
        start_row = 0
        start_col = len(df.columns) + len(by_year.columns) + 1

        worksheet.merge_range(start_row, start_col, start_row, start_col + len(confidence.columns) - 1, '95% confidence intervals for avg per month', merge)
        for i in range(len(confidence.columns)):
            worksheet.write(start_row + 1, start_col + i, confidence.columns[i], header)
            for j in range(len(confidence)):
                if confidence.iloc[j][''] == 'unique oid count':
                    fmt = number
                else:
                    fmt = money
                worksheet.write(start_row + 2 + j, start_col + i, confidence.iloc[j,i], fmt)

        confidence.rename(columns = {'':state}, inplace = True)
        conf_dict[state] = confidence

        # write some notes about gross charges    
        start_row = 0
        start_col = len(df.columns) + len(by_year.columns) + len(confidence.columns) + 2

        worksheet.merge_range(start_row, start_col, start_row, start_col + 2, 'notes on gross charges', merge)    
        worksheet.write(start_row + 1, start_col, 'gross charges include:')
        for i in range(len(gross)):
            worksheet.write(start_row + 2 + i, start_col, gross[i])

        start_row = start_row + len(gross) + 3
        worksheet.write(start_row, start_col, 'gross charges do not include:')
        for i in range(len(not_gross)):
            worksheet.write(start_row + 1 + i, start_col, not_gross[i])

    workbook.close()        

except:
    pass

In [20]:
print('done')

done