In [60]:
import sys
sys.path.insert(0, '/Users/jarad')

import calendar

from db2 import *
import numpy as np
import pandas as pd
import xlsxwriter

In [61]:
date_start = '2017-07-01'
date_end = '2017-09-30'

title = '2017 - Q3 - Gross Sales.xlsx'

cur_date_name = '2017 - Q3'

In [62]:
ot = pd.read_sql(
'''
SELECT
DATE(o.date_purchased) AS date,
ot.orders_id,
ot.value,
ot.class
FROM orders_total ot
JOIN orders o ON ot.orders_id = o.orders_id
WHERE DATE(o.date_purchased) BETWEEN ' '''+ date_start +''' ' AND ' '''+ date_end +''' '
''', db)

In [63]:
ot['date'] = pd.to_datetime(ot['date'])
ot['month number'] = ot['date'].dt.month
ot['month'] = ot['date'].dt.strftime('%b')
ot['year'] = ot['date'].dt.year

In [64]:
gross = ot.groupby(['month number','month','year','orders_id','class']).agg({'value':'sum'}).unstack(level = [0,1,2,3]).T.reset_index().drop('level_0', 1)
gross.fillna(0, inplace = True)

In [65]:
gross.rename(columns = {'ot_check_fee':'Check Fee',
                        'ot_coupon':'Coupon',
                        'ot_ddp':'Export Fee',
                        'ot_gv':'Gift Certificate',
                        'ot_refund':'Refund',
                        'ot_shipping':'Shipping',
                        'ot_tax':'Tax',
                        'ot_total':'Total',
                        'ot_wiretransfer_fee':'Wire Transfer Fee',
                        '':'Misc.',
                        'orders_id':'Orders ID',
                        'ot_subtotal':'Subtotal',
                        'month':'Month',
                        'year':'Year'}, inplace = True)

In [66]:
gross['Month'].value_counts()

Sep    25322
Aug    24143
Jul    22084
Name: Month, dtype: int64

# Get refunds and merge

In [67]:
ot_refunds = pd.read_sql(
'''
SELECT
ot.orders_id AS 'Orders ID',
value AS Refund
FROM orders_total ot
JOIN orders o ON ot.orders_id = o.orders_id
WHERE class = 'ot_refund'
AND DATE(o.date_purchased) BETWEEN ' '''+ date_start +''' ' AND ' '''+ date_end +''' '
''', db)

cs_refunds = pd.read_sql(
'''
SELECT
orders_id AS 'Orders ID',
amount_refunded AS Refund
FROM cs_error_reports
WHERE orders_id IN '''+ str(tuple(gross['Orders ID'])) +'''
AND amount_refunded != 0
''', db)

refunds = pd.concat([ot_refunds, cs_refunds])

gross.drop('Refund', 1, inplace = True)
gross = pd.merge(gross, refunds, how = 'left', on = 'Orders ID' )
gross['Refund'].fillna(0, inplace = True)

In [68]:
gross.head()

,month number,Month,Year,Orders ID,Misc.,Check Fee,Coupon,Export Fee,Gift Certificate,Shipping,Subtotal,Tax,Total,Wire Transfer Fee,Refund
0,7,Jul,2017,1484055,0.0,0.0,0.0,0.0,0.0,9.09,9.45,0.000,18.540,0.0,0.0
1,7,Jul,2017,1484056,0.0,0.0,0.0,0.0,0.0,0.00,240.35,21.331,261.681,0.0,0.0
2,7,Jul,2017,1484057,0.0,0.0,0.0,0.0,0.0,7.12,83.85,0.000,90.970,0.0,0.0
3,7,Jul,2017,1484058,0.0,0.0,0.0,0.0,0.0,9.09,15.00,0.000,24.090,0.0,0.0
4,7,Jul,2017,1484059,0.0,0.0,0.0,0.0,0.0,9.09,48.05,0.000,57.140,0.0,0.0

In [69]:
gross[['Coupon','Gift Certificate','Refund']] = gross[['Coupon','Gift Certificate','Refund']].apply(lambda x: x * -1)

# for adabox shipments, ot_subtotal = 60 while ot_total = 0
# here we forget the provided ot_total column and make our own
gross.drop('Total',1,inplace = True)
gross = gross[['Year','Month','month number','Orders ID','Subtotal','Coupon','Gift Certificate','Refund','Check Fee','Wire Transfer Fee','Export Fee','Tax','Shipping']]
gross['Total'] = gross.iloc[:,4:15].sum(1)
gross = gross[['Year','Month','month number','Orders ID','Subtotal','Coupon','Gift Certificate','Refund','Check Fee','Wire Transfer Fee','Export Fee','Tax','Shipping','Total']]

In [70]:
gross_format = gross.copy()
gross_format = gross_format[['Year','Month','Orders ID','Subtotal','Coupon','Gift Certificate','Refund','Check Fee','Wire Transfer Fee','Export Fee','Tax','Shipping','Total']]

In [71]:
gross_format.head()

,Year,Month,Orders ID,Subtotal,Coupon,Gift Certificate,Refund,Check Fee,Wire Transfer Fee,Export Fee,Tax,Shipping,Total
0,2017,Jul,1484055,9.45,-0.0,-0.0,-0.0,0.0,0.0,0.0,0.000,9.09,18.540
1,2017,Jul,1484056,240.35,-0.0,-0.0,-0.0,0.0,0.0,0.0,21.331,0.00,261.681
2,2017,Jul,1484057,83.85,-0.0,-0.0,-0.0,0.0,0.0,0.0,0.000,7.12,90.970
3,2017,Jul,1484058,15.00,-0.0,-0.0,-0.0,0.0,0.0,0.0,0.000,9.09,24.090
4,2017,Jul,1484059,48.05,-0.0,-0.0,-0.0,0.0,0.0,0.0,0.000,9.09,57.140

In [72]:
by_month = gross.copy()

by_month = by_month.groupby(['Year','month number','Month']).sum().reset_index().drop('month number', 1)
by_month = by_month[['Year','Month','Subtotal','Coupon','Gift Certificate','Refund','Check Fee','Wire Transfer Fee','Export Fee','Tax','Shipping','Total']]

In [73]:
by_month = by_month.append(by_month.sum(), ignore_index = True)

by_month['Year'][3] = 'Totals'
by_month.set_value(3,'Month', '')

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

,Year,Month,Subtotal,Coupon,Gift Certificate,Refund,Check Fee,Wire Transfer Fee,Export Fee,Tax,Shipping,Total
0,2017,Jul,3148453.67,-12275.810,-7543.83,-923.08,340.0,425.0,12060.85,9557.0238,266866.16,3.416960e+06
1,2017,Aug,3482012.37,-14638.775,-9621.12,-1189.73,360.0,575.0,15358.64,11097.3650,287949.04,3.771903e+06
2,2017,Sep,3354047.55,-15565.540,-3746.43,-256.53,320.0,675.0,25881.30,9783.3250,265079.01,3.636218e+06
3,Totals,,9984513.59,-42480.125,-20911.38,-2369.34,1020.0,1675.0,53300.79,30437.7138,819894.21,1.082508e+07

In [74]:
writer = pd.ExcelWriter(title, engine='xlsxwriter')

gross_format.to_excel(writer, sheet_name = cur_date_name, startrow=7, startcol=1, index=False, header=True)
by_month.to_excel(writer, sheet_name = cur_date_name, startrow=7, startcol=16, index=False, header=True)

workbook = writer.book
worksheet1 = writer.sheets[cur_date_name]

numbers_format = workbook.add_format()
numbers_format.set_num_format('##,##0.00')

worksheet_title_format = workbook.add_format({
        'bold': 1,
        'font_size': 20})

table_title = workbook.add_format({
        'bold': 1,
        'border': 1,
        'align': 'center',
        'valign': 'vcenter',
        'bg_color': 'gray',
        'font_size': 18,
        'font_color': 'white'})

border = workbook.add_format({
        'top':6,
        'num_format':'##,##0.00'})

worksheet1.write('A1', cur_date_name + ' Gross Sales', worksheet_title_format)
worksheet1.merge_range('B7:N7', 'By Orders ID', table_title)
worksheet1.merge_range('Q7:AB7', 'Totals', table_title)

worksheet1.write('Q12', by_month.loc[3]['Year'], border)
worksheet1.write('R12', by_month.loc[3]['Month'], border)
worksheet1.write('S12', by_month.loc[3]['Subtotal'], border)
worksheet1.write('T12', by_month.loc[3]['Coupon'], border)
worksheet1.write('U12', by_month.loc[3]['Gift Certificate'], border)
worksheet1.write('V12', by_month.loc[3]['Refund'], border)
worksheet1.write('W12', by_month.loc[3]['Check Fee'], border)
worksheet1.write('X12', by_month.loc[3]['Wire Transfer Fee'], border)
worksheet1.write('Y12', by_month.loc[3]['Export Fee'], border)
worksheet1.write('Z12', by_month.loc[3]['Tax'], border)
worksheet1.write('AA12', by_month.loc[3]['Shipping'], border)
worksheet1.write('AB12', by_month.loc[3]['Total'], border)

worksheet1.set_column('A:AB', 15)
worksheet1.set_column('F:N', None, numbers_format)
worksheet1.set_column('S:AB', None, numbers_format)

worksheet1.write('A3', 'No types of orders have been excluded from this report', worksheet_title_format)
worksheet1.write('A4', 'The subtotal here (Col S) may be different than what you see in PLM. This is because of the way PLM is calculated. This is normal. For more specifics plz email Jarad@adafruit.com.')

writer.save()