In [1]:
import sys
sys.path.insert(0, '/Users/jarad')

import pandas as pd
import numpy as np
from db2 import *
import xlsxwriter

import matplotlib.pyplot as plt
%matplotlib inline

import calendar
import datetime as dt

pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000)

# Set start and end times

In [2]:
title = '2017 - 08 - Aug - Monthly Products Report.xlsx'

year_over_year_start_date = '2016-08-01'
year_over_year_end_date = '2017-08-31'

current_year = 2017
previous_year = 2016

current_month = 'August'
previous_month = 'July'
previous_period_year = 2017

# Get manufacturer data

In [3]:
all_products_manufacturers = pd.read_sql(
'''
SELECT
p.part_id AS PID,
m.manufacturers_name AS Manufacturer
FROM parts p
JOIN manufacturers m ON p.manufacturers_id = m.manufacturers_id
JOIN products_description pd ON p.part_id = pd.part_id
''', db)

# Get cost data

In [4]:
stripes_cost = pd.read_sql(
'''
SELECT
p.part_id,

CASE 
WHEN k.sku_outsourced_assembly = 1 THEN IF(pm.consigned_latest_cost = 0, pm.consigned_manual_cost, pm.consigned_latest_cost)
WHEN k.sku_outsourced_assembly = 0 THEN IF(pm.latest_cost = 0, pm.manual_cost, pm.latest_cost)
END AS latest_cost

FROM parts p
JOIN skus k ON p.products_stripe_of = k.part_id
JOIN products_manufacturing pm ON k.sku_id = pm.sku_id
WHERE p.products_stripes = 1
AND k.sku_status IN ('working','pending','deprecated')
ORDER BY p.products_stripe_of, products_stripe_qty DESC
''', db)

#=====

combos_cost_raw = pd.read_sql(
'''
SELECT
A.part_id,
A.contains_part_id,
AVG(A.pts_quantity * A.latest_cost) AS latest_cost
FROM

(
SELECT
p.part_id,
p.contains_part_id,
p.pts_quantity,

CASE 
WHEN k.sku_outsourced_assembly = 1 THEN IF(pm.consigned_latest_cost = 0, pm.consigned_manual_cost, pm.consigned_latest_cost)
WHEN k.sku_outsourced_assembly = 0 THEN IF(pm.latest_cost = 0, pm.manual_cost, pm.latest_cost)
END AS latest_cost

FROM products_to_stuff p
JOIN skus k ON p.contains_part_id = k.part_id
JOIN products_manufacturing pm ON k.sku_id = pm.sku_id
WHERE p.part_id != 0
AND k.sku_status IN ('working', 'deprecated', 'pending')
) A

GROUP BY A.part_id, A.contains_part_id

''', db)

combos_cost = combos_cost_raw.groupby('part_id').agg({'latest_cost':'sum'}).reset_index()

#=====

parts_cost_raw = pd.read_sql(
'''
SELECT
k.part_id,

CASE 
WHEN k.sku_outsourced_assembly = 1 THEN IF(pm.consigned_latest_cost = 0, pm.consigned_manual_cost, pm.consigned_latest_cost)
WHEN k.sku_outsourced_assembly = 0 THEN IF(pm.latest_cost = 0, pm.manual_cost, pm.latest_cost)
END AS latest_cost

FROM skus k
JOIN products_manufacturing pm ON k.sku_id = pm.sku_id

WHERE k.part_id != 0
AND k.sku_status IN ('working', 'deprecated', 'pending', 'obsolete')
''', db)

parts_cost = parts_cost_raw.groupby('part_id').agg({'latest_cost':'mean'}).reset_index()
    
#=====

all_products_cost = pd.concat([stripes_cost, combos_cost, parts_cost])
all_products_cost = all_products_cost.rename(columns = {'part_id':'PID'})

### The cost queries sometime return two part_ids with different latest_costs
* Below we sort by part_id, then by latest_cost, then drop the duplicate part_id while keeping the one with the highest latest_cost

In [5]:
all_products_cost.sort_values(['PID','latest_cost'], ascending = [True, True], inplace = True)
all_products_cost.drop_duplicates('PID', keep = 'last', inplace = True)

# Find all zero costs and view them to see why they are zero
* If there are only one or two we just move on
* If there are more we must address the issue and patch in self-made latest_costs

In [6]:
zero_cost = all_products_cost[all_products_cost['latest_cost'] == 0]

zero_cost_parts = pd.read_sql(
'''
SELECT
k.sku_date_modified,
k.sku_status,
k.sku,
k.part_id AS PID,
pm.latest_cost,
pm.manual_cost,
pm.inventory_cost,
pm.retail_cost,
pm.consigned_latest_cost,
pm.consigned_manual_cost,
pm.consigned_inventory_cost
FROM products_manufacturing pm
JOIN skus k ON pm.sku_id = k.sku_id
WHERE k.part_id IN '''+ str(tuple(zero_cost['PID'])) +'''
AND (pm.latest_cost != 0
OR pm.manual_cost != 0
OR pm.inventory_cost != 0
OR pm.retail_cost != 0
OR pm.consigned_latest_cost != 0
OR pm.consigned_manual_cost != 0
OR pm.consigned_inventory_cost != 0)
''', db)

In [7]:
zero_cost_parts

,sku_date_modified,sku_status,sku,PID,latest_cost,manual_cost,inventory_cost,retail_cost,consigned_latest_cost,consigned_manual_cost,consigned_inventory_cost
0,2016-12-20 17:17:23,pending,C9055-001,3359,0.0,0.005,0.005,0.0,0.0,0.0,0.0

# Get parent categories, stripes, BOM, and launch dates

In [8]:
main_parent_categories = pd.read_sql(
'''
SELECT
c1.parent_id AS parent_01,
c1.categories_id AS cat_01,
c3.categories_id AS cat_03
FROM categories c1, categories c2, categories c3
WHERE c1.parent_id = c2.categories_id
AND c1.categories_id = c3.parent_id
''', db)

pids_and_their_categories = pd.read_sql(
'''
SELECT
p.part_id,
IF(c.parent_id = 0, c.categories_id, c.parent_id) AS parent_id
FROM parts p, categories c
WHERE p.master_categories_id = c.categories_id
''', db)

parent_category_names = pd.read_sql(
'''
SELECT
categories_id,
categories_name
FROM
categories_description
''', db)

parent_categories_key = pids_and_their_categories.merge(main_parent_categories, how = 'left', left_on = 'parent_id', right_on = ('cat_01' or 'cat_02'))
parent_categories_key = parent_categories_key[['part_id','parent_id','parent_01']].drop_duplicates()
parent_categories_key['parent_01'] = np.where(parent_categories_key['parent_01'].isnull(), parent_categories_key['parent_id'],parent_categories_key['parent_01'])
parent_categories_key = parent_categories_key[['part_id','parent_01']]

parent_categories_key = parent_categories_key.merge(parent_category_names, how = 'left', left_on = 'parent_01', right_on = 'categories_id')
parent_categories_key = parent_categories_key[['part_id','categories_name']]
parent_categories_key = parent_categories_key.rename(columns = {'part_id':'PID'})

In [9]:
stripes = pd.read_sql(
'''
SELECT
part_id
FROM parts
WHERE products_stripes = 1
''', db)

stripes_list = np.array(list(stripes['part_id']))

In [10]:
bom = pd.read_sql(
'''
SELECT
sku_id,
part_id AS PID,
CASE WHEN sku_pnp = 1 AND sku_outsourced_assembly = 0 THEN 'Fab'
WHEN sku_kitted = 1 AND sku_outsourced_assembly = 0 THEN 'Kitting'
WHEN sku_outsourced_assembly = 1 THEN 'Outsourced'
WHEN sku_pnp = 0 AND sku_kitted = 0 AND sku_outsourced_assembly = 0 THEN 'Resale'
ELSE 'try again' END AS 'Department'
FROM skus
GROUP BY part_id
''', db)

In [11]:
bom = bom.loc[bom['PID'] != 0]

In [12]:
launch_dates = pd.read_sql(
'''
SELECT 
YEAR(p.date_created) AS 'Launch Year',
MONTHNAME(p.date_created) AS 'Launch Month',
p.part_id AS PID,
pd.products_name AS Name,
k.sku_status AS 'Sku Status',
k.sku_date_created AS 'Sku Date Created'
FROM parts p
JOIN skus k ON p.part_id = k.part_id AND k.sku_status IN ('working','pending')
JOIN 
(SELECT
part_id,
products_name
FROM products_description
GROUP BY part_id) pd ON p.part_id = pd.part_id
''', db)

### some part_ids are duplicated because they have two different sku_statuses
* here we sort by part_id, then sku_date created
* and we keep the most recent sku

In [13]:
launch_dates.sort_values(['PID','Sku Date Created'], ascending = [True, False], inplace = True)
launch_dates.drop_duplicates('PID', keep = 'first', inplace = True)

# Get sales data

In [14]:
all_products_raw = pd.read_sql(
'''
SELECT
YEAR(o.date_purchased) AS Year,
MONTHNAME(o.date_purchased) AS 'Month',
MONTH(o.date_purchased) AS 'Month Number',
DATE(o.date_purchased) AS Date,
o.orders_id,
op.part_id AS PID,
pd.products_name AS Name,
op.products_quantity AS Qty,
op.products_quantity_free AS 'Qty Free',
op.products_price AS Price,
o.orders_reseller,
o.orders_super_reseller,
o.customers_name,
o.customers_company
FROM orders o
LEFT JOIN orders_products op ON o.orders_id = op.orders_id
LEFT JOIN products_description pd ON op.part_id = pd.part_id
WHERE DATE(o.date_purchased) BETWEEN ' '''+ year_over_year_start_date +''' ' AND ' '''+ year_over_year_end_date +''' '
AND o.orders_status != 9
AND o.orders_status != 10
AND o.payment_method != 'Replacement Order'
''', db)

# Products that we are excluding

In [15]:
gift_certificates = [141,32,30,31,3331]
adabox_subscription = [3067]
arduino = [2481,2684,2904,2931,2877,2893,2905,2929,3126,3075,3358,3359,3360,2907,2908,3074]

arduino_exclude = np.array(arduino)

# arduino store sales NOT excluded here:
    # 50, 191, 1086, 1078
    
always_exclude = np.array(list(set(gift_certificates)) + list(set(adabox_subscription)) + list(set(arduino)))

# Prepare arduino data
* Data came from Mary in CSV form and covers only 2016

In [16]:
arduino_patch_csv_main = pd.read_csv(r'/Users/jarad/fake_folder/InterDept/Recurring/Products Report/Docs/Arduino Patch CSV/Arduino Patch 02.csv', sep = ',')

In [17]:
arduino_patch_csv_main['Date'] = pd.to_datetime(arduino_patch_csv_main['Date'])
arduino_patch_csv_main['Year'] = arduino_patch_csv_main['Date'].dt.year
arduino_patch_csv_main['Month Number'] = arduino_patch_csv_main['Date'].dt.month

arduino_patch_csv_main['Month'] = np.nan_to_num(arduino_patch_csv_main['Month Number']).astype(int)
arduino_patch_csv_main['Month'] = arduino_patch_csv_main['Month'].apply(lambda x: calendar.month_name[x])

arduino_patch_csv_main['categories_name'] = 'Arduino'

arduino_patch_csv_main = arduino_patch_csv_main[arduino_patch_csv_main['PID'].isnull() == False]

In [18]:
arduino_pids_list = list(arduino_patch_csv_main['PID'].unique())

arduino_names = pd.read_sql(
'''
SELECT
part_id AS PID,
products_name AS Name
FROM products_description
WHERE part_id IN '''+ str(tuple(arduino_pids_list)) +'''
''', db)

In [19]:
arduino_patch_csv_01 = pd.merge(arduino_patch_csv_main, arduino_names, on = 'PID')

In [20]:
def is_reseller(x):
    if 'reseller' in x['Name'].lower():
        ret = 1
    else:
        ret = 0
    return ret

arduino_patch_csv_01['orders_reseller'] = arduino_patch_csv_01.apply(is_reseller, axis = 1)
arduino_patch_csv_01['orders_super_reseller'] = arduino_patch_csv_01.apply(is_reseller, axis = 1)

arduino_patch_csv_01['Qty Free'] = 0

In [21]:
arduino_patch_csv_01['latest_cost'] = arduino_patch_csv_01['latest_cost'].str.replace(',','')
arduino_patch_csv_01['latest_cost'] = pd.to_numeric(arduino_patch_csv_01['latest_cost'], errors = 'coerce')
arduino_patch_csv_01.rename(columns = {'latest_cost':'latest_cost_drop'}, inplace = True)
arduino_patch_csv_01 = arduino_patch_csv_01[arduino_patch_csv_01['PID'].isin(arduino)]

In [22]:
arduino_cost = all_products_cost.copy()
arduino_cost = arduino_cost[arduino_cost['PID'].isin(arduino_patch_csv_01['PID'][arduino_patch_csv_01['latest_cost_drop'].isnull()].unique())]

In [23]:
arduino_patch_csv = pd.merge(arduino_patch_csv_01, arduino_cost[['PID','latest_cost']], how = 'left', on = 'PID')

In [24]:
arduino_patch_csv['latest_cost'] = np.where(arduino_patch_csv['latest_cost'].isnull(), arduino_patch_csv['latest_cost_drop'], arduino_patch_csv['latest_cost'])
arduino_patch_csv.drop('latest_cost_drop',1,inplace = True)

In [25]:
arduino_patch_csv['Manufacturer'] = arduino_patch_csv['Manufacturer'].replace(1, 'Adafruit')

### Arduino patch exploration
* Not included in report

In [26]:
arduino_patch_csv[['Date','PID','Name','Qty','orders_reseller','orders_super_reseller']][arduino_patch_csv['Date'].between(dt.date(2017,3,1),dt.date(2017,3,31))]

,Date,PID,Name,Qty,orders_reseller,orders_super_reseller
113,2017-03-01,2931,Arduino Starter Kit - Reseller & Arduino Version,512.0,1,1
114,2017-03-06,2931,Arduino Starter Kit - Reseller & Arduino Version,100.0,1,1
115,2017-03-06,2931,Arduino Starter Kit - Reseller & Arduino Version,500.0,1,1
116,2017-03-06,2931,Arduino Starter Kit - Reseller & Arduino Version,3000.0,1,1

In [27]:
pd.read_sql(
'''
SELECT
o.orders_id,
o.customers_company,
op.part_id,
op.products_quantity
FROM orders_products op
JOIN orders o ON op.orders_id = o.orders_id
WHERE DATE(o.date_purchased) BETWEEN '2017-03-01' AND '2017-03-31'
AND op.part_id = 2931
''', db)

Empty DataFrame
Columns: [orders_id, customers_company, part_id, products_quantity]
Index: []

# Create one giant data frame

In [28]:
pd.read_sql(
'''
SELECT
part_id,
products_name
FROM products_description
WHERE part_id IN '''+ str(tuple(always_exclude))+ '''
''', db)

    part_id                                      products_name
0        30                               $20 Gift certificate
1        31                               $50 Gift certificate
2        32                              $100 Gift certificate
3       141                                $1 Gift Certificate
4      2481           Arduino UNO - Arduino & Reseller Version
5      2684                     Arduino MEGA - Arduino Version
6      2877  Arduino Uno R3 (Atmega328 - assembled) - Resel...
7      2893             Arduino Mega - Reseller Sale (A000067)
8      2904  Arduino Micro with Headers - Arduino & Reselle...
9      2905  Arduino Micro with Headers - Reseller Sale (A0...
10     2907  Arduino Micro without Headers - Arduino & Rese...
11     2908    Arduino Micro without Headers â Reseller Sale
12     2929     Arduino Starter Kit - Reseller Sale (K0000007)
13     2931   Arduino Starter Kit - Reseller & Arduino Version
14     3067                                AdaBox Subscription
15     3074          Arduino Zero - RESELLER EDITION (ABX0003)
16     3075  Arduino WiFi Shield 101 - RESELLER EDITION (AS...
17     3126                   Arduino MKR 1000 (Reseller sale)
18     3331                         Adafruit Gift Certificates
19     3358                            Arduino Starter Kit - C
20     3359                                 Arduino Uno R3 - C
21     3360                                   Arduino Mega - C

In [29]:
all_products_01 = pd.merge(all_products_raw, all_products_cost, how = 'left', on = 'PID')
all_products_02 = pd.merge(all_products_01, all_products_manufacturers, how = 'left', on = 'PID')
all_products_03 = pd.merge(all_products_02, launch_dates, how = 'left', on = ['PID','Name'])
all_products_04 = pd.merge(all_products_03, parent_categories_key, how = 'left', on = 'PID')
all_products_05 = pd.merge(all_products_04, bom, how = 'left', on = 'PID')

all_products = all_products_05.copy()
all_products = all_products[~all_products['PID'].isin(always_exclude)]

# Correct for some mis-entered latest_costs and particle products

In [30]:
# latest_cost correction

all_products['latest_cost'] = np.where(all_products['PID'] == 2769, 30.4, all_products['latest_cost'])
all_products['latest_cost'] = np.where(all_products['PID'] == 2559, 8.20, all_products['latest_cost'])
all_products['latest_cost'] = np.where(all_products['PID'] == 2574, 7.20, all_products['latest_cost'])

In [31]:
# particle correction

particle_list = [2722,2721,2798,2723,2725,3234,2799]

all_products['Price'] = np.where(all_products['PID'].isin(particle_list), 1.00, all_products['Price'])
all_products['latest_cost'] = np.where(all_products['PID'].isin(particle_list), 0.00, all_products['latest_cost'])

# Patch in Mary's Arduino CSV

In [32]:
# arduino patch

all_products = pd.concat([all_products, arduino_patch_csv])

# Create needed columns in main data frame

In [33]:
all_products['latest_cost'] = pd.to_numeric(all_products['latest_cost'])

all_products['Revenue'] = (all_products['Qty'] - all_products['Qty Free']) * all_products['Price']
all_products['Gross Profit'] = all_products['Revenue'] - (all_products['Qty'] * all_products['latest_cost'])

all_products['Department'] = all_products['Department'].fillna('Combo')

all_products['categories_name'] = np.where(all_products['PID'].isin(stripes_list), 'Stripes', all_products['categories_name'])
all_products['categories_name'] = all_products['categories_name'].fillna('Other')

all_products['Date'] = pd.to_datetime(all_products['Date'])

# Explore negative profit for the month

In [34]:
all_products[(all_products['Gross Profit'] < 0) & (all_products['Year'] == current_year) & (all_products['Month'] == current_month)].groupby(['PID','Name']).agg({'PID':'count','Gross Profit':'sum'}).sort_values('Gross Profit').head(10)

                                                            PID  Gross Profit
PID    Name
3400.0 Raspberry Pi Zero W                                 2586     -5172.000
2885.0 Raspberry Pi Zero - Version 1.3                      984     -3549.000
2209.0 SEGGER J-Link BASE - JTAG/SWD Debugger                 1      -321.290
1461.0 Adafruit NeoPixel Digital RGB LED Strip - Black...     1       -14.400
2220.0 Adafruit Audio FX Sound Board - WAV/OGG Trigger...     2        -7.820
1438.0 Adafruit Motor/Stepper/Servo Shield for Arduino...     1        -5.935
3436.0 Music Maker FeatherWing w/ Amp - MP3 OGG WAV MI...     1        -4.780
2348.0 Adafruit DC & Stepper Motor HAT for Raspberry P...     1        -4.210
2465.0 PowerBoost 1000 Charger - Rechargeable 5V Lipo ...     1        -4.170
1944.0 PowerBoost 500 Charger - Rechargeable 5V Lipo U...     1        -1.960

# Explore gross profit changes for Resale

In [35]:
resale = all_products.copy()
resale = resale[resale['Department'] == 'Resale']
resale['date_format'] = pd.to_datetime(resale['Date'].dt.year.map(str) + '-' + resale['Date'].dt.month.map(str))
resale = resale[resale['date_format'].isin(['2017-07-01','2017-08-01'])]
resale = resale.groupby(['PID','date_format'], as_index = False).agg({'Gross Profit':'sum'})

In [45]:
resale

         PID date_format  Gross Profit
0        9.0  2017-07-01    254.065000
1        9.0  2017-08-01    643.995000
2       16.0  2017-07-01    203.150000
3       16.0  2017-08-01    262.700000
4       18.0  2017-07-01    277.100000
5       18.0  2017-08-01    354.200000
6       62.0  2017-07-01    818.240000
7       62.0  2017-08-01    857.600000
8       63.0  2017-07-01   1762.910000
9       63.0  2017-08-01   6151.150000
10      64.0  2017-07-01   3780.655000
11      64.0  2017-08-01   5896.645000
12      65.0  2017-07-01   1078.270000
13      65.0  2017-08-01   1046.820000
14      67.0  2017-07-01    918.060000
15      67.0  2017-08-01   1733.910000
16      70.0  2017-07-01   2723.770000
17      70.0  2017-08-01   4865.910000
18      80.0  2017-07-01    706.060000
19      80.0  2017-08-01    670.780000
20      97.0  2017-07-01    241.780000
21      97.0  2017-08-01    371.090000
22     102.0  2017-07-01   1135.230000
23     102.0  2017-08-01   1465.280000
24     131.0  2017-07-01     44.460000
25     131.0  2017-08-01     71.560000
26     145.0  2017-07-01    300.560000
27     145.0  2017-08-01    379.010000
28     146.0  2017-07-01     88.580000
29     146.0  2017-08-01    138.720000
30     147.0  2017-07-01    243.860000
31     147.0  2017-08-01    442.160000
32     148.0  2017-07-01    384.140000
33     148.0  2017-08-01    502.920000
34     149.0  2017-07-01    320.500000
35     149.0  2017-08-01    383.900000
36     150.0  2017-07-01    301.950000
37     150.0  2017-08-01    304.650000
38     151.0  2017-07-01    477.480000
39     151.0  2017-08-01    622.680000
40     152.0  2017-07-01    615.060000
41     152.0  2017-08-01    842.350000
42     153.0  2017-07-01    866.270000
43     153.0  2017-08-01    593.330000
44     154.0  2017-07-01   1095.710000
45     154.0  2017-08-01    702.200000
46     155.0  2017-07-01   1274.300000
47     155.0  2017-08-01   1418.100000
48     157.0  2017-07-01    221.200000
49     157.0  2017-08-01    615.390000
50     158.0  2017-07-01    362.075000
51     158.0  2017-08-01    428.025000
52     159.0  2017-07-01    185.010000
53     159.0  2017-08-01    272.410000
54     160.0  2017-07-01    373.690000
55     160.0  2017-08-01    679.520000
56     165.0  2017-07-01    589.010000
57     165.0  2017-08-01    403.350000
58     167.0  2017-07-01     52.980000
59     167.0  2017-08-01    154.500000
60     169.0  2017-07-01   2873.050000
61     169.0  2017-08-01   2094.480000
62     172.0  2017-07-01    286.350000
63     172.0  2017-08-01    438.100000
64     173.0  2017-07-01    189.800000
65     173.0  2017-08-01    235.750000
66     178.0  2017-07-01    406.800000
67     178.0  2017-08-01    562.720000
68     180.0  2017-07-01    517.000000
69     180.0  2017-08-01    352.000000
70     181.0  2017-07-01   1415.200000
71     181.0  2017-08-01   1781.440000
72     182.0  2017-07-01    463.170000
73     182.0  2017-08-01    409.630000
74     189.0  2017-07-01   4026.570000
75     189.0  2017-08-01   2752.750000
76     192.0  2017-07-01    298.850000
77     192.0  2017-08-01    604.640000
78     198.0  2017-07-01   1381.130000
79     198.0  2017-08-01   1701.980000
80     200.0  2017-07-01   1077.500000
81     200.0  2017-08-01    826.600000
82     203.0  2017-07-01     33.520000
83     203.0  2017-08-01     30.030000
84     206.0  2017-07-01    113.580000
85     206.0  2017-08-01    173.460000
86     237.0  2017-07-01    390.000000
87     237.0  2017-08-01    410.000000
88     238.0  2017-07-01    198.000000
89     238.0  2017-08-01    198.000000
90     239.0  2017-07-01   2577.800000
91     239.0  2017-08-01   3634.040000
92     245.0  2017-07-01    125.930000
93     245.0  2017-08-01    172.350000
94     247.0  2017-07-01    482.040000
95     247.0  2017-08-01    462.080000
96     252.0  2017-07-01     49.500000
97     252.0  2017-08-01    119.750000
98     253.0  2017-07-01     14.400000
99     253.0  2017-08-01    153.600000
100    255.0  2017-07-01    618.170000
101    255.0  2017-08-01    539.910000
102    256.0  2017-07-01      7.500000
103    256.0  2017-08-01     30.000000
104    258.0  2017-07-01  10428.040000
105    258.0  2017-08-01  12032.000000
106    260.0  2017-07-01    369.030000
107    260.0  2017-08-01    448.010000
108    261.0  2017-07-01    447.050000
109    261.0  2017-08-01    902.330000
110    263.0  2017-07-01    430.050000
111    263.0  2017-08-01    143.750000
112    265.0  2017-08-01      9.925000
113    266.0  2017-07-01   1490.120000
114    266.0  2017-08-01    255.960000
115    267.0  2017-07-01      8.180000
116    267.0  2017-08-01     14.370000
117    270.0  2017-07-01   1544.830000
118    270.0  2017-08-01   1941.640000
119    276.0  2017-07-01   2170.590000
120    276.0  2017-08-01   4336.340000
121    285.0  2017-07-01    341.900000
122    285.0  2017-08-01    503.250000
123    288.0  2017-07-01    268.273333
124    288.0  2017-08-01    611.980000
125    289.0  2017-07-01     51.400000
126    289.0  2017-08-01    145.606667
127    290.0  2017-07-01    634.280000
128    290.0  2017-08-01   1158.793333
129    291.0  2017-07-01    502.400000
130    291.0  2017-08-01   1180.200000
131    294.0  2017-07-01    293.350000
132    294.0  2017-08-01    293.350000
133    297.0  2017-07-01    352.160000
134    297.0  2017-08-01    137.200000
135    299.0  2017-07-01    189.800000
136    299.0  2017-08-01    389.350000
137    300.0  2017-07-01    236.300000
138    300.0  2017-08-01    321.300000
139    301.0  2017-07-01    425.990000
140    301.0  2017-08-01    471.890000
141    302.0  2017-07-01    523.750000
142    302.0  2017-08-01   1161.250000
143    304.0  2017-08-01     88.000000
144    306.0  2017-07-01   2602.200000
145    306.0  2017-08-01   1250.650000
146    308.0  2017-07-01    553.540000
147    308.0  2017-08-01    553.540000
148    314.0  2017-07-01     97.270000
149    314.0  2017-08-01     19.030000
150    315.0  2017-07-01     90.220000
151    315.0  2017-08-01     13.070000
152    317.0  2017-07-01    414.210000
153    317.0  2017-08-01    904.560000
154    321.0  2017-07-01    655.050000
155    321.0  2017-08-01    660.550000
156    322.0  2017-07-01    234.150000
157    322.0  2017-08-01   1082.300000
158    323.0  2017-07-01     28.800000
159    323.0  2017-08-01     14.400000
160    324.0  2017-08-01   3760.200000
161    327.0  2017-07-01    860.470000
162    327.0  2017-08-01   1356.470000
163    328.0  2017-07-01  11650.115000
164    328.0  2017-08-01  15180.640000
165    333.0  2017-07-01     60.915000
166    333.0  2017-08-01     89.805000
167    338.0  2017-07-01    288.140000
168    338.0  2017-08-01    427.190000
169    342.0  2017-07-01     52.550000
170    342.0  2017-08-01    115.610000
171    344.0  2017-07-01    444.300000
172    344.0  2017-08-01    725.600000
173    346.0  2017-07-01    463.900000
174    346.0  2017-08-01   1070.800000
175    349.0  2017-08-01    979.490000
176    350.0  2017-07-01    721.840000
177    350.0  2017-08-01    824.960000
178    352.0  2017-07-01   1883.190000
179    352.0  2017-08-01   3572.440000
180    353.0  2017-07-01   5653.300000
181    353.0  2017-08-01   9732.890000
182    354.0  2017-07-01   3039.490000
183    354.0  2017-08-01   2870.220000
184    355.0  2017-07-01   1077.970000
185    355.0  2017-08-01   1411.420000
186    356.0  2017-07-01    831.320000
187    356.0  2017-08-01    810.170000
188    357.0  2017-07-01    264.700000
189    357.0  2017-08-01    139.800000
190    359.0  2017-07-01    239.600000
191    359.0  2017-08-01    512.350000
192    360.0  2017-07-01     85.050000
193    360.0  2017-08-01    242.950000
194    361.0  2017-07-01    264.000000
195    361.0  2017-08-01    681.500000
196    362.0  2017-07-01    179.000000
197    362.0  2017-08-01    557.500000
198    363.0  2017-07-01     74.280000
199    363.0  2017-08-01    186.560000
200    366.0  2017-07-01    464.980000
201    366.0  2017-08-01   1216.540000
202    367.0  2017-07-01    788.450000
203    367.0  2017-08-01    871.750000
204    368.0  2017-07-01   1339.400000
205    368.0  2017-08-01    972.320000
206    369.0  2017-07-01    217.120000
207    369.0  2017-08-01    579.640000
208    370.0  2017-07-01     62.040000
209    370.0  2017-08-01     88.120000
210    371.0  2017-07-01     81.500000
211    371.0  2017-08-01    126.040000
212    372.0  2017-07-01    622.570000
213    372.0  2017-08-01    913.000000
214    373.0  2017-07-01    489.370000
215    373.0  2017-08-01    464.990000
216    374.0  2017-07-01    476.430000
217    374.0  2017-08-01    582.920000
218    375.0  2017-07-01   1058.400000
219    375.0  2017-08-01   1116.110000
220    377.0  2017-07-01   1170.030000
221    377.0  2017-08-01   1566.720000
222    380.0  2017-07-01    586.740000
223    380.0  2017-08-01    652.350000
224    381.0  2017-07-01   5083.080000
225    381.0  2017-08-01   3750.800000
226    382.0  2017-07-01    151.860000
227    382.0  2017-08-01     46.740000
228    383.0  2017-07-01     56.800000
229    383.0  2017-08-01     50.000000
230    385.0  2017-07-01   1437.670000
231    385.0  2017-08-01   1974.910000
232    386.0  2017-07-01    610.500000
233    386.0  2017-08-01    831.500000
234    388.0  2017-07-01    820.620000
235    388.0  2017-08-01    566.370000
236    389.0  2017-07-01    356.170000
237    389.0  2017-08-01    585.140000
238    392.0  2017-07-01    979.420000
239    392.0  2017-08-01   1041.930000
240    393.0  2017-07-01   5584.100000
241    393.0  2017-08-01   2334.800000
242    394.0  2017-07-01    328.000000
243    394.0  2017-08-01   1389.460000
244    396.0  2017-07-01    154.160000
245    396.0  2017-08-01    285.550000
246    397.0  2017-07-01   1155.310000
247    397.0  2017-08-01   1528.900000
248    398.0  2017-07-01    685.480000
249    398.0  2017-08-01   1343.360000
250    399.0  2017-07-01    858.010000
251    399.0  2017-08-01    450.870000
252    400.0  2017-07-01    524.180000
253    400.0  2017-08-01    565.580000
254    402.0  2017-07-01     26.600000
255    402.0  2017-08-01     86.970000
256    403.0  2017-07-01    273.600000
257    403.0  2017-08-01    360.000000
258    404.0  2017-07-01    140.400000
259    405.0  2017-07-01    126.000000
260    405.0  2017-08-01     28.800000
261    406.0  2017-08-01    140.400000
262    407.0  2017-07-01    162.000000
263    407.0  2017-08-01    180.000000
264    408.0  2017-07-01    259.200000
265    408.0  2017-08-01    363.600000
266    409.0  2017-07-01    230.400000
267    409.0  2017-08-01    525.600000
268    410.0  2017-07-01    270.000000
269    410.0  2017-08-01    291.600000
270    411.0  2017-07-01     46.930000
271    411.0  2017-08-01     44.890000
272    412.0  2017-07-01   1377.070000
273    412.0  2017-08-01   1367.460000
274    413.0  2017-07-01   1244.200000
275    413.0  2017-08-01   1677.850000
276    415.0  2017-07-01    121.150000
277    415.0  2017-08-01    207.600000
278    416.0  2017-07-01    107.250000
279    416.0  2017-08-01    246.950000
280    419.0  2017-07-01    342.500000
281    419.0  2017-08-01    371.240000
282    420.0  2017-07-01   3248.020000
283    420.0  2017-08-01    443.300000
284    421.0  2017-07-01    243.850000
285    421.0  2017-08-01    412.300000
286    422.0  2017-07-01    417.790000
287    422.0  2017-08-01    477.410000
288    423.0  2017-07-01    372.350000
289    423.0  2017-08-01    319.400000
290    424.0  2017-07-01    137.780000
291    424.0  2017-08-01    174.610000
292    425.0  2017-07-01     11.950000
293    425.0  2017-08-01      7.350000
294    427.0  2017-07-01     63.550000
295    427.0  2017-08-01    356.570000
296    430.0  2017-07-01    860.750000
297    430.0  2017-08-01    934.920000
298    431.0  2017-07-01    390.850000
299    431.0  2017-08-01    137.500000
300    432.0  2017-07-01     83.550000
301    432.0  2017-08-01    228.310000
302    433.0  2017-07-01    231.970000
303    433.0  2017-08-01    161.020000
304    434.0  2017-07-01    198.105000
305    434.0  2017-08-01    116.165000
306    435.0  2017-07-01    482.800000
307    435.0  2017-08-01    218.980000
308    437.0  2017-07-01    163.450000
309    437.0  2017-08-01    198.900000
310    441.0  2017-07-01    315.800000
311    441.0  2017-08-01    276.800000
312    442.0  2017-07-01     57.060000
313    443.0  2017-07-01   1645.090000
314    443.0  2017-08-01     87.570000
315    444.0  2017-07-01    338.450000
316    444.0  2017-08-01    110.850000
317    445.0  2017-07-01    112.650000
318    445.0  2017-08-01    287.550000
319    446.0  2017-07-01    105.700000
320    446.0  2017-08-01    139.850000
321    447.0  2017-07-01    190.350000
322    447.0  2017-08-01    179.350000
323    448.0  2017-07-01    467.020000
324    448.0  2017-08-01    463.490000
325    449.0  2017-07-01    297.900000
326    449.0  2017-08-01    279.470000
327    450.0  2017-07-01    144.530000
328    450.0  2017-08-01    234.810000
329    451.0  2017-07-01    557.100000
330    451.0  2017-08-01    495.200000
331    452.0  2017-07-01     71.280000
332    452.0  2017-08-01     66.570000
333    454.0  2017-07-01      3.120000
334    455.0  2017-07-01     77.200000
335    455.0  2017-08-01     38.260000
336    460.0  2017-07-01    429.800000
337    460.0  2017-08-01    505.990000
338    465.0  2017-07-01     26.000000
339    465.0  2017-08-01     16.900000
340    467.0  2017-07-01     12.550000
341    468.0  2017-07-01   1252.350000
342    468.0  2017-08-01   1176.450000
343    470.0  2017-07-01      7.950000
344    470.0  2017-08-01      2.850000
345    471.0  2017-07-01    223.120000
346    471.0  2017-08-01    167.300000
347    472.0  2017-07-01     23.700000
348    472.0  2017-08-01     43.600000
349    473.0  2017-07-01    283.820000
350    473.0  2017-08-01    111.600000
351    474.0  2017-07-01     66.600000
352    474.0  2017-08-01     73.400000
353    475.0  2017-07-01     91.300000
354    475.0  2017-08-01     87.000000
355    476.0  2017-07-01    536.800000
356    476.0  2017-08-01    301.000000
357    477.0  2017-07-01     14.880000
358    477.0  2017-08-01      3.180000
359    478.0  2017-07-01     26.750000
360    478.0  2017-08-01      8.200000
361    479.0  2017-07-01     31.550000
362    479.0  2017-08-01     32.070000
363    481.0  2017-07-01    668.060000
364    481.0  2017-08-01    930.430000
365    482.0  2017-07-01    741.950000
366    482.0  2017-08-01    948.100000
367    483.0  2017-07-01    279.600000
368    483.0  2017-08-01    314.550000
369    484.0  2017-07-01     36.900000
370    484.0  2017-08-01     12.600000
371    486.0  2017-07-01     24.000000
372    486.0  2017-08-01     24.000000
373    487.0  2017-07-01    545.100000
374    487.0  2017-08-01    663.600000
375    490.0  2017-07-01      8.800000
376    490.0  2017-08-01      4.900000
377    491.0  2017-07-01    394.200000
378    491.0  2017-08-01    373.920000
379    492.0  2017-08-01    401.230000
380    495.0  2017-07-01     68.680000
381    495.0  2017-08-01    239.000000
382    497.0  2017-07-01     29.100000
383    497.0  2017-08-01     14.700000
384    500.0  2017-07-01    400.200000
385    500.0  2017-08-01   1217.400000
386    501.0  2017-07-01   1971.090000
387    501.0  2017-08-01   1232.610000
388    502.0  2017-07-01     24.050000
389    502.0  2017-08-01      5.050000
390    503.0  2017-07-01     32.660000
391    503.0  2017-08-01     22.480000
392    504.0  2017-07-01    121.424000
393    504.0  2017-08-01     72.500000
394    505.0  2017-07-01     13.200000
395    505.0  2017-08-01      6.600000
396    507.0  2017-07-01     21.600000
397    507.0  2017-08-01      5.050000
398    510.0  2017-07-01     13.250000
399    511.0  2017-08-01      4.400000
400    514.0  2017-07-01     66.960000
401    514.0  2017-08-01     66.960000
402    515.0  2017-07-01    100.440000
403    515.0  2017-08-01    234.360000
404    516.0  2017-07-01      1.500000
405    516.0  2017-08-01      3.000000
406    517.0  2017-07-01      6.950000
407    517.0  2017-08-01     27.800000
408    518.0  2017-07-01    152.730000
409    518.0  2017-08-01    432.550000
410    519.0  2017-07-01    467.570000
411    519.0  2017-08-01    786.540000
412    520.0  2017-07-01    365.660000
413    520.0  2017-08-01     29.560000
414    527.0  2017-07-01    737.150000
415    527.0  2017-08-01   1024.810000
416    548.0  2017-07-01     69.800000
417    548.0  2017-08-01    139.600000
418    550.0  2017-07-01     71.660000
419    550.0  2017-08-01    114.450000
420    551.0  2017-07-01      9.000000
421    551.0  2017-08-01      1.500000
422    552.0  2017-07-01      7.500000
423    553.0  2017-07-01      7.500000
424    553.0  2017-08-01     25.500000
425    554.0  2017-07-01     37.050000
426    554.0  2017-08-01     32.550000
427    556.0  2017-07-01     26.600000
428    556.0  2017-08-01      6.650000
429    558.0  2017-07-01    424.580000
430    558.0  2017-08-01    320.580000
431    559.0  2017-07-01    464.300000
432    559.0  2017-08-01    223.050000
433    560.0  2017-07-01    266.150000
434    560.0  2017-08-01    292.550000
435    561.0  2017-07-01     14.870000
436    561.0  2017-08-01     11.900000
437    562.0  2017-07-01    461.970000
438    562.0  2017-08-01    459.200000
439    564.0  2017-07-01    229.170000
440    564.0  2017-08-01    795.110000
441    565.0  2017-07-01      8.250000
442    565.0  2017-08-01     30.550000
443    566.0  2017-07-01      2.650000
444    567.0  2017-07-01      5.750000
445    567.0  2017-08-01      5.700000
446    568.0  2017-08-01      3.300000
447    569.0  2017-07-01     15.400000
448    570.0  2017-07-01     31.850000
449    571.0  2017-07-01   3973.380000
450    571.0  2017-08-01   2621.610000
451    572.0  2017-07-01    370.460000
452    572.0  2017-08-01    941.460000
453    574.0  2017-07-01    330.810000
454    574.0  2017-08-01    297.830000
455    575.0  2017-07-01    328.760000
456    575.0  2017-08-01    699.820000
457    576.0  2017-07-01    156.250000
458    576.0  2017-08-01    186.750000
459    578.0  2017-07-01    489.800000
460    578.0  2017-08-01    674.210000
461    581.0  2017-07-01      2.250000
462    589.0  2017-07-01   1572.810000
463    589.0  2017-08-01   1533.320000
464    590.0  2017-07-01   1015.600000
465    590.0  2017-08-01    936.250000
466    592.0  2017-07-01   2234.550000
467    592.0  2017-08-01   2200.680000
468    595.0  2017-07-01      1.500000
469    596.0  2017-07-01     10.600000
470    596.0  2017-08-01      2.650000
471    598.0  2017-07-01    346.270000
472    598.0  2017-08-01    392.810000
473    599.0  2017-07-01     79.900000
474    599.0  2017-08-01    209.250000
475    601.0  2017-07-01      3.900000
476    601.0  2017-08-01      7.800000
477    603.0  2017-07-01    330.750000
478    603.0  2017-08-01    372.050000
479    604.0  2017-07-01      1.500000
480    604.0  2017-08-01      7.500000
481    605.0  2017-07-01      4.900000
482    605.0  2017-08-01      2.450000
483    607.0  2017-07-01    528.920000
484    607.0  2017-08-01    291.200000
485    608.0  2017-07-01    290.410000
486    608.0  2017-08-01    250.980000
487    610.0  2017-07-01    636.900000
488    610.0  2017-08-01    685.940000
489    612.0  2017-07-01      2.450000
490    612.0  2017-08-01      2.450000
491    615.0  2017-07-01    123.960000
492    615.0  2017-08-01    319.650000
493    616.0  2017-07-01    136.780000
494    616.0  2017-08-01    163.420000
495    617.0  2017-07-01     33.965000
496    617.0  2017-08-01     36.965000
497    619.0  2017-07-01    220.640000
498    619.0  2017-08-01    102.105000
499    620.0  2017-07-01    174.000000
...      ...         ...           ...
2870  3048.0  2017-07-01    325.200000
2871  3048.0  2017-08-01    181.050000
2872  3051.0  2017-07-01    300.000000
2873  3051.0  2017-08-01    504.000000
2874  3055.0  2017-07-01  23293.050000
2875  3055.0  2017-08-01  23136.300000
2876  3057.0  2017-07-01    118.130000
2877  3057.0  2017-08-01    191.310000
2878  3059.0  2017-07-01     32.670000
2879  3064.0  2017-07-01     46.720000

In [ ]:
now = all_products[['PID','Name','Price','Qty','Qty Free','Revenue','latest_cost','Gross Profit']][(all_products['Year'] == current_year) & (all_products['Month'] == current_month)]

In [ ]:
now['PID'][now['latest_cost'] == 0].unique()

In [ ]:
pd.read_sql(
'''
SELECT
*
FROM products_manufacturing
WHERE sku_id = 9696
''', db)

# Patches to reconcile with PLM

In [ ]:
prod_report_rev = all_products[all_products['Date'].between(pd.to_datetime(year_over_year_start_date), pd.to_datetime(year_over_year_end_date))]
prod_report_rev = prod_report_rev.groupby(['Year','Month Number','Month']).sum().reset_index()
prod_report_rev = prod_report_rev[['Year','Month','Revenue']].rename(columns = {'Revenue':'Prod Report Rev'})

#prod_report_rev

In [ ]:
particle_db_rev = pd.read_sql(
'''
SELECT
YEAR(o.date_purchased) AS Year,
MONTHNAME(o.date_purchased) AS Month,
SUM((op.products_quantity - op.products_quantity_free) *  op.products_price) AS 'DB Particle Rev'
FROM orders o
LEFT JOIN orders_products op ON o.orders_id = op.orders_id
WHERE DATE(o.date_purchased) BETWEEN ' '''+ year_over_year_start_date +''' ' AND ' '''+ year_over_year_end_date +''' '
AND o.orders_status != 9
AND o.orders_status != 10
AND o.payment_method != 'Replacement Order'
AND op.part_id IN '''+ str(tuple(particle_list)) +'''
GROUP BY Year, Month
ORDER BY Year, MONTH(o.date_purchased)
''', db)

In [ ]:
#particle_db_rev

In [ ]:
particle_rev = all_products[all_products['Date'].between(year_over_year_start_date, year_over_year_end_date)]
particle_rev = particle_rev[particle_rev['PID'].isin(particle_list)]
particle_rev = particle_rev.groupby(['Year','Month Number','Month']).sum().reset_index()
particle_rev = particle_rev[['Year','Month','Revenue']].rename(columns = {'Revenue':'Particle Rev Adj'})
particle_rev['Particle Rev Adj'] = particle_rev['Particle Rev Adj'] * -1

#particle_rev

In [ ]:
dates_df = all_products[['Year','Month']][all_products['Date'].between(year_over_year_start_date, year_over_year_end_date)].drop_duplicates()

arduino_rev_01 = all_products[all_products['Date'].between(year_over_year_start_date, year_over_year_end_date)]
arduino_rev_01 = arduino_rev_01[arduino_rev_01['PID'].isin(arduino_exclude)]
arduino_rev_01 = arduino_rev_01.groupby(['Year','Month Number','Month']).sum().reset_index()
arduino_rev_01 = arduino_rev_01[['Year','Month','Revenue']].rename(columns = {'Revenue':'Arduino Rev Adj'})

arduino_rev = pd.merge(dates_df, arduino_rev_01, how = 'left', on = ['Year','Month']).fillna(0)
arduino_rev['Arduino Rev Adj'] = arduino_rev['Arduino Rev Adj'] * -1

#arduino_rev

In [ ]:
arduino_db_rev = pd.read_sql(
'''
SELECT
YEAR(o.date_purchased) AS Year,
MONTHNAME(o.date_purchased) AS Month,
SUM((op.products_quantity - op.products_quantity_free) *  op.products_price) AS 'DB Arduino Rev'
FROM orders o
LEFT JOIN orders_products op ON o.orders_id = op.orders_id
WHERE DATE(o.date_purchased) BETWEEN ' '''+ year_over_year_start_date +''' ' AND ' '''+ year_over_year_end_date +''' '
AND o.orders_status != 9
AND o.orders_status != 10
AND o.payment_method != 'Replacement Order'
AND op.part_id IN '''+ str(tuple(arduino_exclude)) +'''
GROUP BY Year, Month
ORDER BY Year, MONTH(o.date_purchased)
''', db)

arduino_db_rev = pd.merge(dates_df, arduino_db_rev, how = 'left', on = ['Year','Month']).fillna(0)

In [ ]:
#arduino_db_rev

In [ ]:
gift_and_adabox_rev = all_products_raw[all_products_raw['Date'].between(pd.to_datetime(year_over_year_start_date).date(), pd.to_datetime(year_over_year_end_date).date())]
gift_and_adabox_rev = gift_and_adabox_rev[(gift_and_adabox_rev['PID'].isin(gift_certificates)) | (gift_and_adabox_rev['PID'].isin(adabox_subscription))]
gift_and_adabox_rev['Revenue'] = (gift_and_adabox_rev['Qty'] - gift_and_adabox_rev['Qty Free']) * gift_and_adabox_rev['Price']
gift_and_adabox_rev = gift_and_adabox_rev.groupby(['Year','Month Number','Month']).sum().reset_index()
gift_and_adabox_rev = gift_and_adabox_rev[['Year','Month','Revenue']].rename(columns = {'Revenue':'Gift Cert and Subs Rev Adj'})
gift_and_adabox_rev['Gift Cert and Subs Rev Adj'] = gift_and_adabox_rev['Gift Cert and Subs Rev Adj'] * -1

#gift_and_adabox_rev

In [ ]:
gift_and_adabox_db_rev = pd.read_sql(
'''
SELECT
YEAR(o.date_purchased) AS Year,
MONTHNAME(o.date_purchased) AS Month,
SUM((op.products_quantity - op.products_quantity_free) *  op.products_price) AS 'DB Gift Cert and Subs Rev'
FROM orders o
LEFT JOIN orders_products op ON o.orders_id = op.orders_id
WHERE DATE(o.date_purchased) BETWEEN ' '''+ year_over_year_start_date +''' ' AND ' '''+ year_over_year_end_date +''' '
AND o.orders_status != 9
AND o.orders_status != 10
AND o.payment_method != 'Replacement Order'
AND (op.part_id IN '''+ str(tuple(gift_certificates)) +''' OR op.part_id = '''+ str(adabox_subscription[0]) +''')
GROUP BY Year, Month
ORDER BY Year, MONTH(o.date_purchased)
''', db)

In [ ]:
#gift_and_adabox_db_rev

In [ ]:
op_rev = all_products_raw[all_products_raw['Date'].between(pd.to_datetime(year_over_year_start_date).date(), pd.to_datetime(year_over_year_end_date).date())]
op_rev['Revenue'] = (op_rev['Qty'] - op_rev['Qty Free']) * op_rev['Price']
op_rev = op_rev.groupby(['Year','Month Number','Month']).sum().reset_index()
op_rev = op_rev[['Year','Month','Revenue']].rename(columns = {'Revenue':'Orders Prod Rev'})

In [ ]:
ot_rev = pd.read_sql(
'''
SELECT
YEAR(o.date_purchased) AS Year,
MONTHNAME(o.date_purchased) AS Month,
SUM(ot.value) AS 'Orders Total Rev'
FROM orders_total ot
JOIN orders o ON ot.orders_id = o.orders_id
WHERE DATE(o.date_purchased) BETWEEN ' '''+ str(pd.to_datetime(year_over_year_start_date).date()) +''' ' AND ' '''+ str(pd.to_datetime(year_over_year_end_date).date()) +''' '
AND ot.class = 'ot_subtotal'
AND o.orders_status != 9
AND o.orders_status != 10
AND o.payment_method != 'Replacement Order'
GROUP BY Year, Month
ORDER BY Year, MONTH(o.date_purchased)
''', db)

In [ ]:
deductions = pd.DataFrame(ot_rev['Orders Total Rev'] - op_rev['Orders Prod Rev'])
deductions = deductions.merge(ot_rev[['Year','Month']], left_index = True, right_index = True)
deductions = deductions[['Year','Month',0]].rename(columns = {0:'Deductions / Refunds'})

#deductions

In [ ]:
ds_rev = pd.read_sql(
'''
SELECT
YEAR(timestamp) AS Year,
MONTHNAME(timestamp) AS Month,
SUM(d_value) AS 'PLM Rev'
FROM daily_stats
WHERE d_class = 'd_all'
AND DATE(timestamp) BETWEEN ' '''+ str(pd.to_datetime(year_over_year_start_date).date()) +''' ' AND ' '''+ str(pd.to_datetime(year_over_year_end_date).date()) +''' '
GROUP BY Year, Month
ORDER BY Year, MONTH(timestamp)
''', db)

In [ ]:
#ds_rev

In [ ]:
plm_01 = pd.merge(prod_report_rev, particle_rev[['Particle Rev Adj']], left_index = True, right_index = True)
plm_02 = pd.merge(plm_01, particle_db_rev[['DB Particle Rev']], left_index = True, right_index = True)
plm_03 = pd.merge(plm_02, arduino_rev[['Arduino Rev Adj']], left_index = True, right_index = True)
plm_04 = pd.merge(plm_03, arduino_db_rev[['DB Arduino Rev']], left_index = True, right_index = True)
plm_05 = pd.merge(plm_04, gift_and_adabox_db_rev[['DB Gift Cert and Subs Rev']], left_index = True, right_index = True)
plm_06 = pd.merge(plm_05, deductions[['Deductions / Refunds']], left_index = True, right_index = True)

changed = pd.DataFrame({'Changed Rev':ds_rev['PLM Rev'] - plm_06[['Prod Report Rev','Particle Rev Adj','DB Particle Rev','Arduino Rev Adj','DB Arduino Rev','DB Gift Cert and Subs Rev','Deductions / Refunds']].sum(1)})

plm_07 = pd.merge(plm_06, changed[['Changed Rev']], left_index = True, right_index = True)
plm_08 = pd.merge(plm_07, ds_rev[['PLM Rev']], left_index = True, right_index = True)

plm_08

# WORKSHEET 01: 
* Resellers and non resellers
* Without arduino, without marcom

In [ ]:
resellers_revenue_and_profit = all_products.copy()
resellers_revenue_and_profit = resellers_revenue_and_profit[(~resellers_revenue_and_profit['PID'].isin(arduino_exclude)) & (resellers_revenue_and_profit['PID'] != 1205)]
resellers_revenue_and_profit = resellers_revenue_and_profit.loc[(resellers_revenue_and_profit['orders_reseller'] == 1) | (resellers_revenue_and_profit['orders_super_reseller'] == 1)]
resellers_revenue_and_profit = resellers_revenue_and_profit.loc[~resellers_revenue_and_profit['PID'].isin(arduino_exclude.tolist())]

resellers_revenue_and_profit = resellers_revenue_and_profit[['Year','Month Number','Month','Revenue','Gross Profit']]
resellers_revenue_and_profit = resellers_revenue_and_profit.groupby(['Year','Month Number','Month']).sum().reset_index().drop('Month Number', 1)

resellers_revenue = resellers_revenue_and_profit[['Year','Month','Revenue']]
resellers_revenue['% Change'] = resellers_revenue['Revenue'].pct_change()*100
resellers_revenue['Year Over Year'] = resellers_revenue['Revenue'].pct_change(periods = 12)*100

resellers_profit = resellers_revenue_and_profit[['Year','Month','Gross Profit']]
resellers_profit['% Change'] = resellers_profit['Gross Profit'].pct_change()*100
resellers_profit['Year Over Year'] = resellers_profit['Gross Profit'].pct_change(periods = 12)*100

In [ ]:
resellers_revenue

In [ ]:
resellers_profit

In [ ]:
non_resellers_revenue_and_profit = all_products.copy()
non_resellers_revenue_and_profit = non_resellers_revenue_and_profit[(~non_resellers_revenue_and_profit['PID'].isin(arduino_exclude)) & (non_resellers_revenue_and_profit['PID'] != 1205)]
non_resellers_revenue_and_profit = non_resellers_revenue_and_profit.loc[(non_resellers_revenue_and_profit['orders_reseller'] == 0) & (non_resellers_revenue_and_profit['orders_super_reseller'] == 0)]
non_resellers_revenue_and_profit = non_resellers_revenue_and_profit.loc[~non_resellers_revenue_and_profit['PID'].isin(arduino_exclude)]

non_resellers_revenue_and_profit = non_resellers_revenue_and_profit[['Year','Month Number','Month','Revenue','Gross Profit']]
non_resellers_revenue_and_profit = non_resellers_revenue_and_profit.groupby(['Year','Month Number','Month']).sum().reset_index().drop('Month Number', 1)

non_resellers_revenue = non_resellers_revenue_and_profit[['Year','Month','Revenue']]
non_resellers_revenue['% Change'] = non_resellers_revenue['Revenue'].pct_change()*100
non_resellers_revenue['Year Over Year'] = non_resellers_revenue['Revenue'].pct_change(periods = 12)*100

non_resellers_profit = non_resellers_revenue_and_profit[['Year','Month','Gross Profit']]
non_resellers_profit['% Change'] = non_resellers_profit['Gross Profit'].pct_change()*100
non_resellers_profit['Year Over Year'] = non_resellers_profit['Gross Profit'].pct_change(periods = 12)*100

In [ ]:
non_resellers_revenue

In [ ]:
non_resellers_profit

# WORKSHEET 01: 
* Overall
* With arduino, with marcom

In [ ]:
overall_revenue_with_arduino_with_marcom = all_products.copy()
overall_revenue_with_arduino_with_marcom = overall_revenue_with_arduino_with_marcom[(overall_revenue_with_arduino_with_marcom['Date'] >= dt.date(int(year_over_year_start_date[:4]), int(year_over_year_start_date[5:7]), int(year_over_year_start_date[8:10]))) & (overall_revenue_with_arduino_with_marcom['Date'] <= dt.date(int(year_over_year_end_date[:4]), int(year_over_year_end_date[5:7]), int(year_over_year_end_date[8:10])))]
overall_revenue_with_arduino_with_marcom = overall_revenue_with_arduino_with_marcom[['Year','Month Number','Month','Revenue']].groupby(['Year','Month Number','Month']).sum().reset_index().drop('Month Number', 1)

overall_revenue_with_arduino_with_marcom['% Change'] = overall_revenue_with_arduino_with_marcom['Revenue'].pct_change()*100
overall_revenue_with_arduino_with_marcom['Year Over Year'] = overall_revenue_with_arduino_with_marcom['Revenue'].pct_change(periods = 12)*100

In [ ]:
overall_revenue_with_arduino_with_marcom

In [ ]:
overall_profit_with_arduino_with_marcom = all_products[(all_products['Date'] >= dt.date(int(year_over_year_start_date[:4]), int(year_over_year_start_date[5:7]), int(year_over_year_start_date[8:10]))) & (all_products['Date'] <= dt.date(int(year_over_year_end_date[:4]), int(year_over_year_end_date[5:7]), int(year_over_year_end_date[8:10])))]
overall_profit_with_arduino_with_marcom = overall_profit_with_arduino_with_marcom[['Year','Month Number','Month','Gross Profit']].groupby(['Year','Month Number','Month']).sum().reset_index().drop('Month Number', 1)

overall_profit_with_arduino_with_marcom['% Change'] = overall_profit_with_arduino_with_marcom['Gross Profit'].pct_change()*100
overall_profit_with_arduino_with_marcom['Year Over Year'] = overall_profit_with_arduino_with_marcom['Gross Profit'].pct_change(periods = 12)*100

In [ ]:
overall_profit_with_arduino_with_marcom

# WORKSHEET 01: 
* Overall
* Without arduino, with marcom

In [ ]:
all_products_without_arduino_with_marcom = all_products.copy()
all_products_without_arduino_with_marcom = all_products_without_arduino_with_marcom[~all_products_without_arduino_with_marcom['PID'].isin(arduino_exclude)]

In [ ]:
overall_revenue_without_arduino_with_marcom = all_products_without_arduino_with_marcom[['Year','Month Number','Month','Revenue']].groupby(['Year','Month Number','Month']).sum().reset_index().drop('Month Number', 1)

overall_revenue_without_arduino_with_marcom['% Change'] = overall_revenue_without_arduino_with_marcom['Revenue'].pct_change()*100
overall_revenue_without_arduino_with_marcom['Year Over Year'] = overall_revenue_without_arduino_with_marcom['Revenue'].pct_change(periods = 12)*100

In [ ]:
overall_revenue_without_arduino_with_marcom

In [ ]:
overall_profit_without_arduino_with_marcom = all_products_without_arduino_with_marcom[['Year','Month Number','Month','Gross Profit']].groupby(['Year','Month Number','Month']).sum().reset_index().drop('Month Number', 1)

overall_profit_without_arduino_with_marcom['% Change'] = overall_profit_without_arduino_with_marcom['Gross Profit'].pct_change()*100
overall_profit_without_arduino_with_marcom['Year Over Year'] = overall_profit_without_arduino_with_marcom['Gross Profit'].pct_change(periods = 12)*100

In [ ]:
overall_profit_without_arduino_with_marcom

# WORKSHEET 01: 
* Overall
* Without arduino, without marcom

In [ ]:
all_products_without_arduino_without_marcom = all_products.copy()
all_products_without_arduino_without_marcom = all_products_without_arduino_without_marcom[(~all_products_without_arduino_without_marcom['PID'].isin(arduino_exclude)) & (all_products_without_arduino_without_marcom['PID'] != 1205)]

In [ ]:
overall_revenue_without_arduino_without_marcom = all_products_without_arduino_without_marcom[['Year','Month Number','Month','Revenue']].groupby(['Year','Month Number','Month']).sum().reset_index().drop('Month Number', 1)

overall_revenue_without_arduino_without_marcom['% Change'] = overall_revenue_without_arduino_without_marcom['Revenue'].pct_change()*100
overall_revenue_without_arduino_without_marcom['Year Over Year'] = overall_revenue_without_arduino_without_marcom['Revenue'].pct_change(periods = 12)*100

In [ ]:
overall_revenue_without_arduino_without_marcom

In [ ]:
overall_profit_without_arduino_without_marcom = all_products_without_arduino_without_marcom[['Year','Month Number','Month','Gross Profit']].groupby(['Year','Month Number','Month']).sum().reset_index().drop('Month Number', 1)

overall_profit_without_arduino_without_marcom['% Change'] = overall_profit_without_arduino_without_marcom['Gross Profit'].pct_change()*100
overall_profit_without_arduino_without_marcom['Year Over Year'] = overall_profit_without_arduino_without_marcom['Gross Profit'].pct_change(periods = 12)*100

In [ ]:
overall_profit_without_arduino_without_marcom

# WORKSHEET 01: 
* Overall
* Number of orders

In [ ]:
number_of_orders = all_products.copy()
number_of_orders = number_of_orders[(number_of_orders['Date'] >= dt.date(int(year_over_year_start_date[:4]), int(year_over_year_start_date[5:7]), int(year_over_year_start_date[8:10]))) & (number_of_orders['Date'] <= dt.date(int(year_over_year_end_date[:4]), int(year_over_year_end_date[5:7]), int(year_over_year_end_date[8:10])))]
number_of_orders = number_of_orders[['Year','Month Number','Month','orders_id','orders_reseller','orders_super_reseller']]
number_of_orders = number_of_orders.drop_duplicates('orders_id')

non_reseller_number_of_orders = number_of_orders.loc[(number_of_orders['orders_reseller'] == 0) & (number_of_orders['orders_super_reseller'] == 0)]
non_reseller_number_of_orders = number_of_orders.groupby(['Year','Month Number','Month']).count().reset_index().drop('Month Number', 1)
non_reseller_number_of_orders = non_reseller_number_of_orders.rename(columns = {'orders_id':'Count Of Orders'})
non_reseller_number_of_orders['% Change'] = non_reseller_number_of_orders['Count Of Orders'].pct_change()*100
non_reseller_number_of_orders['Year Over Year'] = non_reseller_number_of_orders['Count Of Orders'].pct_change(periods = 12)*100
non_reseller_number_of_orders = non_reseller_number_of_orders[['Year','Month','Count Of Orders','% Change','Year Over Year']]

reseller_number_of_orders = number_of_orders.loc[(number_of_orders['orders_reseller'] == 1) | (number_of_orders['orders_super_reseller'] == 1)]
reseller_number_of_orders = reseller_number_of_orders.groupby(['Year','Month Number','Month']).count().reset_index().drop('Month Number', 1)
reseller_number_of_orders = reseller_number_of_orders.rename(columns = {'orders_id':'Count Of Orders'})
reseller_number_of_orders['% Change'] = reseller_number_of_orders['Count Of Orders'].pct_change()*100
reseller_number_of_orders['Year Over Year'] = reseller_number_of_orders['Count Of Orders'].pct_change(periods = 12)*100
reseller_number_of_orders = reseller_number_of_orders[['Year','Month','Count Of Orders','% Change','Year Over Year']]

In [ ]:
non_reseller_number_of_orders

In [ ]:
reseller_number_of_orders

# WORKSHEET 01: 
* Overall resellers and supers
* With arduino

In [ ]:
overall_resellers = all_products.copy()
overall_resellers = overall_resellers[(overall_resellers['orders_reseller'] == 1) | (overall_resellers['orders_super_reseller'] == 1)]

In [ ]:
def reseller_type(x):
    if x['orders_reseller'] == 1 and x['orders_super_reseller'] == 0:
        reseller_type = 'Reseller'
    elif (x['orders_super_reseller'] == 1):
        reseller_type = 'Super Reseller'
    else:
        reseller_type = 'try again'
    return reseller_type

overall_resellers['Reseller Type'] = overall_resellers.apply(reseller_type, axis = 'columns')

In [ ]:
overall_resellers_with_arduino_reseller = overall_resellers[['Year','Month Number','Month','Revenue','Gross Profit','Reseller Type']]
overall_resellers_with_arduino_reseller = overall_resellers_with_arduino_reseller.loc[overall_resellers_with_arduino_reseller['Reseller Type'] == 'Reseller'].groupby(['Year','Month Number','Month']).sum()
overall_resellers_with_arduino_reseller = overall_resellers_with_arduino_reseller.reset_index().drop('Month Number', 1)
overall_resellers_with_arduino_reseller = overall_resellers_with_arduino_reseller.rename(columns = {'Revenue':'Res Rev','Gross Profit':'Res Gr Profit'})

In [ ]:
overall_resellers_with_arduino_super_reseller = overall_resellers[['Year','Month Number','Month','Revenue','Gross Profit','Reseller Type']]
overall_resellers_with_arduino_super_reseller = overall_resellers_with_arduino_super_reseller.loc[overall_resellers_with_arduino_super_reseller['Reseller Type'] == 'Super Reseller'].groupby(['Year','Month Number','Month']).sum()
overall_resellers_with_arduino_super_reseller = overall_resellers_with_arduino_super_reseller.reset_index().drop('Month Number', 1)
overall_resellers_with_arduino_super_reseller = overall_resellers_with_arduino_super_reseller.rename(columns = {'Revenue':'Super Rev','Gross Profit':'Super Gr Profit'})

In [ ]:
overall_resellers_with_arduino_revenue = pd.merge(overall_resellers_with_arduino_reseller[['Year','Month','Res Rev']], overall_resellers_with_arduino_super_reseller[['Year','Month','Super Rev']], on = ['Year','Month'])
overall_resellers_with_arduino_profit = pd.merge(overall_resellers_with_arduino_reseller[['Year','Month','Res Gr Profit']], overall_resellers_with_arduino_super_reseller[['Year','Month','Super Gr Profit']], on = ['Year','Month'])

In [ ]:
overall_resellers_with_arduino_revenue['Total'] = overall_resellers_with_arduino_revenue['Res Rev'] + overall_resellers_with_arduino_revenue['Super Rev']
overall_resellers_with_arduino_revenue['Total % Change'] = overall_resellers_with_arduino_revenue['Total'].pct_change()*100
overall_resellers_with_arduino_revenue['Year Over Year'] = overall_resellers_with_arduino_revenue['Total'].pct_change(periods = 12)*100

overall_resellers_with_arduino_profit['Total'] = overall_resellers_with_arduino_profit['Res Gr Profit'] + overall_resellers_with_arduino_profit['Super Gr Profit']
overall_resellers_with_arduino_profit['Total % Change'] = overall_resellers_with_arduino_profit['Total'].pct_change()*100
overall_resellers_with_arduino_profit['Year Over Year'] = overall_resellers_with_arduino_profit['Total'].pct_change(periods = 12)*100

In [ ]:
overall_resellers_with_arduino_revenue

In [ ]:
overall_resellers_with_arduino_profit

# WORKSHEET 01: 
* Overall resellers and supers
* Without arduino

In [ ]:
overall_resellers_without_arduino = overall_resellers.copy()
overall_resellers_without_arduino = overall_resellers_without_arduino[~overall_resellers_without_arduino['PID'].isin(arduino_exclude.tolist())]

In [ ]:
overall_resellers_without_arduino_reseller = overall_resellers_without_arduino[['Year','Month Number','Month','Revenue','Gross Profit','Reseller Type']]
overall_resellers_without_arduino_reseller = overall_resellers_without_arduino_reseller.loc[overall_resellers_without_arduino_reseller['Reseller Type'] == 'Reseller'].groupby(['Year','Month Number','Month']).sum()
overall_resellers_without_arduino_reseller = overall_resellers_without_arduino_reseller.reset_index().drop('Month Number', 1)
overall_resellers_without_arduino_reseller = overall_resellers_without_arduino_reseller.rename(columns = {'Revenue':'Res Rev','Gross Profit':'Res Gr Profit'})

In [ ]:
overall_resellers_without_arduino_super_reseller = overall_resellers_without_arduino[['Year','Month Number','Month','Revenue','Gross Profit','Reseller Type']]
overall_resellers_without_arduino_super_reseller = overall_resellers_without_arduino_super_reseller.loc[overall_resellers_without_arduino_super_reseller['Reseller Type'] == 'Super Reseller'].groupby(['Year','Month Number','Month']).sum()
overall_resellers_without_arduino_super_reseller = overall_resellers_without_arduino_super_reseller.reset_index().drop('Month Number', 1)
overall_resellers_without_arduino_super_reseller = overall_resellers_without_arduino_super_reseller.rename(columns = {'Revenue':'Super Rev','Gross Profit':'Super Gr Profit'})

In [ ]:
overall_resellers_without_arduino_revenue = pd.merge(overall_resellers_without_arduino_reseller[['Year','Month','Res Rev']], overall_resellers_without_arduino_super_reseller[['Year','Month','Super Rev']], on = ['Year','Month'])
overall_resellers_without_arduino_profit = pd.merge(overall_resellers_without_arduino_reseller[['Year','Month','Res Gr Profit']], overall_resellers_without_arduino_super_reseller[['Year','Month','Super Gr Profit']], on = ['Year','Month'])

In [ ]:
overall_resellers_without_arduino_revenue['Total'] = overall_resellers_without_arduino_revenue['Res Rev'] + overall_resellers_without_arduino_revenue['Super Rev']
overall_resellers_without_arduino_revenue['Total % Change'] = overall_resellers_without_arduino_revenue['Total'].pct_change()*100
overall_resellers_without_arduino_revenue['Year Over Year'] = overall_resellers_without_arduino_revenue['Total'].pct_change(periods = 12)*100

overall_resellers_without_arduino_profit['Total'] = overall_resellers_without_arduino_profit['Res Gr Profit'] + overall_resellers_without_arduino_profit['Super Gr Profit']
overall_resellers_without_arduino_profit['Total % Change'] = overall_resellers_without_arduino_profit['Total'].pct_change()*100
overall_resellers_without_arduino_profit['Year Over Year'] = overall_resellers_without_arduino_profit['Total'].pct_change(periods = 12)*100

In [ ]:
overall_resellers_without_arduino_revenue

In [ ]:
overall_resellers_without_arduino_profit

# WORKSHEET 01: 
* Manufacturing

In [ ]:
all_manufacturing = all_products.copy()
all_manufacturing = all_manufacturing[((all_manufacturing['Date'] >= dt.date(int(year_over_year_start_date[:4]), int(year_over_year_start_date[5:7]), int(year_over_year_start_date[8:10]))) & (all_manufacturing['Date'] <= dt.date(int(year_over_year_end_date[:4]), int(year_over_year_end_date[5:7]), int(year_over_year_end_date[8:10]))))]
all_manufacturing = all_manufacturing[all_manufacturing['Manufacturer'] == 'Adafruit']
all_manufacturing = all_manufacturing[['Year','Month Number','Month','Revenue','Gross Profit']]
all_manufacturing = all_manufacturing.groupby(['Year','Month Number','Month']).sum().reset_index().drop('Month Number', 1)

In [ ]:
overall_manufacturing_revenue = all_manufacturing.copy()
overall_manufacturing_revenue = overall_manufacturing_revenue[['Year','Month','Revenue']]
overall_manufacturing_revenue['% Change'] = overall_manufacturing_revenue['Revenue'].pct_change()*100
overall_manufacturing_revenue['Year Over Year'] = overall_manufacturing_revenue['Revenue'].pct_change(periods = 12)*100

In [ ]:
overall_manufacturing_revenue

In [ ]:
overall_manufacturing_profit = all_manufacturing.copy()
overall_manufacturing_profit = overall_manufacturing_profit[['Year','Month','Gross Profit']]
overall_manufacturing_profit['% Change'] = overall_manufacturing_profit['Gross Profit'].pct_change()*100
overall_manufacturing_profit['Year Over Year'] = overall_manufacturing_profit['Gross Profit'].pct_change(periods = 12)*100

In [ ]:
overall_manufacturing_profit

# WORKSHEET 01: 
* Popular products by OID count

In [ ]:
oid_count_current_month = all_products.copy()
oid_count_current_month = oid_count_current_month[(oid_count_current_month['Year'] == current_year) & (oid_count_current_month['Month'] == current_month) & (oid_count_current_month['Qty Free'] == 0)]
oid_count_current_month = oid_count_current_month[['PID','Name','orders_id']]

oid_count_previous_month = all_products.copy()
oid_count_previous_month = oid_count_previous_month[(oid_count_previous_month['Year'] == previous_period_year) & (oid_count_previous_month['Month'] == previous_month) & (oid_count_previous_month['Qty Free'] == 0)]
oid_count_previous_month = oid_count_previous_month[['PID','Name','orders_id']]

In [ ]:
oid_count_current_month = oid_count_current_month.groupby(['PID','Name']).count().reset_index()
oid_count_current_month = oid_count_current_month.rename(columns = {'orders_id':'Current Month'})
oid_count_current_month = oid_count_current_month.sort_values('Current Month', ascending = False).iloc[0:25]

oid_count_previous_month = oid_count_previous_month.groupby(['PID','Name']).count().reset_index()
oid_count_previous_month = oid_count_previous_month.rename(columns = {'orders_id':'Previous Month'})

In [ ]:
oid_count = pd.merge(oid_count_current_month, oid_count_previous_month, how = 'left', on = ['PID','Name'])

In [ ]:
oid_count['% Change'] = (oid_count['Current Month'] - oid_count['Previous Month'])/oid_count['Previous Month']*100
oid_count = oid_count.iloc[0:25]

In [ ]:
oid_count.head()

# WORKSHEET 02: 
* Overall by product
* With resellers

In [ ]:
products_with_resellers_current_month = all_products.copy()
products_with_resellers_current_month = products_with_resellers_current_month[(products_with_resellers_current_month['Year'] == current_year) & (products_with_resellers_current_month['Month'] == current_month)]
products_with_resellers_current_month_revenue = products_with_resellers_current_month[['PID','Name','Revenue']]
products_with_resellers_current_month_revenue = products_with_resellers_current_month_revenue.rename(columns = {'Revenue':'Current Month'})
products_with_resellers_current_month_revenue = products_with_resellers_current_month_revenue.groupby(['PID','Name']).sum().reset_index()

products_with_resellers_previous_month = all_products.copy()
products_with_resellers_previous_month = products_with_resellers_previous_month[(products_with_resellers_previous_month['Year'] == previous_period_year) & (products_with_resellers_previous_month['Month'] == previous_month)]
products_with_resellers_previous_month_revenue = products_with_resellers_previous_month[['PID','Name','Revenue']]
products_with_resellers_previous_month_revenue = products_with_resellers_previous_month_revenue.rename(columns = {'Revenue':'Previous Month'})
products_with_resellers_previous_month_revenue = products_with_resellers_previous_month_revenue.groupby(['PID','Name']).sum().reset_index()

In [ ]:
products_with_resellers_revenue = pd.merge(products_with_resellers_current_month_revenue, products_with_resellers_previous_month_revenue, how = 'left', on = ['PID','Name'])

In [ ]:
products_with_resellers_revenue = products_with_resellers_revenue.sort_values('Current Month', ascending = False)
products_with_resellers_revenue['% Change'] = (products_with_resellers_revenue['Current Month'] - products_with_resellers_revenue['Previous Month'])/products_with_resellers_revenue['Previous Month']*100
products_with_resellers_revenue['% Of Total'] = products_with_resellers_revenue['Current Month']/all_products['Revenue'][(all_products['Year'] == current_year) & (all_products['Month'] == current_month)].sum()*100

products_with_resellers_revenue_format = products_with_resellers_revenue.copy()
products_with_resellers_revenue_format = products_with_resellers_revenue_format[products_with_resellers_revenue_format['PID'] != 1205]
products_with_resellers_revenue_format = products_with_resellers_revenue_format.iloc[0:25]

In [ ]:
products_with_resellers_revenue_format

In [ ]:
products_with_resellers_current_month_profit = products_with_resellers_current_month.copy()
products_with_resellers_current_month_profit = products_with_resellers_current_month_profit[['PID','Name','Gross Profit']]
products_with_resellers_current_month_profit = products_with_resellers_current_month_profit.rename(columns = {'Gross Profit':'Current Month'})
products_with_resellers_current_month_profit = products_with_resellers_current_month_profit.groupby(['PID','Name']).sum().reset_index()

products_with_resellers_previous_month_profit = products_with_resellers_previous_month.copy()
products_with_resellers_previous_month_profit = products_with_resellers_previous_month_profit[['PID','Name','Gross Profit']]
products_with_resellers_previous_month_profit = products_with_resellers_previous_month_profit.rename(columns = {'Gross Profit':'Previous Month'})
products_with_resellers_previous_month_profit = products_with_resellers_previous_month_profit.groupby(['PID','Name']).sum().reset_index()

In [ ]:
products_with_resellers_profit = pd.merge(products_with_resellers_current_month_profit, products_with_resellers_previous_month_profit, how = 'left', on = ['PID','Name'])

In [ ]:
products_with_resellers_profit = products_with_resellers_profit.sort_values('Current Month', ascending = False)
products_with_resellers_profit['% Change'] = (products_with_resellers_profit['Current Month'] - products_with_resellers_profit['Previous Month'])/products_with_resellers_profit['Previous Month']*100
products_with_resellers_profit['% Of Total'] = products_with_resellers_profit['Current Month']/all_products['Gross Profit'][(all_products['Year'] == current_year) & (all_products['Month'] == current_month)].sum()*100

products_with_resellers_profit_format = products_with_resellers_profit.copy()
products_with_resellers_profit_format = products_with_resellers_profit_format[products_with_resellers_profit_format['PID'] != 1205]
products_with_resellers_profit_format = products_with_resellers_profit_format.iloc[0:25]

In [ ]:
products_with_resellers_profit_format

# WORKSHEET 03: 
* Overall by product
* Resellers only

In [ ]:
products_with_resellers_only_current_month = all_products.copy()
products_with_resellers_only_current_month = products_with_resellers_only_current_month[(products_with_resellers_only_current_month['Year'] == current_year) & (products_with_resellers_only_current_month['Month'] == current_month) & ((products_with_resellers_only_current_month['orders_reseller'] == 1) | (products_with_resellers_only_current_month['orders_super_reseller'] == 1))]
products_with_resellers_only_current_month_revenue = products_with_resellers_only_current_month[['PID','Name','Revenue']]
products_with_resellers_only_current_month_revenue = products_with_resellers_only_current_month_revenue.rename(columns = {'Revenue':'Current Month'})
products_with_resellers_only_current_month_revenue = products_with_resellers_only_current_month_revenue.groupby(['PID','Name']).sum().reset_index()

products_with_resellers_only_previous_month = all_products.copy()
products_with_resellers_only_previous_month = products_with_resellers_only_previous_month[(products_with_resellers_only_previous_month['Year'] == previous_period_year) & (products_with_resellers_only_previous_month['Month'] == previous_month) & ((products_with_resellers_only_previous_month['orders_reseller'] == 1) | (all_products['orders_super_reseller'] == 1))]
products_with_resellers_only_previous_month_revenue = products_with_resellers_only_previous_month[['PID','Name','Revenue']]
products_with_resellers_only_previous_month_revenue = products_with_resellers_only_previous_month_revenue.rename(columns = {'Revenue':'Previous Month'})
products_with_resellers_only_previous_month_revenue = products_with_resellers_only_previous_month_revenue.groupby(['PID','Name']).sum().reset_index()

In [ ]:
products_with_resellers_only_revenue = pd.merge(products_with_resellers_only_current_month_revenue, products_with_resellers_only_previous_month_revenue, how = 'left', on = ['PID','Name'])

In [ ]:
products_with_resellers_only_revenue = products_with_resellers_only_revenue.sort_values('Current Month', ascending = False)
products_with_resellers_only_revenue['% Change'] = (products_with_resellers_only_revenue['Current Month'] - products_with_resellers_only_revenue['Previous Month'])/products_with_resellers_only_revenue['Previous Month']*100
products_with_resellers_only_revenue['% Of Reseller'] = products_with_resellers_only_revenue['Current Month']/products_with_resellers_only_revenue['Current Month'].sum()*100
products_with_resellers_only_revenue['% Of Total'] = products_with_resellers_only_revenue['Current Month']/all_products['Revenue'][(all_products['Year'] == current_year) & (all_products['Month'] == current_month)].sum()*100

products_with_resellers_only_revenue_format = products_with_resellers_only_revenue.copy()
products_with_resellers_only_revenue_format = products_with_resellers_only_revenue_format[products_with_resellers_only_revenue_format['PID'] != 1205]
products_with_resellers_only_revenue_format = products_with_resellers_only_revenue_format.iloc[0:25]

In [ ]:
products_with_resellers_only_revenue_format.head()

In [ ]:
products_with_resellers_only_current_month_profit = products_with_resellers_only_current_month[['PID','Name','Gross Profit']]
products_with_resellers_only_current_month_profit = products_with_resellers_only_current_month_profit.rename(columns = {'Gross Profit':'Current Month'})
products_with_resellers_only_current_month_profit = products_with_resellers_only_current_month_profit.groupby(['PID','Name']).sum().reset_index()

products_with_resellers_only_previous_month_profit = products_with_resellers_only_previous_month[['PID','Name','Gross Profit']]
products_with_resellers_only_previous_month_profit = products_with_resellers_only_previous_month_profit.rename(columns = {'Gross Profit':'Previous Month'})
products_with_resellers_only_previous_month_profit = products_with_resellers_only_previous_month_profit.groupby(['PID','Name']).sum().reset_index()

In [ ]:
products_with_resellers_only_profit = pd.merge(products_with_resellers_only_current_month_profit, products_with_resellers_only_previous_month_profit, how = 'left', on = ['PID','Name'])

In [ ]:
products_with_resellers_only_profit = products_with_resellers_only_profit.sort_values('Current Month', ascending = False)
products_with_resellers_only_profit['% Change'] = (products_with_resellers_only_profit['Current Month'] - products_with_resellers_only_profit['Previous Month'])/products_with_resellers_only_profit['Previous Month']*100
products_with_resellers_only_profit['% Of Reseller'] = products_with_resellers_only_profit['Current Month']/products_with_resellers_only_profit['Current Month'].sum()*100
products_with_resellers_only_profit['% Of Total'] = products_with_resellers_only_profit['Current Month']/all_products['Gross Profit'][(all_products['Year'] == current_year) & (all_products['Month'] == current_month)].sum()*100

products_with_resellers_only_profit_format = products_with_resellers_only_profit.copy()
products_with_resellers_only_profit_format = products_with_resellers_only_profit_format[products_with_resellers_only_profit_format['PID'] != 1205]
products_with_resellers_only_profit_format = products_with_resellers_only_profit_format.iloc[0:25]

In [ ]:
products_with_resellers_only_profit_format.head()

# WORKSHEET 04: 
* Manufacturing

In [ ]:
manufacturing_products_current_month = all_products.copy()
manufacturing_products_current_month = manufacturing_products_current_month[(manufacturing_products_current_month['Year'] == current_year) & (manufacturing_products_current_month['Month'] == current_month) & (manufacturing_products_current_month['Manufacturer'] == 'Adafruit')]

manufacturing_products_current_month_revenue = manufacturing_products_current_month.copy()
manufacturing_products_current_month_revenue = manufacturing_products_current_month_revenue[['PID','Name','Revenue']]
manufacturing_products_current_month_revenue = manufacturing_products_current_month_revenue.rename(columns = {'Revenue':'Current Month'})
manufacturing_products_current_month_revenue = manufacturing_products_current_month_revenue.groupby(['PID','Name']).sum().reset_index()

manufacturing_products_previous_month = all_products.copy()
manufacturing_products_previous_month = manufacturing_products_previous_month[(manufacturing_products_previous_month['Year'] == previous_period_year) & (manufacturing_products_previous_month['Month'] == previous_month) & (manufacturing_products_previous_month['Manufacturer'] == 'Adafruit')]

manufacturing_products_previous_month_revenue = manufacturing_products_previous_month.copy()
manufacturing_products_previous_month_revenue = manufacturing_products_previous_month_revenue[['PID','Name','Revenue']]
manufacturing_products_previous_month_revenue = manufacturing_products_previous_month_revenue.rename(columns = {'Revenue':'Previous Month'})
manufacturing_products_previous_month_revenue = manufacturing_products_previous_month_revenue.groupby(['PID','Name']).sum().reset_index()

In [ ]:
manufacturing_products_revenue = pd.merge(manufacturing_products_current_month_revenue, manufacturing_products_previous_month_revenue, how = 'left', on = ['PID','Name'])

In [ ]:
manufacturing_products_revenue = manufacturing_products_revenue.sort_values('Current Month', ascending = False)
manufacturing_products_revenue['% Change'] = (manufacturing_products_revenue['Current Month'] - manufacturing_products_revenue['Previous Month'])/manufacturing_products_revenue['Previous Month']*100
manufacturing_products_revenue['% Of Manufact'] = manufacturing_products_revenue['Current Month']/manufacturing_products_revenue['Current Month'].sum()*100
manufacturing_products_revenue['% Of Total'] = manufacturing_products_revenue['Current Month']/all_products['Revenue'][(all_products['Year'] == current_year) & (all_products['Month'] == current_month)].sum()*100

manufacturing_products_revenue_format = manufacturing_products_revenue.copy()
manufacturing_products_revenue_format = manufacturing_products_revenue_format.iloc[0:25]

In [ ]:
manufacturing_products_revenue_format.head()

In [ ]:
manufacturing_products_current_month_profit = manufacturing_products_current_month.copy()
manufacturing_products_current_month_profit = manufacturing_products_current_month_profit[['PID','Name','Gross Profit']]
manufacturing_products_current_month_profit = manufacturing_products_current_month_profit.rename(columns = {'Gross Profit':'Current Month'})
manufacturing_products_current_month_profit = manufacturing_products_current_month_profit.groupby(['PID','Name']).sum().reset_index()

manufacturing_products_previous_month_profit = manufacturing_products_previous_month.copy()
manufacturing_products_previous_month_profit = manufacturing_products_previous_month_profit[['PID','Name','Gross Profit']]
manufacturing_products_previous_month_profit = manufacturing_products_previous_month_profit.rename(columns = {'Gross Profit':'Previous Month'})
manufacturing_products_previous_month_profit = manufacturing_products_previous_month_profit.groupby(['PID','Name']).sum().reset_index()

In [ ]:
manufacturing_products_profit = pd.merge(manufacturing_products_current_month_profit, manufacturing_products_previous_month_profit, how = 'left', on = ['PID','Name'])

In [ ]:
manufacturing_products_profit = manufacturing_products_profit.sort_values('Current Month', ascending = False)
manufacturing_products_profit['% Change'] = (manufacturing_products_profit['Current Month'] - manufacturing_products_profit['Previous Month'])/manufacturing_products_profit['Previous Month']*100
manufacturing_products_profit['% Of Manufact'] = manufacturing_products_profit['Current Month']/manufacturing_products_profit['Current Month'].sum()*100
manufacturing_products_profit['% Of Total'] = manufacturing_products_profit['Current Month']/all_products['Gross Profit'][(all_products['Year'] == current_year) & (all_products['Month'] == current_month)].sum()*100

manufacturing_products_profit_format = manufacturing_products_profit.copy()
manufacturing_products_profit_format = manufacturing_products_profit_format.iloc[0:25]

In [ ]:
manufacturing_products_profit_format.head()

# WORKSHEET 05:  
* New products

In [ ]:
current_month_new_products = launch_dates.copy()
current_month_new_products = current_month_new_products[(current_month_new_products['Launch Year'] == current_year) & (current_month_new_products['Launch Month'] == current_month)]
current_month_new_products.drop('Sku Date Created',1,inplace = True)
current_month_new_products = current_month_new_products.sort_values('Sku Status', ascending = False)

In [ ]:
new_products_main = all_products.copy()
new_products_main = new_products_main[(new_products_main['Launch Year'] == current_year) & (new_products_main['Launch Month'] == current_month)]
new_products = pd.merge(current_month_new_products[['PID','Sku Status','Name']], new_products_main, how = 'left', on = ['PID','Name','Sku Status'])
new_products.fillna(0, inplace = True)

In [ ]:
new_products_revenue = new_products.copy()
new_products_revenue = new_products_revenue[['PID','Name','Revenue','Sku Status']]
new_products_revenue = new_products_revenue.groupby(['PID','Name','Sku Status']).sum().reset_index()
new_products_revenue = new_products_revenue.sort_values('Revenue', ascending = False)
new_products_revenue['% Of New Products'] = new_products_revenue['Revenue']/new_products_revenue['Revenue'].sum()*100
new_products_revenue['% Of Total'] = new_products_revenue['Revenue']/all_products['Revenue'][(all_products['Year'] == current_year) & (all_products['Month'] == current_month)].sum()*100
new_products_revenue = new_products_revenue[['PID','Name','Revenue','% Of New Products','% Of Total','Sku Status']]

new_products_profit = new_products.copy()
new_products_profit = new_products_profit[['PID','Name','Gross Profit','Sku Status']]
new_products_profit = new_products_profit.groupby(['PID','Name','Sku Status']).sum().reset_index()
new_products_profit = new_products_profit.sort_values('Gross Profit', ascending = False)
new_products_profit['% Of New Products'] = new_products_profit['Gross Profit']/new_products_profit['Gross Profit'].sum()*100
new_products_profit['% Of Total'] = new_products_profit['Gross Profit']/all_products['Gross Profit'][(all_products['Year'] == current_year) & (all_products['Month'] == current_month)].sum()*100
new_products_profit = new_products_profit[['PID','Name','Gross Profit','% Of New Products','% Of Total','Sku Status']]

In [ ]:
new_products_revenue.head()

In [ ]:
new_products_profit.head()

# WORKSHEET 06: 
* Parent categories in store

In [ ]:
parent_categories_current_revenue = all_products.copy()
parent_categories_current_revenue = parent_categories_current_revenue[(parent_categories_current_revenue['Year'] == current_year) & (parent_categories_current_revenue['Month'] == current_month)]
parent_categories_current_revenue = parent_categories_current_revenue[['Revenue','categories_name']]
parent_categories_current_revenue = parent_categories_current_revenue.groupby('categories_name').sum().reset_index()
parent_categories_current_revenue = parent_categories_current_revenue.rename(columns = {'Revenue':'Current Month','categories_name':'Parent Category'})

parent_categories_previous_revenue = all_products.copy()
parent_categories_previous_revenue = parent_categories_previous_revenue[(parent_categories_previous_revenue['Year'] == previous_period_year) & (parent_categories_previous_revenue['Month'] == previous_month)]
parent_categories_previous_revenue = parent_categories_previous_revenue[['Revenue','categories_name']]
parent_categories_previous_revenue = parent_categories_previous_revenue.groupby('categories_name').sum().reset_index()
parent_categories_previous_revenue = parent_categories_previous_revenue.rename(columns = {'Revenue':'Previous Month','categories_name':'Parent Category'})

In [ ]:
parent_categories_revenue = pd.merge(parent_categories_current_revenue, parent_categories_previous_revenue, how = 'left', on = 'Parent Category')

In [ ]:
parent_categories_revenue['% Change'] = (parent_categories_revenue['Current Month'] - parent_categories_revenue['Previous Month'])/parent_categories_revenue['Previous Month']*100
parent_categories_revenue['% Of Parent Cats'] = parent_categories_revenue['Current Month']/parent_categories_revenue['Current Month'].sum()*100
parent_categories_revenue['% Of Total'] = parent_categories_revenue['Current Month']/all_products['Revenue'][(all_products['Year'] == current_year) & (all_products['Month'] == current_month)].sum()*100
parent_categories_revenue = parent_categories_revenue.sort_values('Current Month', ascending = False)

In [ ]:
parent_categories_revenue.head()

In [ ]:
parent_categories_current_profit = all_products.loc[(all_products['Year'] == current_year) & (all_products['Month'] == current_month)]
parent_categories_current_profit = parent_categories_current_profit[['Gross Profit','categories_name']]
parent_categories_current_profit = parent_categories_current_profit.groupby('categories_name').sum().reset_index()
parent_categories_current_profit = parent_categories_current_profit.rename(columns = {'Gross Profit':'Current Month','categories_name':'Parent Category'})

parent_categories_previous_profit = all_products.loc[(all_products['Year'] == previous_period_year) & (all_products['Month'] == previous_month)]
parent_categories_previous_profit = parent_categories_previous_profit[['Gross Profit','categories_name']]
parent_categories_previous_profit = parent_categories_previous_profit.groupby('categories_name').sum().reset_index()
parent_categories_previous_profit = parent_categories_previous_profit.rename(columns = {'Gross Profit':'Previous Month','categories_name':'Parent Category'})

In [ ]:
parent_categories_profit = pd.merge(parent_categories_current_profit, parent_categories_previous_profit, how = 'left', on = 'Parent Category')

In [ ]:
parent_categories_profit['% Change'] = (parent_categories_profit['Current Month'] - parent_categories_profit['Previous Month'])/parent_categories_profit['Previous Month']*100
parent_categories_profit['% Of Parent Cats'] = parent_categories_profit['Current Month']/parent_categories_profit['Current Month'].sum()*100
parent_categories_profit['% Of Total'] = parent_categories_profit['Current Month']/all_products['Gross Profit'][(all_products['Year'] == current_year) & (all_products['Month'] == current_month)].sum()*100
parent_categories_profit = parent_categories_profit.sort_values('Current Month', ascending = False)

In [ ]:
parent_categories_profit.head()

# WORKSHEET 07: 
* Totals by department

In [ ]:
totals_by_department_revenue_current = all_products.copy()
totals_by_department_revenue_current = totals_by_department_revenue_current[(totals_by_department_revenue_current['Year'] == current_year) & (totals_by_department_revenue_current['Month'] == current_month)]
totals_by_department_revenue_current = totals_by_department_revenue_current[['Revenue','Department']]
totals_by_department_revenue_current = totals_by_department_revenue_current.groupby('Department').sum().reset_index()
totals_by_department_revenue_current = totals_by_department_revenue_current.rename(columns = {'Revenue':'Current Month'})

totals_by_department_revenue_previous = all_products.copy()
totals_by_department_revenue_previous = totals_by_department_revenue_previous[(totals_by_department_revenue_previous['Year'] == previous_period_year) & (totals_by_department_revenue_previous['Month'] == previous_month)]
totals_by_department_revenue_previous = totals_by_department_revenue_previous[['Revenue','Department']]
totals_by_department_revenue_previous = totals_by_department_revenue_previous.groupby('Department').sum().reset_index()
totals_by_department_revenue_previous = totals_by_department_revenue_previous.rename(columns = {'Revenue':'Previous Month'})

In [ ]:
totals_by_department_revenue = pd.merge(totals_by_department_revenue_current, totals_by_department_revenue_previous, how = 'left', on = 'Department')

In [ ]:
totals_by_department_revenue['% Change'] = (totals_by_department_revenue['Current Month'] - totals_by_department_revenue['Previous Month'])/totals_by_department_revenue['Previous Month']*100
totals_by_department_revenue['% Of Departments'] = totals_by_department_revenue['Current Month']/totals_by_department_revenue['Current Month'].sum()*100
totals_by_department_revenue['% Of Total'] = totals_by_department_revenue['Current Month']/all_products['Revenue'][(all_products['Year'] == current_year) & (all_products['Month'] == current_month)].sum()*100

totals_by_department_revenue = totals_by_department_revenue.sort_values('Current Month', ascending = False)

In [ ]:
totals_by_department_revenue

In [ ]:
totals_by_department_profit_current = all_products.loc[(all_products['Year'] == current_year) & (all_products['Month'] == current_month)]
totals_by_department_profit_current = totals_by_department_profit_current[['Gross Profit','Department']]
totals_by_department_profit_current = totals_by_department_profit_current.groupby('Department').sum().reset_index()
totals_by_department_profit_current = totals_by_department_profit_current.rename(columns = {'Gross Profit':'Current Month'})

totals_by_department_profit_previous = all_products.loc[(all_products['Year'] == previous_period_year) & (all_products['Month'] == previous_month)]
totals_by_department_profit_previous = totals_by_department_profit_previous[['Gross Profit','Department']]
totals_by_department_profit_previous = totals_by_department_profit_previous.groupby('Department').sum().reset_index()
totals_by_department_profit_previous = totals_by_department_profit_previous.rename(columns = {'Gross Profit':'Previous Month'})

In [ ]:
totals_by_department_profit = pd.merge(totals_by_department_profit_current, totals_by_department_profit_previous, how = 'left', on = 'Department')

In [ ]:
totals_by_department_profit['% Change'] = (totals_by_department_profit['Current Month'] - totals_by_department_profit['Previous Month'])/totals_by_department_profit['Previous Month']*100
totals_by_department_profit['% Of Departments'] = totals_by_department_profit['Current Month']/totals_by_department_profit['Current Month'].sum()*100
totals_by_department_profit['% Of Total'] = totals_by_department_profit['Current Month']/all_products['Gross Profit'][(all_products['Year'] == current_year) & (all_products['Month'] == current_month)].sum()*100

totals_by_department_profit = totals_by_department_profit.sort_values('Current Month', ascending = False)

In [ ]:
totals_by_department_profit

# Fill all NAs

In [ ]:
#===== WORKSHEET 01: overview
#overall_revenue_with_arduino_with_marcom.fillna(0, inplace = True)
#overall_profit_with_arduino_with_marcom.fillna(0, inplace = True)

#overall_revenue_without_arduino_with_marcom.fillna(0, inplace = True)
#overall_profit_without_arduino_with_marcom.fillna(0, inplace = True)

#overall_revenue_without_arduino_without_marcom.fillna(0, inplace = True)
#overall_profit_without_arduino_without_marcom.fillna(0, inplace = True)

#number_of_orders.fillna(0, inplace = True)

#overall_resellers_with_arduino_revenue.fillna(0, inplace = True)
#overall_resellers_with_arduino_profit.fillna(0, inplace = True)

#overall_resellers_without_arduino_revenue.fillna(0, inplace = True)
#overall_resellers_without_arduino_profit.fillna(0, inplace = True)

#overall_manufacturing_revenue.fillna(0, inplace = True)
#overall_manufacturing_profit.fillna(0, inplace = True)

#oid_count.fillna(0, inplace = True)

#===== WORKSHEET 02: products with resellers
#products_with_resellers_revenue_format.fillna(0, inplace = True)
#products_with_resellers_profit_format.fillna(0, inplace = True)

#===== WORKSHEET 03: products with resellers only
#products_with_resellers_only_revenue_format.fillna(0, inplace = True)
#products_with_resellers_only_profit_format.fillna(0, inplace = True)

#===== WORKSHEET 04: manufacturing
#manufacturing_products_revenue_format.fillna(0, inplace = True)
#manufacturing_products_profit_format.fillna(0, inplace = True)

#===== WORKSHEET 05: new products
#new_products_revenue.fillna(0, inplace = True)
#new_products_profit.fillna(0, inplace = True)

#====== WORKSHEET 06: parent categories in store
#parent_categories_revenue.fillna(0, inplace = True)
#parent_categories_profit.fillna(0, inplace = True)

#====== WORKSHEET 07: totals by department
#totals_by_department_revenue.fillna(0, inplace = True)
#totals_by_department_profit.fillna(0, inplace = True)

# Get min and max for Excel charts

In [ ]:
#=====WORKSHEET 01: overview
overall_revenue_with_arduino_with_marcom_min = np.min(overall_revenue_with_arduino_with_marcom['Revenue'])
overall_revenue_with_arduino_with_marcom_max = np.max(overall_revenue_with_arduino_with_marcom['Revenue'])
overall_profit_with_arduino_with_marcom_min = np.min(overall_profit_with_arduino_with_marcom['Gross Profit'])
overall_profit_with_arduino_with_marcom_max = np.max(overall_profit_with_arduino_with_marcom['Gross Profit'])

overall_revenue_without_arduino_with_marcom_min = np.min(overall_revenue_without_arduino_with_marcom['Revenue'])
overall_revenue_without_arduino_with_marcom_max = np.max(overall_revenue_without_arduino_with_marcom['Revenue'])
overall_profit_without_arduino_with_marcom_min = np.min(overall_profit_without_arduino_with_marcom['Gross Profit'])
overall_profit_without_arduino_with_marcom_max = np.max(overall_profit_without_arduino_with_marcom['Gross Profit'])

overall_revenue_without_arduino_without_marcom_min = np.min(overall_revenue_without_arduino_without_marcom['Revenue'])
overall_revenue_without_arduino_without_marcom_max = np.max(overall_revenue_without_arduino_without_marcom['Revenue'])
overall_profit_without_arduino_without_marcom_min = np.min(overall_profit_without_arduino_without_marcom['Gross Profit'])
overall_profit_without_arduino_without_marcom_max = np.max(overall_profit_without_arduino_without_marcom['Gross Profit'])

#=====

non_reseller_number_of_orders_min = np.min(non_reseller_number_of_orders['Count Of Orders'])
non_reseller_number_of_orders_max = np.max(non_reseller_number_of_orders['Count Of Orders'])

reseller_number_of_orders_min = np.min(reseller_number_of_orders['Count Of Orders'])
reseller_number_of_orders_max = np.max(reseller_number_of_orders['Count Of Orders'])

#=====

overall_resellers_with_arduino_reseller_revenue_min = np.min(overall_resellers_with_arduino_revenue['Res Rev'])
overall_resellers_with_arduino_reseller_revenue_max = np.max(overall_resellers_with_arduino_revenue['Res Rev'])

overall_resellers_with_arduino_super_reseller_revenue_min = np.min(overall_resellers_with_arduino_revenue['Super Rev'])
overall_resellers_with_arduino_super_reseller_revenue_max = np.max(overall_resellers_with_arduino_revenue['Super Rev'])

#=====

overall_resellers_with_arduino_reseller_profit_min = np.min(overall_resellers_with_arduino_profit['Res Gr Profit'])
overall_resellers_with_arduino_reseller_profit_max = np.max(overall_resellers_with_arduino_profit['Res Gr Profit'])

overall_resellers_with_arduino_super_reseller_profit_min = np.min(overall_resellers_with_arduino_profit['Super Gr Profit'])
overall_resellers_with_arduino_super_reseller_profit_max = np.max(overall_resellers_with_arduino_profit['Super Gr Profit'])

#=====

overall_resellers_without_arduino_reseller_revenue_min = np.min(overall_resellers_without_arduino_revenue['Res Rev'])
overall_resellers_without_arduino_reseller_revenue_max = np.max(overall_resellers_without_arduino_revenue['Res Rev'])

overall_resellers_without_arduino_super_reseller_revenue_min = np.min(overall_resellers_without_arduino_revenue['Super Rev'])
overall_resellers_without_arduino_super_reseller_revenue_max = np.max(overall_resellers_without_arduino_revenue['Super Rev'])

#=====

overall_resellers_without_arduino_reseller_profit_min = np.min(overall_resellers_without_arduino_profit['Res Gr Profit'])
overall_resellers_without_arduino_reseller_profit_max = np.max(overall_resellers_without_arduino_profit['Res Gr Profit'])

overall_resellers_without_arduino_super_reseller_profit_min = np.min(overall_resellers_without_arduino_profit['Super Gr Profit'])
overall_resellers_without_arduino_super_reseller_profit_max = np.max(overall_resellers_without_arduino_profit['Super Gr Profit'])

#=====

resellers_revenue_min = np.min(resellers_revenue['Revenue'])
resellers_revenue_max = np.max(resellers_revenue['Revenue'])

resellers_profit_min = np.min(resellers_profit['Gross Profit'])
resellers_profit_max = np.max(resellers_profit['Gross Profit'])

non_resellers_revenue_min = np.min(non_resellers_revenue['Revenue'])
non_resellers_revenue_max = np.max(non_resellers_revenue['Revenue'])

non_resellers_profit_min = np.min(non_resellers_profit['Gross Profit'])
non_resellers_profit_max = np.max(non_resellers_profit['Gross Profit'])

#=====

non_reseller_number_of_orders_min = np.min(non_reseller_number_of_orders['Count Of Orders'])
non_reseller_number_of_orders_max = np.max(non_reseller_number_of_orders['Count Of Orders'])

reseller_number_of_orders_min = np.min(reseller_number_of_orders['Count Of Orders'])
reseller_number_of_orders_max = np.max(reseller_number_of_orders['Count Of Orders'])

#=====

overall_manufacturing_revenue_min = np.min(overall_manufacturing_revenue['Revenue'])
overall_manufacturing_revenue_max = np.max(overall_manufacturing_revenue['Revenue'])

overall_manufacturing_profit_min = np.min(overall_manufacturing_profit['Gross Profit'])
overall_manufacturing_profit_max = np.max(overall_manufacturing_profit['Gross Profit'])

#=====

oid_count_min = np.min([np.min(oid_count['Current Month']),np.min(oid_count['Previous Month'])])
oid_count_max = np.max([np.max(oid_count['Current Month']),np.max(oid_count['Previous Month'])])

#===== WORKSHETE 02: products with resellers
products_with_resellers_revenue_format_min = np.min([np.min(products_with_resellers_revenue_format['Current Month']), np.min(products_with_resellers_revenue_format['Previous Month'])])
products_with_resellers_revenue_format_max = np.max([np.max(products_with_resellers_revenue_format['Current Month']), np.max(products_with_resellers_revenue_format['Previous Month'])])

products_with_resellers_profit_format_min = np.min([np.min(products_with_resellers_profit_format['Current Month']), np.min(products_with_resellers_profit_format['Previous Month'])])
products_with_resellers_profit_format_max = np.max([np.max(products_with_resellers_profit_format['Current Month']), np.max(products_with_resellers_profit_format['Previous Month'])])

#===== WORKSHEET 03: products with resellers only
products_with_resellers_only_revenue_format_min = np.min([np.min(products_with_resellers_only_revenue_format['Current Month']), np.min(products_with_resellers_only_revenue_format['Previous Month'])])
products_with_resellers_only_revenue_format_max = np.max([np.max(products_with_resellers_only_revenue_format['Current Month']), np.max(products_with_resellers_only_revenue_format['Previous Month'])])

products_with_resellers_only_profit_format_min = np.min([np.min(products_with_resellers_only_profit_format['Current Month']), np.min(products_with_resellers_only_profit_format['Previous Month'])])
products_with_resellers_only_profit_format_max = np.max([np.max(products_with_resellers_only_profit_format['Current Month']), np.max(products_with_resellers_only_profit_format['Previous Month'])])

#===== WORKSHEET 04: manufacturing
manufacturing_products_revenue_format_min = np.min([np.min(manufacturing_products_revenue_format['Current Month']), np.min(manufacturing_products_revenue_format['Previous Month'])])
manufacturing_products_revenue_format_max = np.max([np.max(manufacturing_products_revenue_format['Current Month']), np.max(manufacturing_products_revenue_format['Previous Month'])])

manufacturing_products_profit_format_min = np.min([np.min(manufacturing_products_profit_format['Current Month']), np.min(manufacturing_products_profit_format['Previous Month'])])
manufacturing_products_profit_format_max = np.max([np.max(manufacturing_products_profit_format['Current Month']), np.max(manufacturing_products_profit_format['Previous Month'])])

#===== WORKSHEET 05: new products

#===== WORKSHEET 06: parent categories in store
parent_categories_revenue_min = np.min([np.min(parent_categories_revenue['Current Month']), np.min(parent_categories_revenue['Previous Month'])])
parent_categories_revenue_max = np.max([np.max(parent_categories_revenue['Current Month']), np.max(parent_categories_revenue['Previous Month'])])

parent_categories_profit_min = np.min([np.min(parent_categories_profit['Current Month']), np.min(parent_categories_profit['Previous Month'])])
parent_categories_profit_max = np.max([np.max(parent_categories_profit['Current Month']), np.max(parent_categories_profit['Previous Month'])])

#====== WORKSHEET 07: totals by department
totals_by_department_revenue_min = np.min([np.min(totals_by_department_revenue['Current Month']), np.min(totals_by_department_revenue['Previous Month'])])
totals_by_department_revenue_max = np.max([np.max(totals_by_department_revenue['Current Month']), np.max(totals_by_department_revenue['Previous Month'])])

totals_by_department_profit_min = np.min([np.min(totals_by_department_profit['Current Month']), np.min(totals_by_department_profit['Previous Month'])])
totals_by_department_profit_max = np.max([np.max(totals_by_department_profit['Current Month']), np.max(totals_by_department_profit['Previous Month'])])

# EXCEL START
* Write data frames
* Establish formatting rules

In [ ]:
writer = pd.ExcelWriter(title, engine = 'xlsxwriter')

#===== WORKSHEET 01: overview
overall_revenue_with_arduino_with_marcom.to_excel(writer, sheet_name='Overview', startrow=7, startcol=1, index=False, header=True)
overall_revenue_without_arduino_with_marcom.to_excel(writer, sheet_name='Overview', startrow=7, startcol=8, index=False, header=True)
overall_revenue_without_arduino_without_marcom.to_excel(writer, sheet_name='Overview', startrow=7, startcol=15, index=False, header=True)

overall_profit_with_arduino_with_marcom.to_excel(writer, sheet_name='Overview', startrow=40, startcol=1, index=False, header=True)
overall_profit_without_arduino_with_marcom.to_excel(writer, sheet_name='Overview', startrow=40, startcol=8, index=False, header=True)
overall_profit_without_arduino_without_marcom.to_excel(writer, sheet_name='Overview', startrow=40, startcol=15, index=False, header=True)

non_resellers_revenue.to_excel(writer, sheet_name='Overview', startrow=7, startcol=22, index=False, header=True)
non_resellers_profit.to_excel(writer, sheet_name='Overview', startrow=40, startcol=22, index=False, header=True)

resellers_revenue.to_excel(writer, sheet_name='Overview', startrow=7, startcol=29, index=False, header=True)
resellers_profit.to_excel(writer, sheet_name='Overview', startrow=40, startcol=29, index=False, header=True)

non_reseller_number_of_orders.to_excel(writer, sheet_name='Overview', startrow=7, startcol=36, index=False, header=True)
reseller_number_of_orders.to_excel(writer, sheet_name='Overview', startrow=40, startcol=36, index=False, header=True)

overall_resellers_with_arduino_revenue.to_excel(writer, sheet_name='Overview', startrow=7, startcol=43, index=False, header=True)
overall_resellers_without_arduino_revenue.to_excel(writer, sheet_name='Overview', startrow=7, startcol=52, index=False, header=True)
overall_resellers_with_arduino_profit.to_excel(writer, sheet_name='Overview', startrow=40, startcol=43, index=False, header=True)
overall_resellers_without_arduino_profit.to_excel(writer, sheet_name='Overview', startrow=40, startcol=52, index=False, header=True)

overall_manufacturing_revenue.to_excel(writer, sheet_name='Overview', startrow=7, startcol=61, index=False, header=True)
overall_manufacturing_profit.to_excel(writer, sheet_name='Overview', startrow=40, startcol=61, index=False, header=True)

oid_count.to_excel(writer, sheet_name='Overview', startrow=7, startcol=68, index=False, header=True)

#===== WORKSHEET 02: overall with resellers
products_with_resellers_revenue_format.to_excel(writer, sheet_name='Overall_with_Resellers', startrow=7, startcol=1, index=False, header=True)
products_with_resellers_profit_format.to_excel(writer, sheet_name='Overall_with_Resellers', startrow=7, startcol=9, index=False, header=True)

#===== WORKSHEET 03: resellers and supers
products_with_resellers_only_revenue_format.to_excel(writer, sheet_name='Resellers_and_Supers', startrow=7, startcol=1, index=False, header=True)
products_with_resellers_only_profit_format.to_excel(writer, sheet_name='Resellers_and_Supers', startrow=7, startcol=10, index=False, header=True)

#===== WORKSHEET 04: manufacturing
manufacturing_products_revenue_format.to_excel(writer, sheet_name='Manufacturing', startrow=7, startcol=1, index=False, header=True)
manufacturing_products_profit_format.to_excel(writer, sheet_name='Manufacturing', startrow=7, startcol=10, index=False, header=True)

#===== WORKSHEET 05: new products
new_products_revenue.to_excel(writer, sheet_name='New_Products', startrow=7, startcol=1, index=False, header=True)
new_products_profit.to_excel(writer, sheet_name='New_Products', startrow=7, startcol=9, index=False, header=True)

#===== WORKSHEET 06: parent categories
parent_categories_revenue.to_excel(writer, sheet_name='Parent_Categories', startrow=7, startcol=1, index=False, header=True)
parent_categories_profit.to_excel(writer, sheet_name='Parent_Categories', startrow=48, startcol=1, index=False, header=True)

#===== WORKSHEET 07: totals by department
totals_by_department_revenue.to_excel(writer, sheet_name='Totals_by_Dept', startrow=7, startcol=1, index=False, header=True)
totals_by_department_profit.to_excel(writer, sheet_name='Totals_by_Dept', startrow=7, startcol=9, index=False, header=True)

#===== WORKSHEET 08: PLM vs Products Report
plm_08.to_excel(writer, sheet_name='PLM_vs_Prod_Report', startrow=7, startcol=1, index=False, header=True)


workbook = writer.book
worksheet1 = writer.sheets['Overview']
worksheet2 = writer.sheets['Overall_with_Resellers']
worksheet3 = writer.sheets['Resellers_and_Supers']
worksheet4 = writer.sheets['Manufacturing']
worksheet5 = writer.sheets['New_Products']
worksheet6 = writer.sheets['Parent_Categories']
worksheet7 = writer.sheets['Totals_by_Dept']
worksheet8 = writer.sheets['PLM_vs_Prod_Report']

money_format = workbook.add_format()
money_format.set_num_format('"$"#,###,##0')

percent_format = workbook.add_format()
percent_format.set_num_format('0.00"%"')

numbers_format = workbook.add_format()
numbers_format.set_num_format('##,##0')

bottom_border = workbook.add_format()
bottom_border.set_bottom(2)

worksheet_title_format = workbook.add_format({
        'bold': 1,
        'font_size': 20})

#=====

table_title_format_01 = workbook.add_format({
        'bold': 1,
        'border': 1,
        'align': 'center',
        'valign': 'vcenter',
        'bg_color': 'gray',
        'font_size': 18,
        'font_color': 'white'})

table_title_format_02 = workbook.add_format({
        'bold': 1,
        'border': 1,
        'align': 'center',
        'valign': 'vcenter',
        'bg_color': 'blue',
        'font_size': 18,
        'font_color': 'white'})

table_title_format_03 = workbook.add_format({
        'bold': 1,
        'border': 1,
        'align': 'center',
        'valign': 'vcenter',
        'bg_color': 'orange',
        'font_size': 18,
        'font_color': 'white'})

table_title_format_04 = workbook.add_format({
        'bold': 1,
        'border': 1,
        'align': 'center',
        'valign': 'vcenter',
        'bg_color': 'purple',
        'font_size': 18,
        'font_color': 'white'})

table_title_format_05 = workbook.add_format({
        'bold': 1,
        'border': 1,
        'align': 'center',
        'valign': 'vcenter',
        'bg_color': 'red',
        'font_size': 18,
        'font_color': 'white'})

#=====

total_format = workbook.add_format({
        'bold': 1,
        'border': 1,
        'align': 'center',
        'valign': 'vcenter',
        'bg_color': 'gray',
        'font_size': 11,
        'font_color': 'white'})

# Set columns

In [ ]:
#===== WORKSHEET 01: overview
worksheet1.write('A1','Overview', worksheet_title_format)

worksheet1.set_column('D:D', 15, money_format)
worksheet1.set_column('E:F', 15, percent_format)

worksheet1.set_column('K:K', 15, money_format)
worksheet1.set_column('L:M', 15, percent_format)

worksheet1.set_column('R:R', 15, money_format)
worksheet1.set_column('S:T', 15, percent_format)

worksheet1.set_column('Y:Y', 15, numbers_format)
worksheet1.set_column('Z:AA', 15, percent_format)

worksheet1.set_column('AF:AF', 15, money_format)
worksheet1.set_column('AG:AH', 15, percent_format)

worksheet1.set_column('AM:AM', 15, numbers_format)
worksheet1.set_column('AN:AO', 15, percent_format)

worksheet1.set_column('AT:AV', 15, money_format)
worksheet1.set_column('AW:AX', 15, percent_format)

worksheet1.set_column('BC:BE', 15, money_format)
worksheet1.set_column('BF:BG', 15, percent_format)

worksheet1.set_column('BL:BL', 15, money_format)
worksheet1.set_column('BM:BN', 15, percent_format)

worksheet1.set_column('BR:BR', 60)
worksheet1.set_column('BS:BT', 15, numbers_format)
worksheet1.set_column('BU:BU', 15, percent_format)

worksheet1.set_column('A:CZ', 15)

#===== WORKSHEET 02: overall with resellers
worksheet2.write('A1','Overall Sales With Resellers', worksheet_title_format)

worksheet2.set_column('C:C', 60, None)
worksheet2.set_column('D:E', 15, money_format)
worksheet2.set_column('F:H', 15, percent_format)

worksheet2.set_column('K:K', 60, None)
worksheet2.set_column('L:M', 15, money_format)
worksheet2.set_column('N:O', 15, percent_format)

worksheet2.set_column('A:CZ', 15)

#===== WORKSHEET 03: resellers and supers
worksheet3.write('A1','Resellers And Supers Only', worksheet_title_format)

worksheet3.set_column('C:C', 60, None)
worksheet3.set_column('D:E', 15, money_format)
worksheet3.set_column('F:H', 15, percent_format)

worksheet3.set_column('L:L', 60, None)
worksheet3.set_column('M:N', 15, money_format)
worksheet3.set_column('O:Q', 15, percent_format)

worksheet3.set_column('A:CZ', 15)

#===== WORKSHEET 04: manufacturing
worksheet4.write('A1','Manufacturing', worksheet_title_format)

worksheet4.set_column('C:C', 60, None)
worksheet4.set_column('D:E', 15, money_format)
worksheet4.set_column('F:H', 15, percent_format)

worksheet4.set_column('L:L', 60, None)
worksheet4.set_column('M:N', 15, money_format)
worksheet4.set_column('O:Q', 15, percent_format)

worksheet4.set_column('A:CZ', 15)

#===== WORKSHEET 05: new products
worksheet5.write('A1','New Products', worksheet_title_format)
worksheet5.write('A2','The Sku Statuses listed here are the Sku Statuses assigned at the time that this report was generated', None)

worksheet5.set_column('C:C', 60, None)
worksheet5.set_column('D:D', 15, money_format)
worksheet5.set_column('E:F', 15, percent_format)

worksheet5.set_column('J:J', 15, None)
worksheet5.set_column('K:K', 60, None)
worksheet5.set_column('L:L', 15, money_format)
worksheet5.set_column('M:N', 15, percent_format)

worksheet5.set_column('A:CZ', 15)

#===== WORKSHEET 06: parent categories
worksheet6.write('A1','Parent Categories In Store', worksheet_title_format)

worksheet6.set_column('B:B', 30, money_format)
worksheet6.set_column('C:D', 15, money_format)
worksheet6.set_column('E:G', 15, percent_format)

worksheet6.set_column('A:CZ', 15)

#===== WORKSHEET 07: totals by department
worksheet7.write('A1','Totals By Department', worksheet_title_format)

worksheet7.set_column('C:D', 15, money_format)
worksheet7.set_column('E:G', 15, percent_format)

worksheet7.set_column('K:L', 15, money_format)
worksheet7.set_column('M:O', 15, percent_format)

worksheet7.set_column('A:CZ', 15)

#===== WORKSHEET 08: PLM Revenue vs. Products Report
worksheet8.write('A1','PLM Revenue vs. Products Report', worksheet_title_format)
worksheet8.write('A3','This worksheet explains how to get from the Products Report revenue to the revenue in PLM Stats', worksheet_title_format)

worksheet8.set_column('D:H', 15, money_format)
worksheet8.set_column('I:J', 25, money_format)
worksheet8.set_column('K:L', 15, money_format)
worksheet8.set_column('A:C', 15, None)

# Write table headers and format them

In [ ]:
#===== WORKSHEET 01: overview
worksheet1.merge_range('B7:F7', 'Revenue: With Arduino, With Marcom', table_title_format_01)
worksheet1.merge_range('B40:F40', 'Gross Profit: With Arduino, With Marcom', table_title_format_01)
worksheet1.merge_range('I7:M7', 'Revenue: Without Arduino, With Marcom', table_title_format_01)
worksheet1.merge_range('I40:M40', 'Gross Profit: Without Arduino, With Marcom', table_title_format_01)
worksheet1.merge_range('P7:T7', 'Revenue: Without Arduino, Without Marcom', table_title_format_01)
worksheet1.merge_range('P40:T40', 'Gross Profit: Without Arduino, Without Marcom', table_title_format_01)

worksheet1.merge_range('W7:AA7', 'Revenue: Non Resellers, Without Arduino, Without Marcom', table_title_format_03)
worksheet1.merge_range('W40:AA40', 'Gross Profit: Non Resellers, Without Arduino, Without Marcom', table_title_format_03)
worksheet1.merge_range('AD7:AH7', 'Revenue: Resellers, Without Arduino, Without Marcom', table_title_format_03)
worksheet1.merge_range('AD40:AH40', 'Gross Profit: Resellers, Without Arduino, Without Marcom', table_title_format_03)

worksheet1.merge_range('AK7:AO7', 'Non Resellers: Number Of Orders', table_title_format_02)
worksheet1.merge_range('AK40:AO40', 'Resellers: Number Of Orders', table_title_format_02)

worksheet1.merge_range('AR7:AX7', 'Revenue: Resellers And Supers: With Arduino, With Marcom', table_title_format_04)
worksheet1.merge_range('AR40:AX40', 'Gross Profit: Resellers And Supers: With Arduino, With Marcom', table_title_format_04)

worksheet1.merge_range('BA7:BG7', 'Revenue: Resellers And Supers: Without Arduino, With Marcom', table_title_format_04)
worksheet1.merge_range('BA40:BG40', 'Gross Profit: Resellers And Supers: Without Arduino, With Marcom', table_title_format_04)

worksheet1.merge_range('BJ7:BN7', 'Revenue: Manufacturing', table_title_format_05)
worksheet1.merge_range('BJ40:BN40', 'Gross Profit: Manufacturing', table_title_format_05)

worksheet1.merge_range('BQ7:BU7', 'Popular Products By OID Count: No Resellers', table_title_format_02)

#===== WORKSHEET 02: overall with resellers
worksheet2.merge_range('B7:G7', 'Revenue: Top 25 Products Including Resellers', table_title_format_02)
worksheet2.merge_range('J7:O7', 'Gross Profit: Top 25 Products Including Resellers', table_title_format_02)

#===== WORKSHEET 03: resellers and supers
worksheet3.merge_range('B7:H7', 'Revenue: Top 25 Products For Resellers And Supers Only', table_title_format_03)
worksheet3.merge_range('K7:Q7', 'Gross Profit: Top 25 Products For Resellers And Supers Only', table_title_format_03)

#===== WORKSHEET 04: manufacturing
worksheet4.merge_range('B7:H7', 'Revenue: Top 25 Products For Manufacturing', table_title_format_04)
worksheet4.merge_range('K7:Q7', 'Gross Profit: Top 25 Products For Manufacturing', table_title_format_04)

#===== WORKSHEET 05: new products
worksheet5.merge_range('B7:G7', 'Revenue: All New Products', table_title_format_01)
worksheet5.merge_range('J7:O7', 'Gross Profit: All New Products', table_title_format_01)

#===== WORKSHEET 06: parent categories
worksheet6.merge_range('B7:G7', 'Revenue For Parent Categories In Store', table_title_format_05)
worksheet6.merge_range('B48:G48', 'Gross Profit For Parent Categories In Store', table_title_format_05)

#===== WORKSHEET 07: totals by department
worksheet7.merge_range('B7:G7', 'Revenue For Departments', table_title_format_04)
worksheet7.merge_range('J7:O7', 'Gross Profit For Departments', table_title_format_04)

#===== WORKSHEET 08: PLM Revenue vs. Products Report
worksheet8.merge_range('B7:L7', 'PLM Revenue vs. Products Report', table_title_format_01)
worksheet8.write('B24', 'You may notice that the revenue in PLM Stats is not the same as the revenue here in this workbook.')
worksheet8.write('B25', 'This is because the two revenues are calculated differently.')
worksheet8.write('B26', 'This is how you can get from the Products Report revenue to the PLM Stats revenue.')
worksheet8.write('B27', 'We will take it column by column.')

worksheet8.write('B30', 'Col D: Prod Report Rev: This is (qty minus qty free) times price ')
worksheet8.write('B32', 'Col E: Particle Rev Adj: For every Particle Product we sell we make $1.00 in revenue. I manually make this change in this workbook. If you query the database for Particle revenue, you will find the values in the next column.')
worksheet8.write('B34', 'Col F: DB Particle Rev: For each Particle product, this is (qty minus qty free) times price, not simply $1.00 for each item as it should be.')
worksheet8.write('B36', 'Col G: Arduino Rev Adj: For every Arduino manufactured product, I use a special CSV which is more accurate than the database.')
worksheet8.write('B38', 'Col H: DB Arduino Rev: For every Arduino manufactured product, this is what is in the database, which is not always correct, simply because of the complexity of these transactions.')
worksheet8.write('B40', 'Col I: DB Gift Cert and Subs Rev: I exclude Gift Certificate Sales and AdaBox subscriptions, because if I did not then I would end up counting them twice because of the way I get my data.')
worksheet8.write('B42', 'Col J: Deductions / Refunds: These are refunds, fees, and other deductions not accounted for when my methods are used.')
worksheet8.write('B44', 'Col K: Changed Rev: The values in PLM are calculated daily and therefore are snapshots at the time of calculation. On the first of the month these values are recalculated, but sometimes orders go from "ok" to "refund" after the fact. These are those values which will be reconciled in the following recalculation period.')
worksheet8.write('B46', 'Col L: PLM Rev: Finally we arrive at the values shown in PLM Stats. If you sum columns D to K, row by row, you will get thess values.')
worksheet8.write('B48',' This is how you get from the revenue in the Products Report to the revenue in PLM Stats.')

# Worksheet 01: Charts

In [ ]:
#===== WORKSHEET 01: overview

overall_revenue_with_arduino_with_marcom_chart = workbook.add_chart({'type':'line'})
overall_revenue_with_arduino_with_marcom_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$D$9:$D$21',
        'marker':{'type':'x'}})
overall_revenue_with_arduino_with_marcom_chart.set_title({'name':'Revenue: With Arduino, With Marcom'})
overall_revenue_with_arduino_with_marcom_chart.set_size({'width':550,'height':320})
overall_revenue_with_arduino_with_marcom_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_revenue_with_arduino_with_marcom_min,
        'max':overall_revenue_with_arduino_with_marcom_max})
overall_revenue_with_arduino_with_marcom_chart.set_legend({'none': True})
overall_revenue_with_arduino_with_marcom_chart.set_style(10)
worksheet1.insert_chart('B23', overall_revenue_with_arduino_with_marcom_chart)

#=====

overall_revenue_without_arduino_with_marcom_chart = workbook.add_chart({'type':'line'})
overall_revenue_without_arduino_with_marcom_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$K$9:$K$21',
        'marker':{'type':'x'}})
overall_revenue_without_arduino_with_marcom_chart.set_title({'name':'Revenue: Without Arduino, With Marcom'})
overall_revenue_without_arduino_with_marcom_chart.set_size({'width':550,'height':320})
overall_revenue_without_arduino_with_marcom_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_revenue_without_arduino_with_marcom_min,
        'max':overall_revenue_without_arduino_with_marcom_max})
overall_revenue_without_arduino_with_marcom_chart.set_legend({'none': True})
overall_revenue_without_arduino_with_marcom_chart.set_style(10)
worksheet1.insert_chart('I23', overall_revenue_without_arduino_with_marcom_chart)

#=====

overall_revenue_without_arduino_without_marcom_chart = workbook.add_chart({'type':'line'})
overall_revenue_without_arduino_without_marcom_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$R$9:$R$21',
        'marker':{'type':'x'}})
overall_revenue_without_arduino_without_marcom_chart.set_title({'name':'Revenue: Without Arduino, Without Marcom'})
overall_revenue_without_arduino_without_marcom_chart.set_size({'width':550,'height':320})
overall_revenue_without_arduino_without_marcom_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_revenue_without_arduino_without_marcom_min,
        'max':overall_revenue_without_arduino_without_marcom_max})
overall_revenue_without_arduino_without_marcom_chart.set_legend({'none': True})
overall_revenue_without_arduino_without_marcom_chart.set_style(10)
worksheet1.insert_chart('P23', overall_revenue_without_arduino_without_marcom_chart)

#=====

overall_profit_with_arduino_with_marcom_chart = workbook.add_chart({'type':'line'})
overall_profit_with_arduino_with_marcom_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$D$42:$D$54',
        'marker':{'type':'x'}})
overall_profit_with_arduino_with_marcom_chart.set_title({'name':'Gross Profit: With Arduino, With Marcom'})
overall_profit_with_arduino_with_marcom_chart.set_size({'width':550,'height':320})
overall_profit_with_arduino_with_marcom_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_profit_with_arduino_with_marcom_min,
        'max':overall_profit_with_arduino_with_marcom_max})
overall_profit_with_arduino_with_marcom_chart.set_legend({'none': True})
overall_profit_with_arduino_with_marcom_chart.set_style(10)
worksheet1.insert_chart('B56', overall_profit_with_arduino_with_marcom_chart)

#=====

overall_profit_without_arduino_with_marcom_chart = workbook.add_chart({'type':'line'})
overall_profit_without_arduino_with_marcom_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$K$42:$K$54',
        'marker':{'type':'x'}})
overall_profit_without_arduino_with_marcom_chart.set_title({'name':'Gross Profit: Without Arduino, With Marcom'})
overall_profit_without_arduino_with_marcom_chart.set_size({'width':550,'height':320})
overall_profit_without_arduino_with_marcom_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_profit_without_arduino_with_marcom_min,
        'max':overall_profit_without_arduino_with_marcom_max})
overall_profit_without_arduino_with_marcom_chart.set_legend({'none': True})
overall_profit_without_arduino_with_marcom_chart.set_style(10)
worksheet1.insert_chart('I56', overall_profit_without_arduino_with_marcom_chart)

#=====

overall_profit_without_arduino_without_marcom_chart = workbook.add_chart({'type':'line'})
overall_profit_without_arduino_without_marcom_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$R$42:$R$54',
        'marker':{'type':'x'}})
overall_profit_without_arduino_without_marcom_chart.set_title({'name':'Gross Profit: Without Arduino, Without Marcom'})
overall_profit_without_arduino_without_marcom_chart.set_size({'width':550,'height':320})
overall_profit_without_arduino_without_marcom_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_profit_without_arduino_without_marcom_min,
        'max':overall_profit_without_arduino_without_marcom_max})
overall_profit_without_arduino_without_marcom_chart.set_legend({'none': True})
overall_profit_without_arduino_without_marcom_chart.set_style(10)
worksheet1.insert_chart('P56', overall_profit_without_arduino_without_marcom_chart)

#=====

non_reseller_revenue_chart = workbook.add_chart({'type':'line'})
non_reseller_revenue_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$Y$9:$Y$21',
        'marker':{'type':'x'}})
non_reseller_revenue_chart.set_title({'name':'Revenue: Non Reseller, Without Arduino, Without Marcom'})
non_reseller_revenue_chart.set_size({'width':550,'height':320})
non_reseller_revenue_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':non_resellers_revenue_min,
        'max':non_resellers_revenue_max})
non_reseller_revenue_chart.set_legend({'none': True})
non_reseller_revenue_chart.set_style(10)
worksheet1.insert_chart('W23', non_reseller_revenue_chart)

#=====

non_reseller_profit_chart = workbook.add_chart({'type':'line'})
non_reseller_profit_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$Y$42:$Y$54',
        'marker':{'type':'x'}})
non_reseller_profit_chart.set_title({'name':'Gross Profit: Non Reseller, Without Arduino, Without Marcom'})
non_reseller_profit_chart.set_size({'width':550,'height':320})
non_reseller_profit_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':non_resellers_profit_min,
        'max':non_resellers_profit_max})
non_reseller_profit_chart.set_legend({'none': True})
non_reseller_profit_chart.set_style(10)
worksheet1.insert_chart('W56', non_reseller_profit_chart)

#=====

reseller_revenue_chart = workbook.add_chart({'type':'line'})
reseller_revenue_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$AF$9:$AF$21',
        'marker':{'type':'x'}})
reseller_revenue_chart.set_title({'name':'Revenue: Reseller, Without Arduino, Without Marcom'})
reseller_revenue_chart.set_size({'width':550,'height':320})
reseller_revenue_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':resellers_revenue_min,
        'max':resellers_revenue_max})
reseller_revenue_chart.set_legend({'none': True})
reseller_revenue_chart.set_style(10)
worksheet1.insert_chart('AD23', reseller_revenue_chart)

#=====

reseller_profit_chart = workbook.add_chart({'type':'line'})
reseller_profit_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$AF$42:$AF$54',
        'marker':{'type':'x'}})
reseller_profit_chart.set_title({'name':'Gross Profit: Reseller, Without Arduino, Without Marcom'})
reseller_profit_chart.set_size({'width':550,'height':320})
reseller_profit_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':resellers_profit_min,
        'max':resellers_profit_max})
reseller_profit_chart.set_legend({'none': True})
reseller_profit_chart.set_style(10)
worksheet1.insert_chart('AD56', reseller_profit_chart)

#=====

non_reseller_number_of_orders_chart = workbook.add_chart({'type':'line'})
non_reseller_number_of_orders_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$AM$9:$AM$21',
        'marker':{'type':'x'}})
non_reseller_number_of_orders_chart.set_title({'name':'Non Resellers: Number Of Orders'})
non_reseller_number_of_orders_chart.set_size({'width':550,'height':320})
non_reseller_number_of_orders_chart.set_y_axis({
        'num_format':'#,###,##0',
        'min':non_reseller_number_of_orders_min,
        'max':non_reseller_number_of_orders_max})
non_reseller_number_of_orders_chart.set_legend({'none': True})
non_reseller_number_of_orders_chart.set_style(10)
worksheet1.insert_chart('AK23', non_reseller_number_of_orders_chart)

#=====

reseller_number_of_orders_chart = workbook.add_chart({'type':'line'})
reseller_number_of_orders_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$AM$42:$AM$54',
        'marker':{'type':'x'}})
reseller_number_of_orders_chart.set_title({'name':'Resellers: Number Of Orders'})
reseller_number_of_orders_chart.set_size({'width':550,'height':320})
reseller_number_of_orders_chart.set_y_axis({
        'num_format':'#,###,##0',
        'min':reseller_number_of_orders_min,
        'max':reseller_number_of_orders_max})
reseller_number_of_orders_chart.set_legend({'none': True})
reseller_number_of_orders_chart.set_style(10)
worksheet1.insert_chart('AK56', reseller_number_of_orders_chart)

#=====

overall_reseller_revenue_with_arduino_with_marcom_chart = workbook.add_chart({'type':'line'})
overall_reseller_revenue_with_arduino_with_marcom_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$AT$9:$AT$21',
        'marker':{'type':'x'},
        'name':'Resellers'})
overall_reseller_revenue_with_arduino_with_marcom_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$AU$9:$AU$21',
        'marker':{'type':'x'},
        'name':'Super Resellers',
        'y2_axis':1,})
overall_reseller_revenue_with_arduino_with_marcom_chart.set_title({'name':'Revenue: Resellers And Supers: With Arduino'})
overall_reseller_revenue_with_arduino_with_marcom_chart.set_size({'width':770,'height':320})
overall_reseller_revenue_with_arduino_with_marcom_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_resellers_with_arduino_reseller_revenue_min,
        'max':overall_resellers_with_arduino_reseller_revenue_max,
        'name':'Resellers'})
overall_reseller_revenue_with_arduino_with_marcom_chart.set_y2_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_resellers_with_arduino_super_reseller_revenue_min,
        'max':overall_resellers_with_arduino_super_reseller_revenue_max,
        'name':'Super Resellers'})
overall_reseller_revenue_with_arduino_with_marcom_chart.set_legend({'none': False})
overall_reseller_revenue_with_arduino_with_marcom_chart.set_style(10)
worksheet1.insert_chart('AR23', overall_reseller_revenue_with_arduino_with_marcom_chart)

#=====

overall_reseller_revenue_without_arduino_with_marcom_chart = workbook.add_chart({'type':'line'})
overall_reseller_revenue_without_arduino_with_marcom_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$BC$9:$BC$21',
        'marker':{'type':'x'},
        'name':'Resellers'})
overall_reseller_revenue_without_arduino_with_marcom_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$BD$9:$BD$21',
        'marker':{'type':'x'},
        'name':'Super Resellers',
        'y2_axis':1,})
overall_reseller_revenue_without_arduino_with_marcom_chart.set_title({'name':'Revenue: Resellers And Supers: Without Arduino'})
overall_reseller_revenue_without_arduino_with_marcom_chart.set_size({'width':770,'height':320})
overall_reseller_revenue_without_arduino_with_marcom_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_resellers_without_arduino_reseller_revenue_min,
        'max':overall_resellers_without_arduino_reseller_revenue_max,
        'name':'Resellers'})
overall_reseller_revenue_without_arduino_with_marcom_chart.set_y2_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_resellers_without_arduino_super_reseller_revenue_min,
        'max':overall_resellers_without_arduino_super_reseller_revenue_max,
        'name':'Super Resellers'})
overall_reseller_revenue_without_arduino_with_marcom_chart.set_legend({'none': False})
overall_reseller_revenue_without_arduino_with_marcom_chart.set_style(10)
worksheet1.insert_chart('BA23', overall_reseller_revenue_without_arduino_with_marcom_chart)

#=====

overall_reseller_profit_with_arduino_with_marcom_chart = workbook.add_chart({'type':'line'})
overall_reseller_profit_with_arduino_with_marcom_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$AT$42:$AT$54',
        'marker':{'type':'x'},
        'name':'Resellers'})
overall_reseller_profit_with_arduino_with_marcom_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$AU$42:$AU$54',
        'marker':{'type':'x'},
        'name':'Super Resellers',
        'y2_axis':1,})
overall_reseller_profit_with_arduino_with_marcom_chart.set_title({'name':'Gross Profit: Resellers And Supers: With Arduino'})
overall_reseller_profit_with_arduino_with_marcom_chart.set_size({'width':770,'height':320})
overall_reseller_profit_with_arduino_with_marcom_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_resellers_with_arduino_reseller_profit_min,
        'max':overall_resellers_with_arduino_reseller_profit_max,
        'name':'Resellers'})
overall_reseller_profit_with_arduino_with_marcom_chart.set_y2_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_resellers_with_arduino_super_reseller_profit_min,
        'max':overall_resellers_with_arduino_super_reseller_profit_max,
        'name':'Super Resellers'})
overall_reseller_profit_with_arduino_with_marcom_chart.set_legend({'none': False})
overall_reseller_profit_with_arduino_with_marcom_chart.set_style(10)
worksheet1.insert_chart('AR56', overall_reseller_profit_with_arduino_with_marcom_chart)

#=====

overall_reseller_profit_without_arduino_with_marcom_chart = workbook.add_chart({'type':'line'})
overall_reseller_profit_without_arduino_with_marcom_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$BC$42:$BC$54',
        'marker':{'type':'x'},
        'name':'Resellers'})
overall_reseller_profit_without_arduino_with_marcom_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$BD$42:$BD$54',
        'marker':{'type':'x'},
        'name':'Super Resellers',
        'y2_axis':1,})
overall_reseller_profit_without_arduino_with_marcom_chart.set_title({'name':'Gross Profit: Resellers And Supers: Without Arduino'})
overall_reseller_profit_without_arduino_with_marcom_chart.set_size({'width':770,'height':320})
overall_reseller_profit_without_arduino_with_marcom_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_resellers_without_arduino_reseller_profit_min,
        'max':overall_resellers_without_arduino_reseller_profit_max,
        'name':'Resellers'})
overall_reseller_profit_without_arduino_with_marcom_chart.set_y2_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_resellers_without_arduino_super_reseller_profit_min,
        'max':overall_resellers_without_arduino_super_reseller_profit_max,
        'name':'Super Resellers'})
overall_reseller_profit_without_arduino_with_marcom_chart.set_legend({'none': False})
overall_reseller_profit_without_arduino_with_marcom_chart.set_style(10)
worksheet1.insert_chart('BA56', overall_reseller_profit_without_arduino_with_marcom_chart)

#=====

overall_manufacturing_revenue_chart = workbook.add_chart({'type':'line'})
overall_manufacturing_revenue_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$BL$9:$BL$21',
        'marker':{'type':'x'}})
overall_manufacturing_revenue_chart.set_title({'name':'Revenue: Manufacturing'})
overall_manufacturing_revenue_chart.set_size({'width':550,'height':320})
overall_manufacturing_revenue_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_manufacturing_revenue_min,
        'max':overall_manufacturing_revenue_max})
overall_manufacturing_revenue_chart.set_legend({'none': True})
overall_manufacturing_revenue_chart.set_style(10)
worksheet1.insert_chart('BJ23', overall_manufacturing_revenue_chart)

#=====

overall_manufacturing_profit_chart = workbook.add_chart({'type':'line'})
overall_manufacturing_profit_chart.add_series({
        'categories':'=Overview!$C$9:$C$21',
        'values':'=Overview!$BL$42:$BL$54',
        'marker':{'type':'x'}})
overall_manufacturing_profit_chart.set_title({'name':'Gross Profit: Manufacturing'})
overall_manufacturing_profit_chart.set_size({'width':550,'height':320})
overall_manufacturing_profit_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':overall_manufacturing_profit_min,
        'max':overall_manufacturing_profit_max})
overall_manufacturing_profit_chart.set_legend({'none': True})
overall_manufacturing_profit_chart.set_style(10)
worksheet1.insert_chart('BJ56', overall_manufacturing_profit_chart)

#=====

pid_by_oid_count_chart = workbook.add_chart({'type':'column'})
pid_by_oid_count_chart.add_series({
        'categories':'=Overview!$BR$9:$BR$33',
        'values':'=Overview!$BS$9:$BS$33',
        'name':'Current Month'})
pid_by_oid_count_chart.add_series({
        'categories':'=Overview!$BR$9:$BR$33',
        'values':'=Overview!$BT$9:$BT$33',
        'name':'Previous Month'})
pid_by_oid_count_chart.set_title({'name':'Popular Products By OID Count'})
pid_by_oid_count_chart.set_size({'width':770,'height':500})
pid_by_oid_count_chart.set_y_axis({
        'num_format':'#,###,##0',
        'min':oid_count_min,
        'max':oid_count_max})
pid_by_oid_count_chart.set_x_axis({'num_font':  {'rotation': 45}})
pid_by_oid_count_chart.set_style(10)
worksheet1.insert_chart('BQ35', pid_by_oid_count_chart)

# Worksheet 02: Charts

In [ ]:
#===== WORKSHEET 02: overall with resellers

overall_product_revenue_with_resellers_chart = workbook.add_chart({'type':'column'})
overall_product_revenue_with_resellers_chart.add_series({
        'categories':'=Overall_with_Resellers!$C$9:$C$33',
        'values':'=Overall_with_Resellers!$D$9:$D$33',
        'name':'Current Month',
        'fill': {'color': 'blue'}})
overall_product_revenue_with_resellers_chart.add_series({
        'categories':'=Overall_with_Resellers!$C$9:$C$33',
        'values':'=Overall_with_Resellers!$E$9:$E$33',
        'name':'Previous Month',
        'fill': {'color': 'gray'}})
overall_product_revenue_with_resellers_chart.set_title({'name':'Top 25 Products By Revenue Including Resellers'})
overall_product_revenue_with_resellers_chart.set_size({'width':660,'height':500})
overall_product_revenue_with_resellers_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':products_with_resellers_revenue_format_min,
        'max':products_with_resellers_revenue_format_max})
overall_product_revenue_with_resellers_chart.set_x_axis({'num_font':  {'rotation': 45}})
overall_product_revenue_with_resellers_chart.set_style(10)
worksheet2.insert_chart('B35', overall_product_revenue_with_resellers_chart)

#=====

overall_product_profit_with_resellers_chart = workbook.add_chart({'type':'column'})
overall_product_profit_with_resellers_chart.add_series({
        'categories':'=Overall_with_Resellers!$K$9:$K$33',
        'values':'=Overall_with_Resellers!$L$9:$L$33',
        'name':'Current Month',
        'fill': {'color': 'blue'}})
overall_product_profit_with_resellers_chart.add_series({
        'categories':'=Overall_with_Resellers!$K$9:$K$33',
        'values':'=Overall_with_Resellers!$M$9:$M$33',
        'name':'Previous Month',
        'fill': {'color': 'gray'}})
overall_product_profit_with_resellers_chart.set_title({'name':'Top 25 Products By Gross Profit Including Resellers'})
overall_product_profit_with_resellers_chart.set_size({'width':660,'height':500})
overall_product_profit_with_resellers_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':products_with_resellers_profit_format_min,
        'max':products_with_resellers_profit_format_max})
overall_product_profit_with_resellers_chart.set_x_axis({'num_font':  {'rotation': 45}})
overall_product_profit_with_resellers_chart.set_style(10)
worksheet2.insert_chart('J35', overall_product_profit_with_resellers_chart)

# Worksheet 03: Charts

In [ ]:
#===== WORKSHEET 03: resellers and supers

reseller_product_revenue_chart = workbook.add_chart({'type':'column'})
reseller_product_revenue_chart.add_series({
        'categories':'=Resellers_and_Supers!$C$9:$C$33',
        'values':'=Resellers_and_Supers!$D$9:$D$33',
        'name':'Current Month',
        'fill': {'color': 'orange'}})
reseller_product_revenue_chart.add_series({
        'categories':'=Resellers_and_Supers!$C$9:$C$33',
        'values':'=Resellers_and_Supers!$E$9:$E$33',
        'name':'Previous Month',
        'fill': {'color': 'green'}})
reseller_product_revenue_chart.set_title({'name':'Top 25 Products By Revenue For Resellers And Supers Only'})
reseller_product_revenue_chart.set_size({'width':773,'height':500})
reseller_product_revenue_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':products_with_resellers_only_revenue_format_min,
        'max':products_with_resellers_only_revenue_format_max})
reseller_product_revenue_chart.set_x_axis({'num_font':  {'rotation': 45}})
reseller_product_revenue_chart.set_style(10)
worksheet3.insert_chart('B35', reseller_product_revenue_chart)

#=====

reseller_product_profit_chart = workbook.add_chart({'type':'column'})
reseller_product_profit_chart.add_series({
        'categories':'=Resellers_and_Supers!$L$9:$L$33',
        'values':'=Resellers_and_Supers!$M$9:$M$33',
        'name':'Current Month',
        'fill': {'color': 'orange'}})
reseller_product_profit_chart.add_series({
        'categories':'=Resellers_and_Supers!$L$9:$L$33',
        'values':'=Resellers_and_Supers!$N$9:$N$33',
        'name':'Previous Month',
        'fill': {'color': 'green'}})
reseller_product_profit_chart.set_title({'name':'Top 25 Products By Gross Profit For Resellers And Supers Only'})
reseller_product_profit_chart.set_size({'width':773,'height':500})
reseller_product_profit_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':products_with_resellers_only_profit_format_min,
        'max':products_with_resellers_only_profit_format_max})
reseller_product_profit_chart.set_x_axis({'num_font':  {'rotation': 45}})
reseller_product_profit_chart.set_style(10)
worksheet3.insert_chart('K35', reseller_product_profit_chart)

# Worksheet 04: Charts

In [ ]:
#===== WORKSHEET 04: manufacturing

manufacturing_product_revenue_chart = workbook.add_chart({'type':'column'})
manufacturing_product_revenue_chart.add_series({
        'categories':'=Manufacturing!$C$9:$C$33',
        'values':'=Manufacturing!$D$9:$D$33',
        'name':'Current Month',
        'fill': {'color': 'purple'}})
manufacturing_product_revenue_chart.add_series({
        'categories':'=Manufacturing!$C$9:$C$33',
        'values':'=Manufacturing!$E$9:$E$33',
        'name':'Previous Month',
        'fill': {'color': 'red'}})
manufacturing_product_revenue_chart.set_title({'name':'Top 25 Products By Revenue For Manufactured Products'})
manufacturing_product_revenue_chart.set_size({'width':773,'height':500})
manufacturing_product_revenue_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':manufacturing_products_revenue_format_min,
        'max':manufacturing_products_revenue_format_max})
manufacturing_product_revenue_chart.set_x_axis({'num_font':  {'rotation': 45}})
manufacturing_product_revenue_chart.set_style(10)
worksheet4.insert_chart('B35', manufacturing_product_revenue_chart)

#=====

manufacturing_product_profit_chart = workbook.add_chart({'type':'column'})
manufacturing_product_profit_chart.add_series({
        'categories':'=Manufacturing!$L$9:$L$33',
        'values':'=Manufacturing!$M$9:$M$33',
        'name':'Current Month',
        'fill': {'color': 'purple'}})
manufacturing_product_profit_chart.add_series({
        'categories':'=Resellers_and_Supers!$L$9:$L$33',
        'values':'=Resellers_and_Supers!$N$9:$N$33',
        'name':'Previous Month',
        'fill': {'color': 'red'}})
manufacturing_product_profit_chart.set_title({'name':'Top 25 Products By Gross Profit For Manufactured Products'})
manufacturing_product_profit_chart.set_size({'width':773,'height':500})
manufacturing_product_profit_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':manufacturing_products_profit_format_min,
        'max':manufacturing_products_profit_format_max})
manufacturing_product_profit_chart.set_x_axis({'num_font':  {'rotation': 45}})
manufacturing_product_profit_chart.set_style(10)
worksheet4.insert_chart('K35', manufacturing_product_profit_chart)

# Worksheet 05: No Charts!

In [ ]:
#===== WORKSHEET 05: new products

# Worksheet 06: Charts

In [ ]:
#===== WORKSHEET 06: parent categories

parent_category_revenue_chart = workbook.add_chart({'type':'bar'})
parent_category_revenue_chart.add_series({
        'categories':'=Parent_Categories!$B$9:$B$42',
        'values':'=Parent_Categories!$C$9:$C$42',
        'name':'Current Month'})
parent_category_revenue_chart.add_series({
        'categories':'=Parent_Categories!$B$9:$B$42',
        'values':'=Parent_Categories!$D$9:$D$42',
        'name':'Previous Month'})
parent_category_revenue_chart.set_title({'name':'Revenue For Parent Categories In Store'})
parent_category_revenue_chart.set_size({'width':770,'height':760})
parent_category_revenue_chart.set_x_axis({
        'num_format':'"$"#,###,##0',
        'min':parent_categories_revenue_min,
        'max':parent_categories_revenue_max,
        'num_font':{'rotation':45}})
parent_category_revenue_chart.set_style(10)
worksheet6.insert_chart('I7', parent_category_revenue_chart)

#===== 

parent_category_profit_chart = workbook.add_chart({'type':'bar'})
parent_category_profit_chart.add_series({
        'categories':'=Parent_Categories!$B$50:$B$83',
        'values':'=Parent_Categories!$C$50:$C$83',
        'name':'Current Month'})
parent_category_profit_chart.add_series({
        'categories':'=Parent_Categories!$B$50:$B$83',
        'values':'=Parent_Categories!$D$50:$D$83',
        'name':'Previous Month'})
parent_category_profit_chart.set_title({'name':'Gross Profit For Parent Categories In Store'})
parent_category_profit_chart.set_size({'width':770,'height':760})
parent_category_profit_chart.set_x_axis({
        'num_format':'"$"#,###,##0',
        'min':parent_categories_profit_min,
        'max':parent_categories_profit_max,
        'num_font':{'rotation':45}})
parent_category_profit_chart.set_style(10)
worksheet6.insert_chart('I48', parent_category_profit_chart)

# Worksheet 07: Charts

In [ ]:
#===== WORKSHEET 07: totals by department

totals_by_department_revenue_chart = workbook.add_chart({'type':'column'})
totals_by_department_revenue_chart.add_series({
        'categories':'=Totals_by_Dept!$B$9:$B$13',
        'values':'=Totals_by_Dept!$C$9:$C$13',
        'name':'Current Month',
        'fill': {'color': 'blue'}})
totals_by_department_revenue_chart.add_series({
        'categories':'=Totals_by_Dept!$B$9:$B$13',
        'values':'=Totals_by_Dept!$D$9:$D$13',
        'name':'Previous Month',
        'fill': {'color': 'green'}})
totals_by_department_revenue_chart.set_title({'name':'Revenue By Department'})
totals_by_department_revenue_chart.set_size({'width':660,'height':320})
totals_by_department_revenue_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':totals_by_department_revenue_min,
        'max':totals_by_department_revenue_max})
totals_by_department_revenue_chart.set_x_axis({'num_font':  {'rotation': 45}})
totals_by_department_revenue_chart.set_style(10)
worksheet7.insert_chart('B15', totals_by_department_revenue_chart)

#=====

totals_by_department_profit_chart = workbook.add_chart({'type':'column'})
totals_by_department_profit_chart.add_series({
        'categories':'=Totals_by_Dept!$J$9:$J$13',
        'values':'=Totals_by_Dept!$K$9:$K$13',
        'name':'Current Month',
        'fill': {'color': 'blue'}})
totals_by_department_profit_chart.add_series({
        'categories':'=Totals_by_Dept!$J$9:$J$13',
        'values':'=Totals_by_Dept!$L$9:$L$13',
        'name':'Previous Month',
        'fill': {'color': 'green'}})
totals_by_department_profit_chart.set_title({'name':'Gross Profit By Department'})
totals_by_department_profit_chart.set_size({'width':660,'height':320})
totals_by_department_profit_chart.set_y_axis({
        'num_format':'"$"#,###,##0',
        'min':totals_by_department_profit_min,
        'max':totals_by_department_profit_max})
totals_by_department_profit_chart.set_x_axis({'num_font':  {'rotation': 45}})
totals_by_department_profit_chart.set_style(10)
worksheet7.insert_chart('J15', totals_by_department_profit_chart)

#=====

totals_by_department_revenue_pie_chart = workbook.add_chart({'type':'pie'})
totals_by_department_revenue_pie_chart.add_series({
        'categories':'=Totals_by_Dept!$B$9:$B$13',
        'values':'=Totals_by_Dept!$C$9:$C$13',
        'name':'Current Month',
        'data_labels': {'value':True,
                        'percentage': True,
                        'leader_lines': True,
                        'legend_key':True}})
totals_by_department_revenue_pie_chart.set_title({'name':'Revenue For Current Month'})
totals_by_department_revenue_pie_chart.set_size({'width':660,'height':320})
totals_by_department_revenue_pie_chart.set_style(10)
worksheet7.insert_chart('B32', totals_by_department_revenue_pie_chart)

#=====

totals_by_department_profit_pie_chart = workbook.add_chart({'type':'pie'})
totals_by_department_profit_pie_chart.add_series({
        'categories':'=Totals_by_Dept!$J$9:$J$13',
        'values':'=Totals_by_Dept!$K$9:$K$13',
        'name':'Current Month',
        'data_labels': {'value':True,
                        'percentage': True,
                        'leader_lines': True,
                        'legend_key':True}})
totals_by_department_profit_pie_chart.set_title({'name':'Gross profit For Current Month'})
totals_by_department_profit_pie_chart.set_size({'width':660,'height':320})
totals_by_department_profit_pie_chart.set_style(10)
worksheet7.insert_chart('J32', totals_by_department_profit_pie_chart)

# Write it all and save it. You're done!

In [ ]:
writer.save()

# For report
* jarad, don't delete this like you did last time

In [ ]:
one = pd.DataFrame(overall_revenue_with_arduino_with_marcom.iloc[12]).T
two = pd.DataFrame(overall_revenue_without_arduino_with_marcom.iloc[12]).T
three = pd.DataFrame(overall_revenue_without_arduino_without_marcom.iloc[12]).T
four = pd.DataFrame(non_resellers_revenue.iloc[12]).T
five = pd.DataFrame(resellers_revenue.iloc[12]).T

for_report = pd.concat([one,two,three,four,five])

for_report.drop(['Month','Year'], 1, inplace = True)
for_report['Revenue'] = ['${:,.0f}'.format(x) for x in for_report['Revenue']]
for_report['% Change'] = ['{:,.2f}%'.format(x) for x in for_report['% Change']]
for_report['Year Over Year'] = ['{:,.2f}%'.format(x) for x in for_report['Year Over Year']]

for_report['Revenue Type'] = ['With Arduino, With Marcom [1205]',
                              'Without Arduino, With Marcom [1205]',
                              'Without Arduino, Without Marcom [1205]',
                             'Non Resellers Only, Without Arduino, Without Marcom [1205]',
                             'Resellers Only, Without Arduino, Without Marcom [1205]']

for_report = for_report[['Revenue Type','% Change','Year Over Year','Revenue']]
for_report.rename(columns = {'% Change':'Monthly Change','Year Over Year':'YoY'},inplace = True)
for_report

In [ ]:
#for_report.to_csv('for report.csv')