### Notes
* Some OIDs have been paid without being first billed; consider having PLM force the user to mark an order as "billed" before "paid"

### Libraries

In [1]:
import sys
sys.path.insert(0,'/Users/jarad/Fake Folder/Python Libraries/')

from jb_libraries import *
%matplotlib inline

### Resources

Email with subject line "unpaid reseller orders stats"

### View order statuses

In [2]:
os = pd.read_sql(
'''
SELECT
orders_status_id,
LOWER(orders_status_name) AS orders_status_name
FROM orders_status
ORDER BY orders_status_id
''', db)

col_fix(os)
display(os)

os_exclude = [8,9,14,15]

    orders status id     orders status name
0                  1                pending
1                  2             processing
2                  3                shipped
3                  4                 update
4                  5                printed
5                  6                 billed
6                  7       payment received
7                  8        fraud - pending
8                  9      fraud - confirmed
9                 10                 return
10                11     replaced defective
11                12     refunded defective
12                13  no shipment necessary
13                14                 voided
14                15           fraud - void

### View billing statuses

In [3]:
bs = pd.read_sql(
'''
SELECT
bs_status_id,
LOWER(bs_status_name) AS bs_status_name
FROM billing_status
''', db)

col_fix(bs)
display(bs)

bs_include = [3,4]

    bs status id           bs status name
0              0                  not set
1              1               not billed
2              2               authorized
3              3                   billed
4              4         payment received
5              5                  charged
6              6                 refunded
7              7            none required
8              8         multiple billing
9              9  paid - multiple billing
10            10     billed - researching
11            11                write off

### Example of an OID without partials, and its billing statuses as they appear in the db

In [4]:
oid = 1950471

Orders table shows us that this OID has been paid

In [5]:
pd.read_sql(
'''
SELECT
bs_status_name
FROM orders o
JOIN billing_status bs ON o.orders_billing_status = bs.bs_status_id
WHERE orders_id = '''+ str(oid) +'''
''', db)

     bs_status_name
0  Payment Received

orders_status_history shows us the same thing as the orders table, which makes sense

In [6]:
pd.read_sql(
'''
SELECT
date_added,
bs_status_name
FROM orders_status_history osh
JOIN billing_status bs ON osh.orders_billing_id = bs.bs_status_id
WHERE orders_id = '''+ str(oid) +'''
ORDER BY date_added
''', db)

           date_added    bs_status_name
0 2019-01-09 16:45:13           Not Set
1 2019-01-09 16:45:13        Not Billed
2 2019-01-09 16:51:41           Not Set
3 2019-01-09 16:54:39  Payment Received

And of course there's nothing in partial_status_history because this OID does not consist of partials

In [7]:
pd.read_sql(
'''
SELECT
psh_partial_id,
bs_status_name
FROM partial_status_history psh
JOIN billing_status bs ON psh.psh_billing_id = bs.bs_status_id
WHERE psh_parent_id = '''+ str(oid) +'''
ORDER BY psh_date_added,psh_partial_status_id
''', db)

Empty DataFrame
Columns: [psh_partial_id, bs_status_name]
Index: []

### Example of an OID with partials, and its billing statuses as they appear in the db

In [8]:
oid = 1823406

Orders table shows you that it's comprised of partials by its "Multiple Billing" status

In [9]:
pd.read_sql(
'''
SELECT
bs_status_name
FROM orders o
JOIN billing_status bs ON o.orders_billing_status = bs.bs_status_id
WHERE orders_id = '''+ str(oid) +'''
''', db)

     bs_status_name
0  Multiple Billing

orders_status_history is not really valid here because the OID consists of partials; for partials, skip this table and go right to the partial_status_history table

In [10]:
pd.read_sql(
'''
SELECT
date_added,
bs_status_name
FROM orders_status_history osh
JOIN billing_status bs ON osh.orders_billing_id = bs.bs_status_id
WHERE orders_id = '''+ str(oid) +'''
ORDER BY date_added
''', db)

           date_added           bs_status_name
0 2018-08-02 17:03:11                  Not Set
1 2018-08-02 17:03:11               Not Billed
2 2018-08-29 12:29:38  Paid - Multiple Billing
3 2018-10-10 10:27:40               Not Billed
4 2018-10-10 10:27:50         Multiple Billing
5 2018-10-10 10:28:34         Multiple Billing

Here we see what we are looking for; namely, when a partial was "billed" and, if applicable, when "payment received"

In [11]:
pd.read_sql(
'''
SELECT
psh_partial_id,
bs_status_name
FROM partial_status_history psh
JOIN billing_status bs ON psh.psh_billing_id = bs.bs_status_id
WHERE psh_parent_id = '''+ str(oid) +'''
ORDER BY psh_date_added,psh_partial_status_id
''', db)

    psh_partial_id    bs_status_name
0                1           Not Set
1                1           Not Set
2                1           Not Set
3                1           Not Set
4                1           Not Set
5                1           Not Set
6                1        Not Billed
7                1        Not Billed
8                1           Not Set
9                1           Not Set
10               1           Not Set
11               1           Not Set
12               1           Not Set
13               1           Not Set
14               1           Not Set
15               1           Not Set
16               1           Not Set
17               1           Not Set
18               1           Not Set
19               1           Not Set
20               1            Billed
21               1           Not Set
22               1  Payment Received
23               2           Not Set
24               2           Not Set
25               2           Not Set
26               2           Not Set
27               2           Not Set
28               2           Not Set
29               2           Not Set
30               2            Billed
31               2  Payment Received

### In summary:
* We will treat partials like standalone orders
* We will create an "umbrella orders id" which will be "orders_id-partial_id"
* A non-partial "partial id" will be zero
* For non-partials, we'll get the data from orders_status_history
* For partials, we'll get the data from partial_status_history
* For both of these data sets, we want to know the date when some umbrella_orders_id was marked "billed" and "payment received"

### Check before we start
Make sure partial_status_history does not have a billing_status = 'Multuple Billing'

In [12]:
a = pd.read_sql(
'''
SELECT
DISTINCT bs_status_name
FROM partial_status_history psh
JOIN billing_status bs ON psh.psh_billing_id = bs.bs_status_id 
''', db)

col_fix(a)

if np.sum(a.isin(['Multiple Billing','Paid - Multiple Billing']))[0] > 0:
    raise ValueError('Check ur statuses')

### Get orders status history data

In [13]:
osh1 = pd.read_sql(
'''
SELECT
DATE(date_added) AS date_added,
orders_id,
0 AS partial_id,
CONCAT(orders_id, '-', 0) AS umbrella_orders_id,
orders_billing_id
FROM orders_status_history
WHERE orders_id NOT IN (SELECT psh_parent_id FROM partial_status_history)
AND orders_billing_id IN '''+ str(tuple(bs_include)) +'''
AND orders_status_id NOT IN '''+ str(tuple(os_exclude)) +'''
''', db)

col_fix(osh1)

In [14]:
osh2 = pd.read_sql(
'''
SELECT
DATE(psh_date_added) AS date_added,
psh_parent_id AS orders_id,
psh_partial_id AS partial_id,
CONCAT(psh_parent_id, '-', psh_partial_id) AS umbrella_orders_id,
psh_billing_id AS orders_billing_id
FROM partial_status_history
WHERE psh_billing_id IN '''+ str(tuple(bs_include)) +'''
AND psh_partial_status_id NOT IN '''+ str(tuple(os_exclude)) +'''
''', db)

col_fix(osh2)

### Merge together

In [15]:
osh_main = pd.concat([osh1, osh2], sort = False)
osh_main.reset_index(drop = True, inplace = True)

osh_main['date added'] = pd.to_datetime(osh_main['date added'])
osh_main['year and month'] = jb_dates(osh_main['date added'], 'year and month')

### Get customer data

In [16]:
min_oid = osh_main['orders id'].min()

customers = pd.read_sql(
'''
SELECT
orders_id,
IF(orders_reseller = 1, 'reseller','non reseller') AS customer
FROM orders
WHERE orders_id >= '''+ str(min_oid) +'''
''', db)

col_fix(customers)

In [17]:
osh_main['customer'] = osh_main['orders id'].map(dict(zip(customers['orders id'], customers['customer'])))

### Check for dupes
There should be no duplicated umbrella_orders_id + orders_billing_id combos

In [18]:
a = osh_main.groupby(['umbrella orders id','orders billing id'])[['orders billing id']].count().unstack(1)
a.columns = a.columns.droplevel(0)

dupes = a[a.sum(1) > 2]

print('there are {:,.0f} dupe umbrella_orders_id'.format(len(dupes)))

there are 1,744 dupe umbrella_orders_id

Here's one dupe, as an example: [OID 998982](https://volcano.adafruit.com/volcano/Order_Status.php?oid=998982)

In [19]:
oid = dupes.sort_index(ascending = False).iloc[0].name
osh_main[osh_main['umbrella orders id'] == oid]

,date added,orders id,partial id,umbrella orders id,orders billing id,year and month,customer
5829,2016-01-26,998982,0,998982-0,3,2016-01,non reseller
5921,2016-02-03,998982,0,998982-0,3,2016-02,non reseller
5930,2016-02-04,998982,0,998982-0,4,2016-02,non reseller
5931,2016-02-04,998982,0,998982-0,4,2016-02,non reseller
5979,2016-02-05,998982,0,998982-0,4,2016-02,non reseller

### Remove dupes
For each umbrella_orders_id, we want the first date it was marked "billed" and the first date it was marked "payment received"

In [20]:
osh_main.sort_values(['umbrella orders id','orders billing id','date added'], inplace = True)
osh_main.drop_duplicates(['umbrella orders id','orders billing id'], keep = 'first', inplace = True)

a = osh_main.groupby(['umbrella orders id','orders billing id'])[['orders billing id']].count().unstack(1)
a.columns = a.columns.droplevel(0)

dupes = a[a.sum(1) > 2]

if len(dupes) != 0:
    raise ValueError('You still have dupes')

### Get orders total data

In [21]:
ot1 = pd.read_sql(
'''
SELECT
CONCAT(orders_id, '-', 0) AS umbrella_orders_id,
value AS umbrella_orders_total
FROM orders_total 
WHERE orders_id NOT IN (SELECT pt_parent_id FROM partial_total)
AND class = 'ot_total'
''', db)

col_fix(ot1)

In [22]:
ot2 = pd.read_sql(
'''
SELECT
CONCAT(pt_parent_id, '-', pt_partial_id) AS umbrella_orders_id,
pt_value AS umbrella_orders_total
FROM partial_total
WHERE pt_class = 'pt_total'
''', db)

col_fix(ot2)

In [23]:
ot_main = pd.concat([ot1, ot2], sort = False)
ot_main.reset_index(drop = True, inplace = True)

### Check for dupes
There should only be one total per umbrella_orders_id

In [24]:
dupes = ot_main[ot_main['umbrella orders id'].duplicated()]

print('{:,.0f} dupes'.format(len(dupes)))

n = 10
if len(dupes) < n:
    print('less than {} dupes\ndrop them and display them below'.format(n))
    display(dupes)
    ot_main.drop_duplicates('umbrella orders id', inplace = True)
else:
    raise ValueError('Check ur dupes')

8 dupes
less than 10 dupes
drop them and display them below

        umbrella orders id  umbrella orders total
845099                 0-0                  35.55
845100                 0-0                   9.03
845101                 0-0                 253.42
959314                 0-0                  59.79
959315                 0-0                  17.07
959316                 0-0                   9.34
1157956                0-0                 393.74
1931711           985857-2                 156.00

### Map order totals

In [25]:
osh_main['umbrella order total'] = osh_main['umbrella orders id'].map(dict(zip(ot_main['umbrella orders id'], ot_main['umbrella orders total'])))

### Map billing status

In [26]:
osh_main['billing status name'] = osh_main['orders billing id'].map(dict(zip(bs['bs status id'], bs['bs status name'])))

*****
### Structure data
*****

### Remove the following:

Where an umbrella orders id was paid without being billed

Here's an example where this ocurrs: [OID 1950471](https://volcano.adafruit.com/volcano/Order_Status.php?oid=1950471)

In [27]:
a = osh_main.groupby(['umbrella orders id','billing status name'])[['billing status name']].count().unstack(1)
a.columns = a.columns.droplevel(0)

b = a[(a['payment received'] == 1) & (a['billed'].isnull())]

print('{:,.0f} umbrella orders ids were paid but not billed'.format(len(b)))

r1 = b.index.tolist()

1,278 umbrella orders ids were paid but not billed

Where the umbrella_orders_ids have been billed and paid

In [28]:
a = osh_main.groupby(['umbrella orders id','billing status name'])[['billing status name']].count().unstack(1)
a.columns = a.columns.droplevel(0)

r2 = a[a.sum(1) == 2].index.tolist()

Where the umbrella_orders_id's date billed is less than 30 days ago from right now

Teddy wants to know the value of unpaid reseller orders over 30 days old

In [29]:
now = dt.datetime.now()
a = osh_main[(osh_main['billing status name'] == 'billed') & ((now - osh_main['date added']).dt.days <= 30)]

r3 = a['umbrella orders id'].tolist()

Where the final billing status is anything other than "billed" or "multiple billing"

We source our data from orders_status_history where the umbrella_orders_id has been marked as "billed" and where there is no "payment received"

But one of these orders could be:
* a write off -> [OID 1267870](https://volcano.adafruit.com/volcano/Order_Status.php?oid=1267870)
* marked as "charged" but not marked as "payment received" -> [OID 1047393](https://volcano.adafruit.com/volcano/Order_Status.php?oid=1047393)
* the parent OID could be marked as "payment received" while the partial(s) could be marked as "none required" -> [OID 1015400](https://volcano.adafruit.com/volcano/Order_Status.php?oid=1015400)
* marked as "billed" but is currently being researched -> [OID 1033772](https://volcano.adafruit.com/volcano/Order_Status.php?oid=1033772)
* marked as "billed" and then again "not billed" -> [OID 1867926](https://volcano.adafruit.com/volcano/Order_Status.php?oid=1867926)
* marked as "billed" and then "refunded" -> [OID 1162701](https://volcano.adafruit.com/volcano/Order_Status.php?oid=1162701)
* marked as "billed" then again as "none required" -> [OID 1015400](https://volcano.adafruit.com/volcano/Order_Status.php?oid=1015400)

In [33]:
final_os = pd.read_sql(
'''
SELECT
orders_id,
LOWER(bs_status_name) AS billing_status_name
FROM orders o
JOIN billing_status bs ON o.orders_billing_status = bs.bs_status_id
WHERE orders_id IN '''+ str(tuple(osh_main['orders id'])) +'''
''', db)

col_fix(final_os)

final_os['billing status name'].value_counts()

payment received           12199
multiple billing            1663
billed                       262
paid - multiple billing      228
billed - researching          71
none required                 44
charged                       37
write off                      7
not billed                     4
refunded                       2
authorized                     1
not set                        1
Name: billing status name, dtype: int64

In [34]:
ls = ['billed','multiple billing']

r4 = final_os[~final_os['billing status name'].isin(ls)]['orders id'].tolist()

Remove everything that is not applicable

In [35]:
remove = r1 + r2 + r3

unpaid = osh_main.drop(osh_main[(osh_main['umbrella orders id'].isin(remove))
                              | (osh_main['orders id'].isin(r4))].index)

unpaid.reset_index(drop = True, inplace = True)
unpaid.sort_values('date added', ascending = False, inplace = True)

### Finally...
Now we have all applicable umbrella_orders_id which are more than 30 days past due

In [36]:
unpaid.head()

,date added,orders id,partial id,umbrella orders id,orders billing id,year and month,customer,umbrella order total,billing status name
160,2018-12-17,1924395,0,1924395-0,3,2018-12,non reseller,421.52,billed
161,2018-12-17,1925071,0,1925071-0,3,2018-12,non reseller,397.20,billed
176,2018-12-17,1932300,0,1932300-0,3,2018-12,non reseller,230.70,billed
175,2018-12-17,1932183,0,1932183-0,3,2018-12,non reseller,377.52,billed
173,2018-12-17,1930534,0,1930534-0,3,2018-12,non reseller,266.30,billed

In [37]:
t = unpaid['umbrella order total'].sum()
print('total unpaid amount: ${:,.0f}'.format(t))

total unpaid amount: $858,739

### Example, keep this

In [ ]:
# get all OIDs billed in the last year and ending 30 days ago from now
# get all OIDs billed between one year ago plus 30 days and 30 days ago
# anything 30 days old or less is not valid
# sum this billed amount
# sum this paid amount
# this is unpaid / billed which are more than 30 days old

In [151]:
d = 30
start = str((now - pd.DateOffset(years = 1, days = d)).date())
end = str((now - pd.DateOffset(days = d)).date())

print('data is from {} to {}'.format(start,end))

# get all OIDs that should have been paid by now
oids = osh_main[(osh_main['billing status name'] == 'billed')
              & (osh_main['date added'].between(start, end))]['umbrella orders id'].tolist()

# get all OIDs which have been paid but not billed
a = osh_main.groupby(['umbrella orders id','billing status name'])[['umbrella order total']].sum().unstack(1)
b = a[a[('umbrella order total','billed')].isnull()].index.tolist()

osh = osh_main[(osh_main['umbrella orders id'].isin(oids))
             & (~osh_main['umbrella orders id'].isin(b))].copy()

# sum up billed and paid
billed, paid = osh.groupby('billing status name')[['umbrella order total']].sum().values

# get unpaid_rate, which is the complement of the paid rate
unpaid_rate = (1 - paid/billed)[0]

print('current unpaid rate is {:,.2f}%'.format(unpaid_rate * 100))

data is from 2017-12-18 to 2018-12-18
current unpaid rate is 5.16%

In [115]:
# now we can do this for a rolling period of X days, say, 30 days
# the result will be a list of ratios
# and with this list we can construct a confidence interval

### Rolling 30 days

In [124]:
# get 12 ratios, so enough ratios to cover the last 12 months

In [152]:
ls = []
for i in np.arange(1,13):
    d = int(30*i)
    start = str((now - pd.DateOffset(years = 1, days = d)).date())
    end = str((now - pd.DateOffset(days = d)).date())
    
    # get all OIDs that should have been paid by now
    oids = osh_main[(osh_main['billing status name'] == 'billed')
                  & (osh_main['date added'].between(start, end))]['umbrella orders id'].tolist()

    # get all OIDs which have been paid but not billed
    a = osh_main.groupby(['umbrella orders id','billing status name'])[['umbrella order total']].sum().unstack(1)
    b = a[a[('umbrella order total','billed')].isnull()].index.tolist()

    osh = osh_main[(osh_main['umbrella orders id'].isin(oids))
                 & (~osh_main['umbrella orders id'].isin(b))].copy()

    # sum up billed and paid
    billed, paid = osh.groupby('billing status name')[['umbrella order total']].sum().values

    # get unpaid_rate, which is the complement of the paid rate
    unpaid_rate = (1 - paid/billed)[0]
    
    ls.append([start,end,unpaid_rate])

In [161]:
cols = ['date start','date end','unpaid rate']
ratios = pd.DataFrame(data = ls, columns = cols)

fmt = [0,0,'p2']
display(ratios.format_(fmt))

print('95% confidence interval for unpaid rate')
conf = jb_conf(ratios[['unpaid rate']]).loc[:'upper']
conf.format_(['p2'])

    Date Start    Date End Unpaid Rate
0   2017-12-18  2018-12-18       5.16%
1   2017-11-18  2018-11-18       2.47%
2   2017-10-19  2018-10-19       1.68%
3   2017-09-19  2018-09-19       3.56%
4   2017-08-20  2018-08-20       3.88%
5   2017-07-21  2018-07-21       3.84%
6   2017-06-21  2018-06-21       3.40%
7   2017-05-22  2018-05-22       3.31%
8   2017-04-22  2018-04-22       3.26%
9   2017-03-23  2018-03-23       3.41%
10  2017-02-21  2018-02-21       3.45%
11  2017-01-22  2018-01-22       3.80%

95% confidence interval for unpaid rate

      Unpaid Rate
lower       3.01%
mean        3.44%
upper       3.86%