In [1]:
import sys
sys.path.insert(0,'/Users/jarad/Fake Folder/Python Libraries/')

from jb_libraries import *
%matplotlib inline

In [87]:
pd.read_sql(
'''

SELECT
DATE(date_added) AS date_added,
orders_id,
0 AS partial_id,
CONCAT(orders_id, '-', 0) AS umbrella_orders_id,
orders_billing_id

FROM orders_status_history A

# to remove duplicated orders_id + billing_status_history combos
# like OID 998982 which was marked twice as "billed" and three times as "payment received"
INNER JOIN  
    (SELECT
    MIN(orders_status_history_id) AS orders_status_history_id
    FROM orders_status_history
    GROUP BY orders_id, orders_billing_id) B ON A.orders_status_history_id = B.orders_status_history_id

# to remove where an umbrella OID was paid without first being billed
# like OID 1950471
INNER JOIN
    (SELECT
    a.orders_status_history_id
    FROM orders_status_history a
    LEFT JOIN orders_status_history b ON a.orders_id = b.orders_id
    AND b.orders_billing_id = 4
    WHERE a.orders_billing_id = 3) C ON A.orders_status_history_id = C.orders_status_history_id
    
INNER JOIN
    (SELECT
    
    a.orders_id

    FROM

    (SELECT
    MAX(orders_status_history_id) AS orders_status_history_id,
    orders_id
    FROM orders_status_history
    WHERE orders_id = 1267870
    GROUP BY orders_id) a

    LEFT JOIN

    (SELECT
    orders_status_history_id,
    orders_billing_id
    FROM orders_status_history) b ON a.orders_status_history_id = b.orders_status_history_id

    # this excludes where the final billing status was write-off, not set, not billed, refunded, etc. 
    # we return only billed, payment received, multiple billing, paid - multiple billing
    WHERE b.orders_billing_status_id IN (3,4,8,9)) D ON A.orders_id = D.orders_id

WHERE orders_id NOT IN (SELECT psh_parent_id FROM partial_status_history)
#AND orders_billing_id IN (3,4) # billed, payment received
AND orders_status_id NOT IN (8,9,14,15) # fraud - pending, fraud - confirmed, voided, fraud - void

AND A.orders_id = 1955948

''', db)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

DatabaseError: Execution failed on sql '

SELECT
DATE(date_added) AS date_added,
orders_id,
0 AS partial_id,
CONCAT(orders_id, '-', 0) AS umbrella_orders_id,
orders_billing_id

FROM orders_status_history A

# to remove duplicated orders_id + billing_status_history combos
# like OID 998982 which was marked twice as "billed" and three times as "payment received"
INNER JOIN
    (SELECT
    MIN(orders_status_history_id) AS orders_status_history_id
    FROM orders_status_history
    GROUP BY orders_id, orders_billing_id) B ON A.orders_status_history_id = B.orders_status_history_id

# to remove where an umbrella OID was paid without first being billed
# like OID 1950471
INNER JOIN
    (SELECT
    a.orders_status_history_id
    FROM orders_status_history a
    LEFT JOIN orders_status_history b ON a.orders_id = b.orders_id
    AND b.orders_billing_id = 4
    WHERE a.orders_billing_id = 3) C ON A.orders_status_history_id = C.orders_status_history_id

INNER JOIN
    (SELECT

    a.orders_id

    FROM

    (SELECT
    MAX(orders_status_history_id) AS orders_status_history_id,
    orders_id
    FROM orders_status_history
    WHERE orders_id = 1267870
    GROUP BY orders_id) a

    LEFT JOIN

    (SELECT
    orders_status_history_id,
    orders_billing_id
    FROM orders_status_history) b ON a.orders_status_history_id = b.orders_status_history_id

    # this excludes where the final billing status was write-off, not set, not billed, refunded, etc.
    # we return only billed, payment received, multiple billing, paid - multiple billing
    WHERE b.orders_billing_status_id IN (3,4,8,9)) D ON A.orders_id = D.orders_id

WHERE orders_id NOT IN (SELECT psh_parent_id FROM partial_status_history)
#AND orders_billing_id IN (3,4) # billed, payment received
AND orders_status_id NOT IN (8,9,14,15) # fraud - pending, fraud - confirmed, voided, fraud - void

AND A.orders_id = 1955948

': (1054, "Unknown column 'b.orders_billing_status_id' in 'where clause'")

In [76]:
pd.read_sql(
'''
SELECT
a.orders_id,

FROM

(SELECT
MAX(orders_status_history_id) AS orders_status_history_id,
orders_id
FROM orders_status_history
WHERE orders_id = 1267870
GROUP BY orders_id) a

LEFT JOIN

(SELECT
orders_status_history_id,
orders_billing_id
FROM orders_status_history) b ON a.orders_status_history_id = b.orders_status_history_id

# this excludes where the final billing status was write-off, not set, not billed, refunded, etc. 
WHERE b.orders_billing_status_id IN (3,4,8,9) # billed, payment received, multiple billing, paid - multiple billing


''', db)

   orders_id  orders_billing_id
0    1267870                 11

In [82]:
ls1 = set([11,10,6,7,0,2,1,5])
ls2 = set(list(range(12)))

ls2-ls1

{3, 4, 8, 9}

In [79]:
ls2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [85]:
pd.read_sql(
'''
select distinct orders_billing_id from orders_status_history where orders_id not in (select psh_parent_id from partial_status_history)
''', db)

    orders_billing_id
0                   0
1                   5
2                   2
3                   1
4                   7
5                   6
6                   3
7                   4
8                  10
9                   8
10                 11

In [33]:
pd.read_sql(
'''

SELECT 

A.date_added,
A.umbrella_orders_id,
B.umbrella_orders_total,
A.orders_billing_id

FROM

#=========================
# Orders data
#=========================

(
# Non-partials
SELECT
DATE(date_added) AS date_added,
orders_id,
0 AS partial_id,
CONCAT(orders_id, '-', 0) AS umbrella_orders_id,
orders_billing_id

FROM orders_status_history

WHERE orders_id NOT IN (SELECT psh_parent_id FROM partial_status_history)
AND orders_billing_id IN (3,4) # billed, payment received
AND orders_status_id NOT IN (8,9,14,15) # fraud - pending, fraud - confirmed, voided, fraud - void

# to remove duplicated orders_id + billing_status_history combos
# like OID 998982 which was marked twice as "billed" and three times as "payment received"
AND orders_status_history_id IN 
    (SELECT
    MIN(orders_status_history_id) AS orders_status_history_id
    FROM orders_status_history
    GROUP BY orders_id, orders_billing_id)

UNION ALL

# Partials
SELECT
DATE(psh_date_added) AS date_added,
psh_parent_id AS orders_id,
psh_partial_id AS partial_id,
CONCAT(psh_parent_id, '-', psh_partial_id) AS umbrella_orders_id,
psh_billing_id AS orders_billing_id

FROM partial_status_history

WHERE psh_billing_id IN (3,4)
AND psh_partial_status_id NOT IN (8,9,14,15)

AND psh_id IN
    (SELECT
    MIN(psh_id)
    FROM partial_status_history
    GROUP BY psh_parent_id, psh_partial_id, psh_billing_id)

) A

LEFT JOIN

#=========================
# Orders total data
#=========================

(
# Non-partials
SELECT
CONCAT(orders_id, '-', 0) AS umbrella_orders_id,
value AS umbrella_orders_total
FROM orders_total 
WHERE orders_id NOT IN (SELECT pt_parent_id FROM partial_total)
AND class = 'ot_total'

UNION ALL

# Partials
SELECT
CONCAT(pt_parent_id, '-', pt_partial_id) AS umbrella_orders_id,
pt_value AS umbrella_orders_total
FROM partial_total
WHERE pt_class = 'pt_total'
) B ON A.umbrella_orders_id = B.umbrella_orders_id

WHERE A.orders_id = 1950471


''', db)

Empty DataFrame
Columns: [date_added, umbrella_orders_id, umbrella_orders_total, orders_billing_id]
Index: []