In [2]:
import sys
sys.path.insert(0, '/Users/jarad/Fake Folder/Python Libraries')

from jb_libraries import *

In [3]:
df = pd.DataFrame({'a':[1,2,3],
                   'b':[4,5,6]})

In [4]:
df

   a  b
0  1  4
1  2  5
2  3  6

In [9]:
df.sum()

a     6
b    15
dtype: int64

In [11]:
df.sum(axis = 1)

0    5
1    7
2    9
dtype: int64

In [5]:
ls = [1,2,34,5,6,2,3,4,5,6,6,3,3,34]

ls

[1, 2, 34, 5, 6, 2, 3, 4, 5, 6, 6, 3, 3, 34]

In [6]:
d = {'key':[1,2,3]}
d

{'key': [1, 2, 3]}

In [8]:
pd.DataFrame([ls])

   0   1   2   3   4   5   6   7   8   9   10  11  12  13
0   1   2  34   5   6   2   3   4   5   6   6   3   3  34