In [2]:
import sys
sys.path.insert(0, '/Users/jarad/Fake Folder/Python Libraries')

from jb_libraries import *

In [5]:
size = pd.read_sql(
'''
SELECT 
    table_schema 'Database Name',
    SUM(data_length + index_length) 'Size in Bytes',
    ROUND(SUM(data_length + index_length) / 1024 / 1024, 2) 'Size in MiB'
FROM information_schema.tables 
GROUP BY table_schema
''', db)

display(size)

b = size['Size in Bytes'].sum()

         Database Name  Size in Bytes  Size in MiB
0  adafruit_zencartnew   6.688327e+10     63784.86
1   information_schema   1.228800e+04         0.01

In [9]:
b

66883284992.0