# Notes

*****

(1) DONE

Brian Cooper, Developer
11:09am  Fileâ€¦
Sorry one last note -- Jarad when you consider the SKUs tied to Parts on this report, do you omit any based on SKU Status?

Lots of Parts have been fully moved to outsourced, but they have obsolete in-house revisions cuz we used to make them in house. So to match up with many of our PLM tools/ reports you'd only be considering:

'Working', 'Deprecated', 'Pending', 'Sample'

And omitting:

'Obsolete', 'Cancelled', 'Cancelled', 'Rejected Sample'

(you're probably already doing this, just double-checking)

Otherwise tons of Parts would show up "Both" when in reality they're just "Outsourced"

*****

(2) DONE

add outsourced vs not as per basecamp convo with brian and noelle

### Libraries

In [1]:
import sys
sys.path.insert(0,'/Users/jarad/Fake Folder/Python Libraries')

import datetime

from jb_libraries import *
%matplotlib inline

import time
from scipy import stats

### Script Settings

In [2]:
date_end = '2019-01-31'
excel_write = 'no'

six_months_ago = str((pd.to_datetime(date_end) - pd.DateOffset(months = 5)).date())
six_months_ago = six_months_ago[:7] + '-01'

three_months_ago = str((pd.to_datetime(date_end) - pd.DateOffset(months = 2)).date())
three_months_ago = three_months_ago[:7] + '-01'

csv_path = '/Users/jarad/Fake\ Folder/Fab/Projects/War\ Chest/CSVs/'
csv_path = csv_path.replace('\\','')

statuses = ['working', 'deprecated', 'pending', 'sample']

### Resources
* See email "@Brian - seeking help with internal skus" for info on how to exclude PNs that are flagged as "do not sell to customers"

### Get Fab and Kitting skus

In [61]:
pd.read_sql(
'''
show columns from skus where field like '%out%'
''', db)

                     Field        Type Null Key Default Extra
0  sku_outsourced_assembly  tinyint(4)   NO        None

In [3]:
skus_main = pd.read_sql(
'''
SELECT
sku_date_modified,
sku_id,
k.part_id,
pd.products_name,
bom_type,
p.products_dont_sell_alone,
p.products_carrot_only,
p.products_meta_type,
p.products_coming_soon,
p.discontinue_status,
p.products_status,
p.products_stripes,
p.products_discontinued,
sku_outsourced_assembly
FROM skus k
JOIN products_description pd ON k.part_id = pd.part_id
JOIN parts p ON k.part_id = p.part_id
WHERE bom_type IN ('kitted','pnp') # get just pnp and kitted
AND sku_status IN ''' + str(tuple(statuses)) + '''
''', db)

col_fix(skus_main)

# if there is more than one sku id then put them on one line
df = pd.DataFrame(skus_main.groupby('part id')['sku id'].apply(lambda x: ','.join(x.map(str))))
skus_main['all sku ids considered'] = skus_main['part id'].map(dict(zip(df.index.to_series(), df['sku id'])))

### Flag outsourced, not, or both

In [4]:
a = skus_main.groupby('part id')[['sku outsourced assembly']].sum()

def outsourced(x):
    
    val = x['sku outsourced assembly']
    
    if val == 0:
        ret = 'Not Outsourced'
    elif val == 1:
        ret = 'Outsourced'
    else:
        ret = 'Both'
    return ret

a['outsourced'] = a.apply(outsourced, axis = 1)

print('proportions')
vc = a['outsourced'].value_counts()
print(vc/vc.sum())

dict_ = dict(a['outsourced'])

skus_main['outsourced'] = skus_main['part id'].map(dict_)

skus_main.drop('sku outsourced assembly', 1, inplace = True)

proportions
Not Outsourced    0.644764
Outsourced        0.334702
Both              0.020534
Name: outsourced, dtype: float64

### Shift data from sku level to part level

In [5]:
skus_main.sort_values(['part id','sku date modified'], inplace = True)
skus_main.drop_duplicates('part id', keep = 'last', inplace = True)

### Get the combos that these PNs are contained in

In [6]:
ptc_main = pd.read_sql(
'''
SELECT
part_id,
contains_part_id,
pts_quantity
FROM products_to_stuff
WHERE part_id > 0
''', db)

col_fix(ptc_main)

In [7]:
ptc_clean = ptc_main[ptc_main['contains part id'].isin(skus_main['part id'])].copy()
ptc_clean.rename(columns = {'part id':'contained in',
                           'contains part id':'part id'}, inplace = True)
ptc_clean['(contained in, pts quantity)'] = list(zip(ptc_clean['contained in'], ptc_clean['pts quantity']))

ptc_temp = pd.DataFrame(ptc_clean.groupby('part id')['(contained in, pts quantity)'].apply(lambda x: '; '.join(x.map(str))))
ptc_temp.reset_index(inplace = True)

### Get all sales data

In [8]:
sales_super_main = pd.read_sql(
'''
SELECT
DATE(date_purchased) AS date_purchased,
DATE_FORMAT(date_purchased, '%Y-%m') AS year_and_month,
op.orders_id,
part_id,
products_quantity AS qty_total, 
products_price
FROM orders_products op
JOIN orders o ON op.orders_id = o.orders_id
AND orders_status NOT IN (8,9,10,11,12,14,15)
AND DATE(o.date_purchased) <= ' '''+ date_end +''' '

WHERE op.part_id IN '''+ str(tuple(skus_main['part id'])) +'''
OR op.part_id IN '''+ str(tuple(ptc_clean['contained in'])) +'''
''', db)

col_fix(sales_super_main)

# change to datetime
sales_super_main['date purchased'] = pd.to_datetime(sales_super_main['date purchased'])

d1 = sales_super_main['date purchased'].min().date()
d2 = sales_super_main['date purchased'].max().date()

print('data is from {} to {}'.format(d1,d2))

data is from 2006-05-21 to 2019-01-31

### Make a copy

In [9]:
sales_main = sales_super_main.copy()

### Create columns in sales data

In [10]:
# umbrella part id
# forecast this PN
sales_main['umbrella part id'] = sales_main['part id'].map(dict(zip(ptc_clean['contained in'], ptc_clean['part id'])))
sales_main['umbrella part id'].fillna(sales_main['part id'], inplace = True)

# qty multiplier
sales_main['qty multiplier'] = sales_main['part id'].map(dict(zip(ptc_clean['contained in'], ptc_clean['pts quantity'])))
sales_main['qty multiplier'].fillna(1, inplace = True)

# modified qty total
# forecast this qty
sales_main['mod qty total'] = sales_main['qty total'] * sales_main['qty multiplier']    

# revenue
sales_main['revenue'] = sales_main['qty total'] * sales_main['products price']

for col in ['umbrella part id','qty multiplier','mod qty total']:
    sales_main[col] = [int(x) for x in sales_main[col]]

# ptc info
sales_main['(contained in, pts quantity)'] = sales_main['umbrella part id'].map(dict(zip(ptc_temp['part id'], ptc_temp['(contained in, pts quantity)'])))
    
n = sales_main[(sales_main.isnull().any(1)) & (sales_main['(contained in, pts quantity)'].isnull() == False)]
print('{:,.0f} null(s)'.format(len(n)))

0 null(s)

### Example of how the Umbrella Part ID works

Part 128 is a Kitted part

In [12]:
skus_main[skus_main['part id'] == 128]

,sku date modified,sku id,part id,products name,bom type,products dont sell alone,products carrot only,products meta type,products coming soon,discontinue status,products status,products stripes,products discontinued,all sku ids considered,outsourced
1106,2018-09-04 19:22:10,8248,128,XBee Module - Series 1 - 1mW with Wire Antenna,kitted,0,0,Standard,0,None,1,0,0,8248,Not Outsourced

Two units of Part 128 are contained in Part 143 while one unit is contained in Part 144

In [71]:
ptc_temp[ptc_temp['part id'] == 128]

   part id (contained in, pts quantity)
2      128       (143, 2.0); (144, 1.0)

So the Umbrella Part Id of PNs 128, 143, and 144 will be Part 128, as shown below

In [72]:
sales_main[sales_main['umbrella part id'] == 128].drop_duplicates('part id')

,date purchased,year and month,orders id,part id,qty total,products price,umbrella part id,qty multiplier,mod qty total,revenue,"(contained in, pts quantity)"
12489,2008-11-04,2008-11,19204,128,2.0,30.0,128,1,2,60.0,"(143, 2.0); (144, 1.0)"
18896,2009-03-23,2009-03,26429,143,1.0,85.0,128,2,2,85.0,"(143, 2.0); (144, 1.0)"
18900,2009-03-23,2009-03,26431,144,3.0,35.0,128,1,3,105.0,"(143, 2.0); (144, 1.0)"

### Flag parts to exclude
Either they have no sales data or possess at least one of the attributes in the function below

In [73]:
s1 = set(sales_main['umbrella part id'])
s2 = set(skus_main['part id'])
no_sales = list(s2 - s1)

In [74]:
def exclude_flag(x):
    if (x['products dont sell alone'] == 1
        or x['products carrot only'] == 1
        or x['products meta type'] == 'Base Product'
        or x['products coming soon'] == 1
        or x['discontinue status'] == 'Discontinued'
        or (x['products status'] == 1 and x['products stripes'] != 0)
        or x['part id'] in no_sales):
        res = 'yes'
    else:
        res = 'no'
        
    return res
        
skus_main['exclude'] = skus_main.apply(exclude_flag, axis = 1)

n = skus_main[skus_main.isnull().any(1)]
print('{:,.0f} null(s)'.format(len(n)))

0 null(s)

### Map all skus_main data to sales_main

In [75]:
cols = skus_main.columns.tolist()
cols.remove('part id')

for c in cols:
    sales_main[c] = sales_main['umbrella part id'].map(dict(zip(skus_main['part id'], skus_main[c])))
    
n = sales_main[sales_main['exclude'].isnull()]
print('{:,.0f} null(s)'.format(len(n)))

0 null(s)

### Separate out excluded parts
Create sales_clean

In [76]:
excluded = skus_main[skus_main['exclude'] == 'yes']

### Create sales_clean

In [77]:
sales_clean = sales_main.copy()
sales_clean.drop(sales_clean[sales_clean['exclude'] == 'yes'].index, inplace = True)
sales_clean.reset_index(drop = True, inplace = True)

### Check BOM proportions

In [78]:
bom_check = sales_clean.drop_duplicates('umbrella part id')
bom_check = bom_check.groupby('bom type')[['bom type']].count()
bom_check.loc['column total'] = bom_check.sum()
bom_check

              bom type
bom type
kitted             462
pnp                395
column total       857

### Find and drop outliers
Use Part ID, not Umbrella Part ID

In [79]:
for_outliers = sales_clean.groupby('part id').agg({'qty total':['mean','std','count']})
for_outliers.columns = for_outliers.columns.droplevel(0)
for_outliers['phi'] = np.where(for_outliers['count'] < 30, stats.t.ppf(0.95, for_outliers['count'] - 1), 1.96)
for_outliers['lower'] = for_outliers['mean'] - 3 * for_outliers['std']
for_outliers['upper'] = for_outliers['mean'] + 3 * for_outliers['std']
for_outliers.dropna(inplace = True)

for col in ['lower','upper']:
    sales_clean['outlier ' + col] = sales_clean['part id'].map(dict(zip(for_outliers.index.to_series(), for_outliers[col])))
    
sales_clean['outlier'] = np.where(np.logical_or(sales_clean['qty total'] < sales_clean['outlier lower'], sales_clean['qty total'] > sales_clean['outlier upper']), 'yes','no')
print('proportion of outliers')
print(sales_clean['outlier'].value_counts()/sales_clean['outlier'].value_counts().sum())

sales_clean.drop(sales_clean[sales_clean['outlier'] == 'yes'].index, inplace = True)
sales_clean.reset_index(drop = True, inplace = True)

proportion of outliers
no     0.988331
yes    0.011669
Name: outlier, dtype: float64

### Determine popularity tiers
Use umbrella part id and mod qty total

In [80]:
print('popularity tiers are based on data from %s to %s' % (three_months_ago, date_end))

n = int(np.round((pd.to_datetime(date_end) - pd.to_datetime(three_months_ago)).days/30))

print('which is about {} months'.format(n))

popularity tiers are based on data from 2018-11-01 to 2019-01-31
which is about 3 months

In [81]:
# first get all sales data for the last 3 months
a = sales_clean[sales_clean['date purchased'].between(three_months_ago, date_end)]

# get the top percentile of revenue for the key parts
b = a.groupby(['bom type','umbrella part id'])[['revenue','qty total']].sum().reset_index()
key1 = b.groupby(['bom type'])[['revenue']].quantile(0.85)
key2 = b.groupby(['bom type'])[['qty total']].quantile(0.85)

dict_ = {}
ls = []
for index, row in b.iterrows():
    if row['revenue'] >= key1.loc[row['bom type']]['revenue'] and row['qty total'] >= key2.loc[row['bom type']]['qty total']:
        dict_[row['umbrella part id']] = '01 - key'
        
# now from the main df drop all key parts
c = a.drop(a[a['umbrella part id'].isin(list(dict_.keys()))].index)

# for the rest of the popularity tiers we'll use the mod qty total
d = c.groupby(['bom type','umbrella part id'])[['mod qty total']].sum().reset_index()
qty = d.groupby('bom type')[['mod qty total']].describe()
qty.columns = qty.columns.droplevel(0)

# flag all other popularity tiers
for index, row in d.iterrows():
    if row['mod qty total'] >= qty.loc[row['bom type']]['75%']:
        ret = '02 - high'
    elif row['mod qty total'] >= qty.loc[row['bom type']]['50%'] and row['mod qty total'] < qty.loc[row['bom type']]['75%']:
        ret = '03 - med'
    else:
        ret = '04 - low'
    
    dict_[row['umbrella part id']] = ret
    
# map popularity tiers to main df    
sales_clean['popularity tier'] = sales_clean['umbrella part id'].map(dict_)    

# any part id not sold in the last three months, label with "not enough data"
sales_clean['popularity tier'].fillna('05 - not enough data', inplace = True)

In [82]:
check = sales_clean.drop_duplicates('umbrella part id').groupby(['popularity tier','bom type'])[['popularity tier']].count().unstack(1)
check['row total'] = check.sum(1)
check.loc['column total'] = check.sum()

In [83]:
check

                     popularity tier      row total
bom type                      kitted  pnp
popularity tier
01 - key                          34   29        63
02 - high                        102   91       193
03 - med                         100   93       193
04 - low                         199  180       379
05 - not enough data              27    2        29
column total                     462  395       857

### Write parts to Excel, for reference (DEFUNCT)

In [84]:
'''
skus_main['popularity tier'] = skus_main['part id'].map(dict_)
skus_main['popularity tier'].fillna('05 - no enough data', inplace = True)
skus_main['(contained in, pts quantity)'] = skus_main['part id'].map(dict(zip(ptc_temp['part id'], ptc_temp['(contained in, pts quantity)'])))
skus_main.sort_values(['bom type','popularity tier','part id'], inplace = True)

if excel_write == 'yes':
    writer = pd.ExcelWriter(csv_path + 'Parts Used in the War Chest 2018 Forecasts.xlsx', engine = 'xlsxwriter')
    skus_main[skus_main['exclude'] == 'no'].to_excel(writer, 'parts used', index = False)
    skus_main[skus_main['exclude'] == 'yes'].to_excel(writer, 'parts excluded', index = False)
    writer.save()
'''

"\nskus_main['popularity tier'] = skus_main['part id'].map(dict_)\nskus_main['popularity tier'].fillna('05 - no enough data', inplace = True)\nskus_main['(contained in, pts quantity)'] = skus_main['part id'].map(dict(zip(ptc_temp['part id'], ptc_temp['(contained in, pts quantity)'])))\nskus_main.sort_values(['bom type','popularity tier','part id'], inplace = True)\n\nif excel_write == 'yes':\n    writer = pd.ExcelWriter(csv_path + 'Parts Used in the War Chest 2018 Forecasts.xlsx', engine = 'xlsxwriter')\n    skus_main[skus_main['exclude'] == 'no'].to_excel(writer, 'parts used', index = False)\n    skus_main[skus_main['exclude'] == 'yes'].to_excel(writer, 'parts excluded', index = False)\n    writer.save()\n"

### Write Excluded parts to Excel, for R script

In [85]:
ex = skus_main[skus_main['exclude'] == 'yes'].copy()
ls = ['sku date modified',
      'sku id',
      'exclude']
ex.drop(ls, 1, inplace = True)
ex.sort_values(['bom type','part id'], inplace = True)

if excel_write == 'yes':
    writer = pd.ExcelWriter(csv_path + 'Excluded Parts.xlsx', engine = 'xlsxwriter')
    ex.to_excel(writer, 'parts excluded', index = False)
    writer.save()

### Prepare data for forecasting

In [86]:
for_forecast = pd.DataFrame()

for pn in list(set(sales_clean['umbrella part id'])):
    
    # get qty per month
    df1 = sales_clean[sales_clean['umbrella part id'] == pn].groupby('year and month')[['mod qty total']].sum()

    # fill in months where no one bought anything
    # make the final year and month the date_end of this script
    d1 = df1.index.min()
    d2 = date_end[:7]
    
    dates = pd.date_range(d1, d2, freq = 'MS')
    
    # make it so that every PN has at least 6 months of data
    n = 6
    l = len(dates)
    if l < n:
        new_d1 = pd.to_datetime(d1) - pd.DateOffset(months = (n-l))
        new_d1 = str(new_d1)[:7]
        dates = pd.date_range(new_d1, d2, freq = 'MS')
    
    dates = pd.DataFrame(dates, columns = ['year and month']).set_index('year and month')
    # join them
    df2 = dates.join(df1).fillna(0) 
    df2['umbrella part id'] = pn
    df2.reset_index(inplace = True)
    
    # create one big dataframe, for the forecast
    for_forecast = for_forecast.append(df2, ignore_index = True)

# map popularity tier and bom
for col in ['bom type','popularity tier']:
    for_forecast[col] = for_forecast['umbrella part id'].map(dict(zip(sales_clean['umbrella part id'], sales_clean[col])))
    
# rename these for a layman to understand
for_forecast.rename(columns = {'umbrella part id':'part id',
                              'mod qty total':'qty total'}, inplace = True)

### Get sku ids and part names

In [87]:
s = pd.read_sql(
'''
SELECT
k.sku_id,
k.part_id,
pd.products_name
FROM skus k
JOIN products_description pd ON k.part_id = pd.part_id
WHERE k.sku_status IN ''' + str(tuple(statuses)) + '''
AND k.part_id IN '''+ str(tuple(for_forecast['part id'].tolist())) +'''
''', db)

col_fix(s)

In [88]:
for col in ['sku id','products name']:
    for_forecast[col] = for_forecast['part id'].map(dict(zip(s['part id'], s[col])))

### Check nulls

In [89]:
n = np.sum(for_forecast.isnull().any(1))
if n == 0:
    pass
else:
    raise 0

### Check count of data points per PN

In [90]:
c = np.sum(for_forecast.groupby('part id')[['year and month']].count() < n).values[0]
if c == 0:
    pass
else:
    raise 0

### Check unique PN count

In [91]:
v1 = len(set(for_forecast['part id']))
v2 = len(set(sales_clean['umbrella part id']))
if v1 == v2:
    print('match')
    print('the total unique umbrella part id count is {}'.format(v1))
else:
    raise 0

match
the total unique umbrella part id count is 857

### Check quantities

In [92]:
q1 = for_forecast['qty total'].sum()
q2 = sales_clean['mod qty total'].sum()

if np.abs(q1 - q2) < 0.01:
    pass
else:
    raise 0
    
# fill zeros with 0.1, to ease forecasting
for_forecast['qty total'] = np.where(for_forecast['qty total'] == 0, 0.1, for_forecast['qty total'])

### Map sku and part data

In [93]:
cols = skus_main.columns.tolist()
for x in ['part id','products name']:
    cols.remove(x)

for c in cols:
    for_forecast[c] = for_forecast['part id'].map(dict(zip(skus_main['part id'], skus_main[c])))

### To Excel, for R

In [94]:
if excel_write == 'yes':
    
    writer = pd.ExcelWriter(csv_path + 'War Chest Part sales for R.xlsx', engine = 'xlsxwriter')
    for_forecast.to_excel(writer, 'data', index = False)
    writer.save()

In [95]:
print('done')

done

# Review

### Get forecasts

In [255]:
main_path = '/Users/jarad/Fake Folder/Fab/Projects/War Chest 2018/R/'

sheets = ['01 - key',
          '02 - high',
          '03 - med',
          '04 - low',
          '05 - not enough data']

forecast_super_main = pd.DataFrame()

import os
for root, dirs, files in os.walk(main_path):
    for file in files:
        if file.endswith('.xlsx'):
            name = os.path.join(root, file)
            for sheet in sheets:
                inter_df = pd.read_excel(name, sheet_name = sheet)
                inter_df.columns = inter_df.columns.str.lower()
                
                n = len(set(inter_df['forecast month']))
                if n == 2:
                    forecast_super_main = forecast_super_main.append(inter_df, ignore_index = True, sort = False)                    
                else:
                    inter_df.sort_values(['part id','forecast month'], inplace = True)
                    inter_df.drop_duplicates('part id', keep = 'first', inplace = True) # keep the most up to date estimate per PN per month
                    forecast_super_main = forecast_super_main.append(inter_df, ignore_index = True, sort = False)

### Structure forecasts

In [256]:
forecast_main = forecast_super_main.copy()

forecast_main['avg'].fillna(forecast_main['average'], inplace = True)
forecast_main.drop('average',1,inplace = True)

for col in ['bom type','popularity tier','outsourced']:
    forecast_main[col] = forecast_main[col].str.lower()

forecast_main.reset_index(drop = True, inplace = True)
forecast_main.sort_values(['part id','forecast month'], inplace = True)

forecast_main.rename(columns = {'forecast month':'year and month'}, inplace = True)
forecast_main['part id'] = pd.to_numeric(forecast_main['part id'])

### Get actual

In [266]:
months = list(set(forecast_main['year and month']))
cols = ['year and month','umbrella part id','mod qty total']

actual_main = sales_clean[(sales_clean['year and month'].isin(months))
                        & (sales_clean['exclude'] == 'no')][cols].copy()

actual_main.rename(columns = {'umbrella part id':'part id',
                              'mod qty total':'actual qty'}, inplace = True)

actual = actual_main.groupby(['year and month','part id'], as_index = False)[['actual qty']].sum()

### Merge them

In [267]:
review = pd.merge(forecast_main, actual, on = ['part id','year and month'])
review.drop('outsourced',1,inplace = True)

pops = ['04 - low','05 - not enough data']
review.drop(review[review['popularity tier'].isin(pops)].index, inplace = True)
review.reset_index(drop = True, inplace = True)

review['accurate'] = np.where(review['actual qty'].between(review['lower'], review['upper']), 1, 0)

In [277]:
accuracy = review.groupby(['year and month','bom type','popularity tier']).agg({'accurate':'sum','part id':'count'})
accuracy.rename(columns = {'part id':'total count'}, inplace = True)

accuracy2 = accuracy.groupby(level = 1).sum()
accuracy2['accuracy %'] = accuracy2['accurate']/accuracy2['total count']

fmt = ['n0','n0','p1']
accuracy2.format_(fmt)

         Accurate Total Count Accuracy %
bom type
kitted        920         972      94.7%
pnp           906         981      92.4%

In [281]:
outside = review[review['accurate'] == 0].copy()
outside['result'] = np.where(outside['actual qty'] <= outside['lower'], 'estimate too high', 'estimate too low')

In [284]:
outside.groupby(['bom type','result'])[['result']].count().unstack(1)

                    result
result   estimate too high estimate too low
bom type
kitted                  26               26
pnp                     50               25

# Jan 2019 Review (DEFUNCT)

In [240]:
ym = '2019-01'
#actual = sales_clean[sales_clean['year and month'] == ym].groupby('umbrella part id', as_index = False)[['mod qty total']].sum()
test = sales_clean[sales_clean['year and month'] == ym].groupby('umbrella part id', as_index = False)[['mod qty total']].sum().rename(columns = {'umbrella part id':'part id','mod qty total':'qty2'})

### Fab

In [196]:
fab_csv = '/Users/jarad/Fake\ Folder/Fab/Projects/War\ Chest\ 2018/R/Forecasts\ for\ 2019\ -\ 01\ -\ Jan\ onwards/Fab\ War\ Chest\ 2018\ Forecasts\ for\ 2019-01\ to\ 2019-02\ .xlsx'
fab_csv = fab_csv.replace('\\','')
fab_key = pd.read_excel(fab_csv, sheet_name = '01 - key')
fab_high = pd.read_excel(fab_csv, sheet_name = '02 - high')
fab_med = pd.read_excel(fab_csv, sheet_name = '03 - med')

fab_models = pd.concat([fab_key, fab_high, fab_med], sort = False)
fab_models.columns = fab_models.columns.str.lower()
fab_models.drop(fab_models[fab_models['forecast month'] != ym].index, inplace = True)
fab_models.reset_index(drop = True, inplace = True)

In [197]:
fab_models['actual'] = fab_models['part id'].map(dict(zip(actual['umbrella part id'], actual['mod qty total'])))
fab_models.dropna(subset = ['actual'], inplace = True)
fab_models['in interval'] = np.where((fab_models['actual'] >= fab_models['lower']) & (fab_models['actual'] <= fab_models['upper']), 'yes','no')

In [198]:
fab_results = fab_models.groupby(['popularity tier','in interval'])[['in interval']].count().unstack(1).fillna(0)
fab_results.columns = fab_results.columns.droplevel(0)
fab_results.loc['column total'] = fab_results.sum()
fab_results['% yes'] = fab_results['yes']/fab_results.sum(1)
print('For Fab: Was the actual qty sold within the estimation interval?')
fab_results.format_(['n0','n0','p1'])

For Fab: Was the actual qty sold within the estimation interval?

                 No  Yes   % Yes
popularity tier
01 - Key          0   30  100.0%
02 - High         8   81   91.0%
03 - Med          4   84   95.5%
column total     12  195   94.2%

In [ ]:
fab_no = fab_models[fab_models['in interval'] == 'no'].copy()
fab_no['estimate'] = np.where(fab_no['actual'] < fab_no['lower'], 'over', 'under')
fab_no

In [ ]:
fab_no['estimate'].value_counts()

### Kitting

In [ ]:
kitting_csv = '/Users/jarad/Fake\ Folder/Fab/Projects/War\ Chest\ 2018/R/Forecasts\ for\ 2019\ -\ 01\ -\ Jan\ onwards/Kitting\ War\ Chest\ 2018\ Forecasts\ for\ 2019-01\ to\ 2019-02\ .xlsx'
kitting_csv = kitting_csv.replace('\\','')
kitting_key = pd.read_excel(kitting_csv, sheet_name = '01 - key')
kitting_high = pd.read_excel(kitting_csv, sheet_name = '02 - high')
kitting_med = pd.read_excel(kitting_csv, sheet_name = '03 - med')

kitting_models = pd.concat([kitting_key, kitting_high, kitting_med], sort = False)
kitting_models.columns = kitting_models.columns.str.lower()
kitting_models.drop(kitting_models[kitting_models['forecast month'] != ym].index, inplace = True)
kitting_models.reset_index(drop = True, inplace = True)

In [ ]:
kitting_models['actual'] = kitting_models['part id'].map(dict(zip(actual['umbrella part id'], actual['mod qty total'])))
kitting_models.dropna(subset = ['actual'], inplace = True)
kitting_models['in interval'] = np.where((kitting_models['actual'] >= kitting_models['lower']) & (kitting_models['actual'] <= kitting_models['upper']), 'yes','no')

In [ ]:
kitting_results = kitting_models.groupby(['popularity tier','in interval'])[['in interval']].count().unstack(1)
kitting_results.columns = kitting_results.columns.droplevel(0)
kitting_results.loc['column total'] = kitting_results.sum()
kitting_results['% yes'] = kitting_results['yes']/kitting_results.sum(1)
print('For Kitting: Was the actual qty sold within the estimation interval?')
kitting_results.format_(['n0','n0','p1'])

In [ ]:
kitting_no = kitting_models[kitting_models['in interval'] == 'no'].copy()
kitting_no['estimate'] = np.where(kitting_no['actual'] < kitting_no['lower'], 'over', 'under')
kitting_no

In [ ]:
kitting_no['estimate'].value_counts()

In [ ]:
print('done')