### Resources
Email with subject line "Re: Redemption Flow Questions (adding partnerships and jarad)"

### Objectives
* What percentage of your users or buyers are US based?
* What other countries account for the top 90% of your sales? (this can be a rough estimate, just trying to get a sense of volume and top markets)?

### Libraries

In [1]:
import sys
sys.path.insert(0, '/Users/jarad/Fake Folder/Python Libraries/')

from jb_libraries import *
%matplotlib inline

### Script settings

In [6]:
date_start = '2018-01-01'
date_end = '2019-01-31'

### Get data

In [3]:
pd.read_sql(
'''
SELECT
*
FROM orders_status
ORDER BY orders_status_id
''', db)

    orders_status_id  language_id     orders_status_name
0                  1            1                Pending
1                  2            1             Processing
2                  3            1                Shipped
3                  4            1                 Update
4                  5            1                Printed
5                  6            1                 Billed
6                  7            1       Payment Received
7                  8            1        Fraud - Pending
8                  9            1      Fraud - Confirmed
9                 10            1                 Return
10                11            1     Replaced Defective
11                12            1     Refunded Defective
12                13            1  No Shipment Necessary
13                14            1                 Voided
14                15            1           Fraud - Void

In [7]:
o_main = pd.read_sql(
'''
SELECT
DATE(date_purchased) AS date_purchased,
orders_id,
LOWER(customers_country) AS customers_country
FROM orders
WHERE DATE(date_purchased) BETWEEN ' '''+ date_start +''' ' AND ' '''+ date_end +''' '
AND payment_method != 'replacement order'
AND orders_status NOT IN (8,9,14,15) # fraud - pending, fraud - confirmed, voided, fraud - void
''', db)

col_fix(o_main)

o_main['date purchased'] = pd.to_datetime(o_main['date purchased'])
for x in ['year and month','year and quarter']:
    o_main[x] = jb_dates(o_main['date purchased'], x)

### By country

In [109]:
by_country = o_main.groupby('customers country')[['orders id']].nunique().rename(columns = {'orders id':'unique order count'}).sort_values('unique order count', ascending = False)
by_country['% of total'] = by_country['unique order count']/by_country['unique order count'].sum()
by_country['% running sum'] = by_country['% of total'].cumsum()

ls1 = by_country.index.tolist()
ls2 = [x.title() for x in ls1]
by_country.index = ls2

print('data is from %s to %s' % (date_start, date_end))

ix = by_country[by_country['% running sum'] >= 0.951].index[0]
by_country.loc[:ix].format_(['n0','p1','p1'])

data is from 2018-01-01 to 2019-01-31

               Unique Order Count % Of Total % Running Sum
United States             282,718      87.8%         87.8%
Canada                     11,417       3.5%         91.3%
Australia                   3,158       1.0%         92.3%
France                      2,367       0.7%         93.0%
Germany                     1,770       0.5%         93.6%
United Kingdom              1,731       0.5%         94.1%
Switzerland                 1,433       0.4%         94.6%
Norway                      1,156       0.4%         94.9%
Netherlands                 1,155       0.4%         95.3%

### By month

In [98]:
by_month = o_main.groupby(['customers country','year and month'])[['orders id']].nunique().rename(columns = {'orders id':'unique order count'}).unstack(1).fillna(0)
by_month.columns = by_month.columns.droplevel(0)
by_month['row total'] = by_month.sum(1)
by_month.sort_values('row total', ascending = False, inplace = True)

by_month_proportions = by_month.div(by_month.sum().values, axis = 1)

d = {}
for i in range(len(by_month_proportions)):
    df = by_month_proportions.iloc[i]
    df = df[df.index != 'row total']
    cols = ['lower','mean','upper']
    vals = jb_conf(pd.DataFrame(df.values)).loc[:'upper'].values.flatten().tolist()
    d[by_month_proportions.iloc[i].name] = vals

df = pd.DataFrame(d).T
df.columns = ['lower','mean','upper']

by_month_proportions = by_month_proportions.join(df)
by_month_proportions = by_month_proportions.loc[:,'row total':]



fmt = ['p1'] * 4
by_month_proportions.format_(fmt).head()

                  Row Total  Lower   Mean  Upper
customers country
united states         87.8%  87.1%  87.7%  88.4%
canada                 3.5%   3.3%   3.5%   3.7%
australia              1.0%   0.9%   1.0%   1.1%
france                 0.7%   0.7%   0.7%   0.8%
germany                0.5%   0.5%   0.6%   0.6%