# Note:
This script will not be uploaded to GitHub; it is to generate the data for the R script that WILL be uploaded to GitHub

In [46]:
import sys
sys.path.insert(0,'/Users/jarad/Fake Folder/Python Libraries')

import datetime

from jb_libraries import *
%matplotlib inline

import time
from scipy import stats

date_end = '2018-10-31'
write = 'no'

six_months_ago = str((pd.to_datetime(date_end) - pd.DateOffset(months = 5)).date())
six_months_ago = six_months_ago[:7] + '-01'

three_months_ago = str((pd.to_datetime(date_end) - pd.DateOffset(months = 2)).date())
three_months_ago = three_months_ago[:7] + '-01'

### Get Fab and Kitting skus

In [2]:
skus_main = pd.read_sql(
'''
SELECT
sku_date_modified,
sku_id,
k.part_id,
pd.products_name,
bom_type,
p.products_dont_sell_alone,
p.products_carrot_only,
p.products_meta_type,
p.products_coming_soon,
p.discontinue_status,
p.products_status,
p.products_stripes,
p.products_discontinued
FROM skus k
JOIN products_description pd ON k.part_id = pd.part_id
JOIN parts p ON k.part_id = p.part_id
WHERE bom_type IN ('kitted','pnp') # get just pnp and kitted
AND sku_status IN ('working','pending')
''', db)

col_fix(skus_main)

# if there is more than one sku id then put them on one line
df = pd.DataFrame(skus_main.groupby('part id')['sku id'].apply(lambda x: ','.join(x.map(str))))
skus_main['all working or pending sku ids'] = skus_main['part id'].map(dict(zip(df.index.to_series(), df['sku id'])))

In [3]:
# keep the most recent sku whether its pending or working
skus_main.sort_values(['part id','sku date modified'], inplace = True)
skus_main.drop_duplicates('part id', keep = 'last', inplace = True)

### Mask product names

In [4]:
import urllib.request

# get some random words
word_url = "http://svnweb.freebsd.org/csrg/share/dict/words?view=co&content-type=text/plain"
response = urllib.request.urlopen(word_url)
long_txt = response.read().decode()
words = long_txt.splitlines()
words = ['The ' + x.title() + ' Product' for x in words]

skus_main['products name'] = skus_main['products name'].str.replace('/',' ')
d = list(skus_main['products name'].unique())
jump = int(np.floor(len(words)/len(d)))
random_words = words[::jump][:len(d)]

e = dict(zip(random_words, d))

for k,v in e.items():
    skus_main['products name'] = skus_main['products name'].replace(v,k)

### Get the combos that these PNs are contained in

In [5]:
ptc_main = pd.read_sql(
'''
SELECT
part_id,
contains_part_id,
pts_quantity
FROM products_to_stuff
WHERE part_id > 0
''', db)

col_fix(ptc_main)

In [6]:
ptc_clean = ptc_main[ptc_main['contains part id'].isin(skus_main['part id'])].copy()
ptc_clean.rename(columns = {'part id':'contained in',
                           'contains part id':'part id'}, inplace = True)
ptc_clean['(contained in, pts quantity)'] = list(zip(ptc_clean['contained in'], ptc_clean['pts quantity']))

ptc_temp = pd.DataFrame(ptc_clean.groupby('part id')['(contained in, pts quantity)'].apply(lambda x: '; '.join(x.map(str))))
ptc_temp.reset_index(inplace = True)

### Get all sales data

In [7]:
sales_super_main = pd.read_sql(
'''
SELECT
DATE(date_purchased) AS date_purchased,
DATE_FORMAT(date_purchased, '%Y-%m') AS year_and_month,
op.orders_id,
part_id,
products_quantity AS qty_total, 
products_price
FROM orders_products op
JOIN orders o ON op.orders_id = o.orders_id
AND orders_status NOT IN (8,9,10,11,12,14,15)
AND DATE(o.date_purchased) <= ' '''+ date_end +''' '

WHERE op.part_id IN '''+ str(tuple(skus_main['part id'])) +'''
OR op.part_id IN '''+ str(tuple(ptc_clean['contained in'])) +'''
''', db)

col_fix(sales_super_main)

# change to datetime
sales_super_main['date purchased'] = pd.to_datetime(sales_super_main['date purchased'])

d1 = sales_super_main['date purchased'].min().date()
d2 = sales_super_main['date purchased'].max().date()

print('data is from {} to {}'.format(d1,d2))

data is from 2006-05-21 to 2018-10-31

### Make a copy

In [8]:
sales_main = sales_super_main.copy()

### Create columns in sales data

In [9]:
# umbrella part id
# forecast this PN
sales_main['umbrella part id'] = sales_main['part id'].map(dict(zip(ptc_clean['contained in'], ptc_clean['part id'])))
sales_main['umbrella part id'].fillna(sales_main['part id'], inplace = True)

# qty multiplier
sales_main['qty multiplier'] = sales_main['part id'].map(dict(zip(ptc_clean['contained in'], ptc_clean['pts quantity'])))
sales_main['qty multiplier'].fillna(1, inplace = True)

# modified qty total
# forecast this qty
sales_main['mod qty total'] = sales_main['qty total'] * sales_main['qty multiplier']    

# revenue
sales_main['revenue'] = sales_main['qty total'] * sales_main['products price']

for col in ['umbrella part id','qty multiplier','mod qty total']:
    sales_main[col] = [int(x) for x in sales_main[col]]

# ptc info
sales_main['(contained in, pts quantity)'] = sales_main['umbrella part id'].map(dict(zip(ptc_temp['part id'], ptc_temp['(contained in, pts quantity)'])))
    
n = sales_main[(sales_main.isnull().any(1)) & (sales_main['(contained in, pts quantity)'].isnull() == False)]
print('{:,.0f} null(s)'.format(len(n)))

0 null(s)

### Example of how the Umbrella Part ID works

Part 128 is a Kitted part

In [10]:
skus_main[skus_main['part id'] == 128]

,sku date modified,sku id,part id,products name,bom type,products dont sell alone,products carrot only,products meta type,products coming soon,discontinue status,products status,products stripes,products discontinued,all working or pending sku ids
932,2018-09-04 19:22:10,8248,128,The Actor Product,kitted,0,0,Standard,0,None,1,0,0,8248

Two units of Part 128 are contained in Part 143 while one unit is contained in Part 144

In [11]:
ptc_temp[ptc_temp['part id'] == 128]

   part id (contained in, pts quantity)
2      128       (143, 2.0); (144, 1.0)

So the Umbrella Part Id of PNs 128, 143, and 144 will be Part 128, as shown below

In [12]:
sales_main[sales_main['umbrella part id'] == 128].drop_duplicates('part id')

,date purchased,year and month,orders id,part id,qty total,products price,umbrella part id,qty multiplier,mod qty total,revenue,"(contained in, pts quantity)"
10483,2008-11-04,2008-11,19204,128,2.0,30.0,128,1,2,60.0,"(143, 2.0); (144, 1.0)"
16274,2009-03-23,2009-03,26429,143,1.0,85.0,128,2,2,85.0,"(143, 2.0); (144, 1.0)"
16278,2009-03-23,2009-03,26431,144,3.0,35.0,128,1,3,105.0,"(143, 2.0); (144, 1.0)"

### Flag parts to exclude
Either they have no sales data or possess at least one of the attributes in the function below

In [13]:
s1 = set(sales_main['umbrella part id'])
s2 = set(skus_main['part id'])
no_sales = list(s2 - s1)

In [14]:
def exclude_flag(x):
    if (x['products dont sell alone'] == 1
        or x['products carrot only'] == 1
        or x['products meta type'] == 'Base Product'
        or x['products coming soon'] == 1
        or x['discontinue status'] == 'Discontinued'
        or (x['products status'] == 1 and x['products stripes'] != 0)
        or x['part id'] in no_sales):
        res = 'yes'
    else:
        res = 'no'
        
    return res
        
skus_main['exclude'] = skus_main.apply(exclude_flag, axis = 1)

n = skus_main[skus_main.isnull().any(1)]
print('{:,.0f} null(s)'.format(len(n)))

0 null(s)

### Map all skus_main data to sales_main

In [15]:
cols = skus_main.columns.tolist()
cols.remove('part id')

for c in cols:
    sales_main[c] = sales_main['umbrella part id'].map(dict(zip(skus_main['part id'], skus_main[c])))
    
n = sales_main[sales_main['exclude'].isnull()]
print('{:,.0f} null(s)'.format(len(n)))

0 null(s)

### Separate out excluded parts
Create sales_clean

In [16]:
excluded = skus_main[skus_main['exclude'] == 'yes']

### Create sales_clean

In [17]:
sales_clean = sales_main.copy()
sales_clean.drop(sales_clean[sales_clean['exclude'] == 'yes'].index, inplace = True)
sales_clean.reset_index(drop = True, inplace = True)

### Check BOM proportions

In [18]:
bom_check = sales_clean.drop_duplicates('umbrella part id')
bom_check = bom_check.groupby('bom type')[['bom type']].count()
bom_check.loc['column total'] = bom_check.sum()
bom_check

              bom type
bom type
kitted             422
pnp                381
column total       803

### Find and drop outliers
Use Part ID, not Umbrella Part ID

In [19]:
for_outliers = sales_clean.groupby('part id').agg({'qty total':['mean','std','count']})
for_outliers.columns = for_outliers.columns.droplevel(0)
for_outliers['phi'] = np.where(for_outliers['count'] < 30, stats.t.ppf(0.95, for_outliers['count'] - 1), 1.96)
for_outliers['lower'] = for_outliers['mean'] - 3 * for_outliers['std']
for_outliers['upper'] = for_outliers['mean'] + 3 * for_outliers['std']
for_outliers.dropna(inplace = True)

for col in ['lower','upper']:
    sales_clean['outlier ' + col] = sales_clean['part id'].map(dict(zip(for_outliers.index.to_series(), for_outliers[col])))
    
sales_clean['outlier'] = np.where(np.logical_or(sales_clean['qty total'] < sales_clean['outlier lower'], sales_clean['qty total'] > sales_clean['outlier upper']), 'yes','no')
print('proportion of outliers')
print(sales_clean['outlier'].value_counts()/sales_clean['outlier'].value_counts().sum())

sales_clean.drop(sales_clean[sales_clean['outlier'] == 'yes'].index, inplace = True)
sales_clean.reset_index(drop = True, inplace = True)

proportion of outliers
no     0.988159
yes    0.011841
Name: outlier, dtype: float64

### Determine popularity tiers
Use umbrella part id and mod qty total

In [20]:
print('popularity tiers are based on data from %s to %s' % (three_months_ago, date_end))

n = int(np.round((pd.to_datetime(date_end) - pd.to_datetime(three_months_ago)).days/30))

print('which is about {} months'.format(n))

popularity tiers are based on data from 2018-08-01 to 2018-10-31
which is about 3 months

In [21]:
# first get all sales data for the last 3 months
a = sales_clean[sales_clean['date purchased'].between(three_months_ago, date_end)]

# get the top percentile of revenue for the key parts
b = a.groupby(['bom type','umbrella part id'])[['revenue','qty total']].sum().reset_index()
key1 = b.groupby(['bom type'])[['revenue']].quantile(0.85)
key2 = b.groupby(['bom type'])[['qty total']].quantile(0.85)

dict_ = {}
ls = []
for index, row in b.iterrows():
    if row['revenue'] >= key1.loc[row['bom type']]['revenue'] and row['qty total'] >= key2.loc[row['bom type']]['qty total']:
        dict_[row['umbrella part id']] = '01 - key'
        
# now from the main df drop all key parts
c = a.drop(a[a['umbrella part id'].isin(list(dict_.keys()))].index)

# for the rest of the popularity tiers we'll use the mod qty total
d = c.groupby(['bom type','umbrella part id'])[['mod qty total']].sum().reset_index()
qty = d.groupby('bom type')[['mod qty total']].describe()
qty.columns = qty.columns.droplevel(0)

# flag all other popularity tiers
for index, row in d.iterrows():
    if row['mod qty total'] >= qty.loc[row['bom type']]['75%']:
        ret = '02 - high'
    elif row['mod qty total'] >= qty.loc[row['bom type']]['50%'] and row['mod qty total'] < qty.loc[row['bom type']]['75%']:
        ret = '03 - med'
    else:
        ret = '04 - low'
    
    dict_[row['umbrella part id']] = ret
    
# map popularity tiers to main df    
sales_clean['popularity tier'] = sales_clean['umbrella part id'].map(dict_)    

# any part id not sold in the last three months, label with "not enough data"
sales_clean['popularity tier'].fillna('05 - not enough data', inplace = True)

In [22]:
check = sales_clean.drop_duplicates('umbrella part id').groupby(['popularity tier','bom type'])[['popularity tier']].count().unstack(1)
check['row total'] = check.sum(1)
check.loc['column total'] = check.sum()

In [23]:
check

                     popularity tier      row total
bom type                      kitted  pnp
popularity tier
01 - key                          25   28        53
02 - high                         94   88       182
03 - med                          94   87       181
04 - low                         185  173       358
05 - not enough data              24    5        29
column total                     422  381       803

### Write parts to Excel, for reference

In [24]:
skus_main['popularity tier'] = skus_main['part id'].map(dict_)
skus_main['popularity tier'].fillna('05 - no enough data', inplace = True)
skus_main['(contained in, pts quantity)'] = skus_main['part id'].map(dict(zip(ptc_temp['part id'], ptc_temp['(contained in, pts quantity)'])))
skus_main.sort_values(['bom type','popularity tier','part id'], inplace = True)

if write == 'yes':
    writer = pd.ExcelWriter('Parts Used in the War Chest 2018 Forecasts - For GitHub Portfolio.xlsx', engine = 'xlsxwriter')
    skus_main[skus_main['exclude'] == 'no'].to_excel(writer, 'parts used', index = False)
    skus_main[skus_main['exclude'] == 'yes'].to_excel(writer, 'parts excluded', index = False)
    writer.save()

In [25]:
skus_main.head(1)

,sku date modified,sku id,part id,products name,bom type,products dont sell alone,products carrot only,products meta type,products coming soon,discontinue status,products status,products stripes,products discontinued,all working or pending sku ids,exclude,popularity tier,"(contained in, pts quantity)"
711,2018-11-02 17:56:03,11335,14,The A Product,kitted,0,0,Standard,0,None,1,0,0,11335,no,01 - key,NaN

### Prepare data for forecasting

In [26]:
for_forecast = pd.DataFrame()

for pn in list(set(sales_clean['umbrella part id'])):
    
    # get qty per month
    df1 = sales_clean[sales_clean['umbrella part id'] == pn].groupby('year and month')[['mod qty total']].sum()

    # fill in months where no one bought anything
    # make the final year and month the date_end of this script
    d1 = df1.index.min()
    d2 = date_end[:7]
    
    dates = pd.date_range(d1, d2, freq = 'MS')
    
    # make it so that every PN has at least 6 months of data
    n = 6
    l = len(dates)
    if l < n:
        new_d1 = pd.to_datetime(d1) - pd.DateOffset(months = (n-l))
        new_d1 = str(new_d1)[:7]
        dates = pd.date_range(new_d1, d2, freq = 'MS')
    
    dates = pd.DataFrame(dates, columns = ['year and month']).set_index('year and month')
    # join them
    df2 = dates.join(df1).fillna(0) 
    df2['umbrella part id'] = pn
    df2.reset_index(inplace = True)
    
    # create one big dataframe, for the forecast
    for_forecast = for_forecast.append(df2, ignore_index = True)

# map popularity tier and bom
for col in ['bom type','popularity tier']:
    for_forecast[col] = for_forecast['umbrella part id'].map(dict(zip(sales_clean['umbrella part id'], sales_clean[col])))
    
# rename these for a layman to understand
for_forecast.rename(columns = {'umbrella part id':'part id',
                              'mod qty total':'qty total'}, inplace = True)

### Get sku ids and part names

In [27]:
#s = pd.read_sql(
#'''
#SELECT
#k.sku_id,
#k.part_id,
#pd.products_name
#FROM skus k
#JOIN products_description pd ON k.part_id = pd.part_id
#WHERE k.sku_status IN ('working','pending')
#AND k.part_id IN '''+ str(tuple(for_forecast['part id'].tolist())) +'''
#''', db)

#col_fix(s)

In [28]:
#for col in ['sku id','products name']:
#    for_forecast[col] = for_forecast['part id'].map(dict(zip(s['part id'], s[col])))

for col in ['sku id','products name']:
    for_forecast[col] = for_forecast['part id'].map(dict(zip(skus_main['part id'], skus_main[col])))

In [29]:
n = np.sum(for_forecast.isnull().any(1))
if n == 0:
    print('no nulls')
else:
    print('nulls')

no nulls

In [30]:
for_forecast.head(1)

,year and month,qty total,part id,bom type,popularity tier,sku id,products name
0,2014-08-01,199.0,2049,pnp,04 - low,8658,The Glycerine Product

### Check count of data points per PN

In [31]:
c = np.sum(for_forecast.groupby('part id')[['year and month']].count() < n).values[0]
if c == 0:
    print('match')
else:
    print('mismatch')

match

### Check unique PN count

In [32]:
v1 = len(set(for_forecast['part id']))
v2 = len(set(sales_clean['umbrella part id']))
if v1 == v2:
    print('match')
    print('the total unique umbrella part id count is {}'.format(v1))
else:
    print('mismatch')

match
the total unique umbrella part id count is 803

### Check quantities

In [33]:
q1 = for_forecast['qty total'].sum()
q2 = sales_clean['mod qty total'].sum()

if np.abs(q1 - q2) < 0.01:
    print('match')
else:
    print('mismatch')    
    
# fill zeros with 0.1, to ease forecasting
for_forecast['qty total'] = np.where(for_forecast['qty total'] == 0, 0.1, for_forecast['qty total'])

match

### To Excel, for R

In [34]:
if write == 'yes':
    writer = pd.ExcelWriter('War Chest Part sales for R - For GitHub Portfolio.xlsx', engine = 'xlsxwriter')
    for_forecast.to_excel(writer, 'data', index = False)
    writer.save()

In [35]:
print('done')

done

# October 2018 Review

In [36]:
ym = '2018-10'
actual = sales_clean[sales_clean['year and month'] == ym].groupby('umbrella part id', as_index = False)[['mod qty total']].sum()

### Fab

In [37]:
fab_csv = '/Users/jarad/fake Folder/Fab/Projects/War\ Chest\ 2018/R/Forecasts\ for\ 10\ -\ Oct\ onwards/Fab\ War\ Chest\ 2018\ Forecasts\ for\ 2018-10\ to\ 2019-02\ .xlsx'
fab_csv = fab_csv.replace('\\','')
fab_key = pd.read_excel(fab_csv, sheet_name = '01 - key')
fab_high = pd.read_excel(fab_csv, sheet_name = '02 - high')
fab_med = pd.read_excel(fab_csv, sheet_name = '03 - medium')

fab_models = pd.concat([fab_key, fab_high, fab_med], sort = False)
fab_models.drop(fab_models[fab_models['forecast month'] != ym].index, inplace = True)
fab_models.reset_index(drop = True, inplace = True)

In [38]:
fab_models['actual'] = fab_models['part id'].map(dict(zip(actual['umbrella part id'], actual['mod qty total'])))
fab_models['in interval'] = np.where((fab_models['actual'] >= fab_models['lower']) & (fab_models['actual'] <= fab_models['upper']), 'yes','no')

In [39]:
fab_results = fab_models.groupby(['popularity tier','in interval'])[['in interval']].count().unstack(1)
fab_results.columns = fab_results.columns.droplevel(0)
fab_results.loc['column total'] = fab_results.sum()
fab_results['% yes'] = fab_results['yes']/fab_results.sum(1)
print('For Fab: Was the actual qty sold within the estimation interval?')
fab_results.format_(['n0','n0','p2'])

For Fab: Was the actual qty sold within the estimation interval?

                No  Yes   % Yes
popularity tier
01 - key         1   26  96.30%
02 - high        4   59  93.65%
03 - medium      3   86  96.63%
column total     8  171  95.53%

In [40]:
fab_models[fab_models['in interval'] == 'no']

,part id,bom type,popularity tier,forecast month,lower,average,upper,actual,in interval
17,2796,pnp,01 - key,2018-10,360,585,810,260.0,no
27,254,pnp,02 - high,2018-10,334,567,800,259.0,no
29,439,pnp,02 - high,2018-10,597,887,1177,NaN,no
50,1980,pnp,02 - high,2018-10,278,535,792,182.0,no
88,3787,pnp,02 - high,2018-10,93,260,426,55.0,no
95,358,pnp,03 - medium,2018-10,73,195,316,64.0,no
96,364,pnp,03 - medium,2018-10,91,195,300,87.0,no
145,2748,pnp,03 - medium,2018-10,78,247,416,52.0,no

### Kitting

In [41]:
kitting_csv = '/Users/jarad/Fake Folder/Fab/Projects/War\ Chest\ 2018/R/Forecasts\ for\ 10\ -\ Oct\ onwards/Kitting\ War\ Chest\ 2018\ Forecasts\ for\ 2018-10\ to\ 2019-02\ .xlsx'
kitting_csv = kitting_csv.replace('\\','')
kitting_key = pd.read_excel(kitting_csv, sheet_name = '01 - key')
kitting_high = pd.read_excel(kitting_csv, sheet_name = '02 - high')
kitting_med = pd.read_excel(kitting_csv, sheet_name = '03 - medium')

kitting_models = pd.concat([kitting_key, kitting_high, kitting_med], sort = False)
kitting_models.drop(kitting_models[kitting_models['forecast month'] != ym].index, inplace = True)
kitting_models.reset_index(drop = True, inplace = True)

In [42]:
kitting_models['actual'] = kitting_models['part id'].map(dict(zip(actual['umbrella part id'], actual['mod qty total'])))
kitting_models['in interval'] = np.where((kitting_models['actual'] >= kitting_models['lower']) & (kitting_models['actual'] <= kitting_models['upper']), 'yes','no')

In [43]:
kitting_results = kitting_models.groupby(['popularity tier','in interval'])[['in interval']].count().unstack(1)
kitting_results.columns = kitting_results.columns.droplevel(0)
kitting_results.loc['column total'] = kitting_results.sum()
kitting_results['% yes'] = kitting_results['yes']/kitting_results.sum(1)
print('For Kitting: Was the actual qty sold within the estimation interval?')
kitting_results.format_(['n0','n0','p2'])

For Kitting: Was the actual qty sold within the estimation interval?

                No  Yes   % Yes
popularity tier
01 - key         3   21  87.50%
02 - high        3   57  95.00%
03 - medium      3   81  96.43%
column total     9  159  94.64%

In [44]:
kitting_models[kitting_models['in interval'] == 'no']

,part id,bom type,popularity tier,forecast month,lower,average,upper,actual,in interval
5,199,kitted,01 - key,2018-10,61,128,196,54.0,no
8,571,kitted,01 - key,2018-10,204,350,497,159.0,no
22,3517,kitted,01 - key,2018-10,9,586,1163,1410.0,no
41,642,kitted,02 - high,2018-10,26,89,153,4.0,no
43,752,kitted,02 - high,2018-10,91,147,203,68.0,no
81,3795,kitted,02 - high,2018-10,64,163,261,24.0,no
133,2292,kitted,03 - medium,2018-10,0,42,135,NaN,no
161,3847,kitted,03 - medium,2018-10,0,0,146,150.0,no
167,3942,kitted,03 - medium,2018-10,13,103,193,230.0,no

In [45]:
print('done')

done