### Libraries

In [1]:
import sys
sys.path.insert(0,'/Users/jarad/Fake Folder/Python Libraries')

from jb_libraries import *
%matplotlib inline

from osh_data import *

### Script settings

In [2]:
r_write = 'no'

In [3]:
# the first month we started marking orders as "fraud - void" instead of deleting them
fraud_date_start = '2018-05-01' 
date_end = str(dt.datetime.now().date())

three_months_ago = str((pd.to_datetime(date_end) - pd.DateOffset(months = 3)).date())

csv_path = '/Users/jarad/Desktop/Desktop/Portfolio Scripts/Machine Learning to Detect Credit Card Fraud/'

### Chart settings

In [4]:
style_sheet_path = '/Users/jarad/Fake Folder/Matplotlib Stylesheets/the_pillars_stylesheet.mplstyle'
plt.style.use(style_sheet_path)

alpha = 0.8

adablue01 = '#00ffff'
adablue02 = '#00a6e9'
adapink = '#ff00ff'
adapurple = '#662d91'
adayellow = '#ffff00'
adagreen = '#00ff00'

colors = [adablue01,adablue02,adapink,adayellow,adapurple,adagreen] * 10

*****
# Get orders history data
*****

In [5]:
s = dt.datetime.now()

osh_super_main = pd.read_sql(
'''
SELECT
orders_status_history_id AS osh_id,
DATE(date_added) AS date_added,
orders_id,
orders_status_id,
orders_billing_id
FROM orders_status_history
WHERE LENGTH(orders_id) <= 7
AND orders_id != 0
AND DATE(date_added) >= ' '''+ fraud_date_start +''' '
ORDER BY orders_id DESC
''', db)

col_fix(osh_super_main)

e = dt.datetime.now()
print(e-s)

0:00:56.758135

In [6]:
osh_super_main['date added'] = pd.to_datetime(osh_super_main['date added'])

for x in ['year and month','year and quarter']:
    osh_super_main[x + ' added'] = jb_dates(osh_super_main['date added'], x)

### Make a copy

In [7]:
osh_main = osh_super_main.copy()

### Get orders status and billing status names

In [8]:
os_main = pd.read_sql(
'''
SELECT
orders_status_id AS os_id,
LOWER(orders_status_name) AS os_name
FROM orders_status
ORDER BY orders_status_id
''', db)

col_fix(os_main)

bs_main = pd.read_sql(
'''
SELECT
bs_status_id AS bs_id,
LOWER(bs_status_name) AS bs_name
FROM billing_status
''', db)

col_fix(bs_main)

osh_main['orders status name'] = osh_main['orders status id'].map(dict(zip(os_main['os id'], os_main['os name'])))
osh_main['billing status name'] = osh_main['orders billing id'].map(dict(zip(bs_main['bs id'], bs_main['bs name'])))

ls = ['orders status id','orders billing id']
osh_main.drop(ls, 1, inplace = True)

*****
# Get orders data
*****

In [9]:
s = dt.datetime.now()

orders_super_main = pd.read_sql(
'''
SELECT
DATE(date_purchased) AS date_purchased,
orders_id,

customers_id,
customers_email_address,

billing_street_address,
billing_state,
billing_country,
billing_postcode,

delivery_street_address,
delivery_state,
delivery_country,
delivery_postcode,
IF(delivery_address_commercial = 0, 'residential','commercial') AS delivery_address_commercial,

ip_address,
IF(ip_mismatch = 0, 'no','yes') AS ip_mismatch,

IF(orders_reseller = 0 AND orders_super_reseller = 0, 'non reseller','reseller/super') AS customer_type,

payment_method

FROM orders
''', db)

col_fix(orders_super_main)

orders_super_main['purchase type'] = np.where(orders_super_main['customers id'] == 0, 'guest','account')
orders_super_main['date purchased'] = pd.to_datetime(orders_super_main['date purchased'])

for col in orders_super_main.columns:
    if orders_super_main[col].dtype == 'O':
        orders_super_main[col] = orders_super_main[col].str.lower()
        orders_super_main[col] = orders_super_main[col].str.strip()
        
e = dt.datetime.now()
print(e-s)

0:04:12.972176

### Exclude Adabox and Partnerships

In [10]:
adabox = pd.read_sql(
'''
SELECT
orders_id
FROM subscriptions_history
''', db)

col_fix(adabox)

partnerships = pd.read_sql(
'''
SELECT
orders_id
FROM orders_products
WHERE part_id IN (SELECT part_id FROM products_description WHERE products_name LIKE '%partner%')
''', db)

col_fix(partnerships)

ls = adabox['orders id'].tolist() + partnerships['orders id'].tolist()

orders_super_main.drop(orders_super_main[orders_super_main['orders id'].isin(ls)].index, inplace = True)
orders_super_main.reset_index(drop = True, inplace = True)

### Flag matching postcodes

In [11]:
orders_super_main['matching postcodes'] = np.where(orders_super_main['billing postcode'] == orders_super_main['delivery postcode'],
                                                  'yes',
                                                  'no')

Note that we cannot match countries or states because delivery_state could equal "MA" while billing_state could equal "mass", etc., see below for some examples

In [12]:
print('example with states')
example1 = orders_super_main[(orders_super_main['delivery postcode'] == orders_super_main['billing postcode'])
                          & (orders_super_main['delivery state'] != orders_super_main['billing state'])].tail()
display(example1[['delivery state','billing state','delivery postcode','billing postcode']])

print('\nexample with countries')
example2 = orders_super_main[(orders_super_main['delivery postcode'] == orders_super_main['billing postcode'])
                          & (orders_super_main['delivery country'] != orders_super_main['billing country'])].tail()
display(example2[['delivery country','billing country','delivery postcode','billing postcode']])

example with states

        delivery state  billing state delivery postcode billing postcode
1976038             wa     washington             98115            98115
1976046             ca     california        94022-4412       94022-4412
1976064        miramas                            13140            13140
1976070             nb  noord-brabant            5403la           5403la
1976073             nh  noord-holland           1097 dz          1097 dz

example with countries

        delivery country billing country delivery postcode billing postcode
1891007    united states         armenia             19804            19804
1924026    united states          brazil             33141            33141
1924758           france   new caledonia             98807            98807
1957916           cyprus     puerto rico             00739            00739
1973292    united states          canada             90046            90046

### Extract email domain

In [13]:
ls1 = orders_super_main['customers email address'].tolist()
ls2 = [re.sub('.*@','',x) for x in ls1]
ls3 = [x.split('.')[0] for x in ls2]

orders_super_main['email domain'] = ls3

### Count non-letters in email address

In [14]:
def char_and_num_in_email(df):
    
    email = df['customers email address']
    email = re.sub('@.*','', email) # remove everything after "@"
    email = re.sub('[a-z0-9]','', email) # remove anything that's not a letter or number
    l = len(email)
    return l

orders_super_main['char and num in email'] = orders_super_main.apply(char_and_num_in_email, axis = 1)

### Get account data

In [15]:
customers_info_main = pd.read_sql(
'''
SELECT
customers_info_id AS customers_id,
DATE(customers_info_date_account_created) AS date_account_created
FROM customers_info
WHERE customers_info_id != 0
''', db)

col_fix(customers_info_main)

customers_info_main['date account created'] = pd.to_datetime(customers_info_main['date account created'])

orders_super_main['date account created'] = orders_super_main['customers id'].map(dict(zip(customers_info_main['customers id'], customers_info_main['date account created'])))

orders_super_main['account duration at time of purchased'] = (orders_super_main['date purchased'] - orders_super_main['date account created']).dt.days
orders_super_main['account duration at time of purchased'].fillna(0, inplace = True)
orders_super_main['account duration at time of purchased'] = orders_super_main['account duration at time of purchased'].astype(int)

### Get subtotal data

In [16]:
ot_main = pd.read_sql(
'''
SELECT
orders_id,
value AS subtotal
FROM orders_total
WHERE class = 'ot_subtotal'
''', db)

col_fix(ot_main)

orders_super_main['subtotal'] = orders_super_main['orders id'].map(dict(zip(ot_main['orders id'], ot_main['subtotal'])))

### Make a copy

In [17]:
orders_main = orders_super_main.copy()

### Fix up email addresses

In [18]:
# remove where customer was an adafruit employee
ls = list(set(orders_main[orders_main['customers email address'].str.contains('@adafruit.com$')]['customers id']))
ls.remove(0) # an adafruit employee can order as a guest, but we want to keep all guest orders in our data

orders_main.drop(orders_main[(orders_main['customers id'].isin(ls))
                           | (orders_main['customers email address'].str.contains('@adafruit.com$'))].index, inplace = True)
orders_main.reset_index(drop = True, inplace = True)

if orders_main[orders_main['customers email address'].str.contains('@adafruit.com$')].empty == False:
    raise ValueError('check this')
    
# remove where email is an empty string
empty = orders_main[orders_main['customers email address'] == '']
if len(empty) < 100:
    print('count of "empty string" emails is x%i' % len(empty))
    orders_main.drop(empty.index.tolist(), inplace = True)
    orders_main.reset_index(drop = True, inplace = True)
else:
    raise ValueError('check your "empty string" email count')

count of "empty string" emails is x73

### Fix up countries

In [19]:
# remove where country name is an empty string
for x in ['delivery','billing']:
    orders_main.drop(orders_main[orders_main[x + ' country'] == ''].index, inplace = True)
    orders_main.reset_index(drop = True, inplace = True)

*****
# Restrict by date
Recall that in May 2018 we started marking orders as "fraud" instead of deleting them; start the data set at this date.
*****

In [20]:
orders = orders_main[orders_main['date purchased'] >= fraud_date_start].copy()
orders.reset_index(drop = True, inplace = True)

### Flag fraud orders

In [21]:
ls = ['fraud - void','fraud - confirmed']
oids = osh_main[osh_main['orders status name'].isin(ls)]['orders id']

orders['fraud'] = np.where(orders['orders id'].isin(oids),'yes','no')

### Fix up payment methods when the order is fraud
If an order is deemed "fraud" right away, the payment method reverts to "replacement order". This designation could affect our ML model. For these orders, assume the payment method was "credit card"

In [22]:
orders['payment method'] = np.where((orders['payment method'] == 'replacement order') & (orders['fraud'] == 'yes'),
                                   'credit card',
                                   orders['payment method'])

### Get part data

In [23]:
parts_main = pd.read_sql(
'''
SELECT
part_id,
products_price
FROM parts
''', db)

col_fix(parts_main)

q = 0.95
top_parts = parts_main[parts_main['products price'] >= parts_main['products price'].quantile(q)]['part id'].tolist()

In [24]:
min_oid = orders['orders id'].min()

op_main = pd.read_sql(
'''
SELECT
orders_id,
part_id
FROM orders_products
WHERE orders_id >= '''+ str(min_oid) +'''
''', db)

col_fix(op_main)

op_main['top part'] = np.where(op_main['part id'].isin(top_parts),'yes','no')

### Flag top parts

In [25]:
orders['contains top part'] = np.where(orders['orders id'].isin(op_main[op_main['top part'] == 'yes']['orders id'].tolist()),
                                      'yes','no')

### Flag parts that have been involved in past fraud orders

In [26]:
# get OIDs of fraud orders
ls1 = orders[orders['fraud'] == 'yes']['orders id'].tolist()

# get parts belonging to those OIDs
ls2 = list(set(op_main[op_main['orders id'].isin(ls1)]['part id']))

# get OIDs which contain these parts
op_main['fraud part'] = np.where(op_main['part id'].isin(ls2),'yes','no')

# flag OIDs which contain fraud parts
orders['contains fraud part'] = np.where(orders['orders id'].isin(op_main[op_main['fraud part'] == 'yes']['orders id'].tolist()),
                                        'yes','no')

*****
# Structure for model
*****

In [27]:
for_model = orders.copy()

ls = ['date purchased',
     'customers id',
     'customers email address',
     'billing street address',
     'billing state',
     'billing postcode',
     'delivery street address',
     'delivery state',
     'delivery postcode',
     'ip address',
     'date account created']

for_model.drop(ls,1,inplace = True)

In [28]:
for_model['payment method'] = np.where(for_model['payment method'].str.contains('purchase order'), 
                                      'purchase order',
                                      for_model['payment method'])

ls = list(set(for_model[for_model['fraud'] == 'yes']['email domain']))
for_model['email domain fraud'] = np.where(for_model['email domain'].isin(ls),'yes','no')
for_model.drop('email domain',1,inplace = True)

for_model.columns = for_model.columns.str.replace(' ','_')

if np.sum(for_model.isnull().any(1)) > 0:
    raise ValueError('u have nulls')

In [29]:
for_model.head()

,orders_id,billing_country,delivery_country,delivery_address_commercial,ip_mismatch,customer_type,payment_method,purchase_type,matching_postcodes,char_and_num_in_email,account_duration_at_time_of_purchased,subtotal,fraud,contains_top_part,contains_fraud_part,email_domain_fraud
0,1752827,united states,united states,residential,no,non reseller,paypal,account,yes,0,146,28.90,no,no,yes,yes
1,1752828,united states,united states,residential,yes,non reseller,credit card,account,yes,1,1455,35.00,no,no,yes,no
2,1752829,united states,united states,residential,yes,non reseller,paypal,guest,no,0,0,16.75,no,no,yes,no
3,1752830,united states,united states,residential,yes,non reseller,paypal,account,yes,0,1870,69.80,no,no,yes,yes
4,1752831,united states,united states,residential,yes,non reseller,amazon payments,account,yes,0,0,24.30,no,no,yes,no

In [30]:
if r_write == 'yes':

    title = 'Fraud Data for R.xlsx'
    
    writer = pd.ExcelWriter(csv_path + title, engine = 'xlsxwriter')
    for_model.to_excel(writer, index = False)
    writer.save()

*****
# Confusion matrix
*****
This is the benchmark matrix; compare this to the ML model.

### Prepare data

In [31]:
ls = orders['orders id'].tolist()
for_rates = osh_main[osh_main['orders id'].isin(ls)].drop_duplicates(['orders id','orders status name']).copy()

v1 = len(orders)
v2 = len(set(for_rates['orders id']))

if v1 != v2:
    raise ValueError('totals do not match')
    
t = len(set(for_rates['orders id']))
print('count of unique OIDs: {:,.0f}'.format(t))

count of unique OIDs: 270,273

### True Positive
We say fraud and it's fraud

In [32]:
ls = for_rates[for_rates['orders status name'] == 'fraud - pending']['orders id'].tolist()

a = for_rates[for_rates['orders id'].isin(ls)]

b = a.groupby(['orders id','orders status name'])[['orders id']].count().unstack(1)
b.columns = b.columns.droplevel(0)

tp = int(b['fraud - void'].sum())

### False positive
We say fraud and it's not fraud

In [1]:
ls = for_rates[for_rates['orders status name'] == 'fraud - pending']['orders id'].tolist()

a = for_rates[for_rates['orders id'].isin(ls)]

b = a.groupby(['orders id','orders status name'])[['orders id']].count().unstack(1)
b.columns = b.columns.droplevel(0)

fp = int(b['fraud - pending'].sum() - b['fraud - void'].sum())

NameError: name 'for_rates' is not defined

### True Negative
We say not fraud and it's not fraud

In [ ]:
ls = for_rates[for_rates['orders status name'] == 'fraud - pending']['orders id'].tolist()

a = for_rates[~for_rates['orders id'].isin(ls)].groupby(['orders id','orders status name'])[['orders id']].count().unstack(1)
a.columns = a.columns.droplevel(0)

tn = int(len(a) - len(a[(a['fraud - confirmed'] == 1) | (a['fraud - void'] == 1)]))

### False negative
We say not fraud and it's fraud

In [ ]:
ls = for_rates[for_rates['orders status name'] == 'fraud - pending']['orders id'].tolist()

a = for_rates[~for_rates['orders id'].isin(ls)].groupby(['orders id','orders status name'])[['orders id']].count().unstack(1)
a.columns = a.columns.droplevel(0)

fn = len(a[(a['fraud - confirmed'] == 1) | (a['fraud - void'] == 1)])

### Sensitivity
or True Positive Rate

In [ ]:
sensitivity = tp/(tp+fn)
print('{:,.2f}%'.format(sensitivity * 100))

### Specificity
or True Negative Rate

In [ ]:
specificity = tn/(tn+fp)
print('{:,.2f}%'.format(specificity * 100))

### Confusion Matrix

In [ ]:
cols = ['reference - no','reference - yes']
ix = ['prediction - no','prediction - yes']

data = [[tn,fn],[fp,tp]]

confusion_matrix = pd.DataFrame(columns = cols, index = ix, data = data)

if confusion_matrix.sum(1).sum() != t:
    raise ValueError('your confusion matrix does not sum to total')

In [ ]:
confusion_matrix

### Make easier to read

In [ ]:
confusion_matrix2 = confusion_matrix.copy()
confusion_matrix2.columns = ['Really Not Fraud','Really Fraud']
confusion_matrix2.index = ['We Said Not Fraud','We Said Fraud']

fmt = ['n0','n0']
display(confusion_matrix2.format_(fmt))

### See the proportions

In [ ]:
fmt = ['p1','p1']

(confusion_matrix2/t).format_(fmt)

In [ ]:
print('done')