In [2]:
import sys
sys.path.insert(0, '/Users/jarad/Fake Folder/Python Libraries')

from jb_libraries import *

In [36]:
df = pd.read_sql(
'''
SELECT
DATE(date_purchased) AS date_purchased,
COUNT(*) * 1000 AS count,
SUM(order_total) AS order_total
FROM orders
GROUP BY DATE(date_purchased)
LIMIT 5
''', db)

col_fix(df)

df['date purchased'] = pd.to_datetime(df['date purchased'])

In [46]:
fmt = [0,'p0','m0']
df.format_(fmt)

  Date Purchased       Count Order Total
0     2005-10-12  2,300,000%      $8,018
1     2005-10-13  2,200,000%      $7,760
2     2005-10-14    600,000%      $2,106
3     2005-10-15    300,000%      $1,052
4     2005-10-16    200,000%        $686

In [53]:
pd.read_sql(
'''
SELECT
*
FROM orders_status
ORDER BY orders_status_id
''', db)

    orders_status_id  language_id     orders_status_name
0                  1            1                Pending
1                  2            1             Processing
2                  3            1                Shipped
3                  4            1                 Update
4                  5            1                Printed
5                  6            1                 Billed
6                  7            1       Payment Received
7                  8            1        Fraud - Pending
8                  9            1      Fraud - Confirmed
9                 10            1                 Return
10                11            1     Replaced Defective
11                12            1     Refunded Defective
12                13            1  No Shipment Necessary
13                14            1                 Voided
14                15            1           Fraud - Void

In [57]:
pd.read_sql(
'''
show tables where Tables_in_adafruit_zencartnew like '%status%'
''', db)

          Tables_in_adafruit_zencartnew
0                        billing_status
1             orders_products_sr_status
2     orders_products_sr_status_history
3                         orders_status
4                 orders_status_history
5         orders_status_history_deleted
6                partial_status_history
7   partials_products_sr_status_history
8                 paypal_payment_status
9         paypal_payment_status_history
10          po_shipments_status_history
11                            po_status
12                     shipments_status
13           sku_status_change_tracking
14                            sr_status
15                           stc_status

In [58]:
search = pd.read_sql(
'''
SELECT COLUMN_NAME, TABLE_NAME 
FROM INFORMATION_SCHEMA.COLUMNS 
WHERE COLUMN_NAME LIKE '%billing%'
''', db)

search

                    COLUMN_NAME                     TABLE_NAME
0            billing_address_id   authorizenet_cim_pp_to_label
1               billing_default                      customers
2    customers_billing_deadline                      customers
3   customers_billing_threshold                      customers
4       last_billing_address_id                 customers_info
5               Billing Account                    dhl_billing
6                Billing Source                    dhl_billing
7          Billing Account Name                    dhl_billing
8             Billing Address 1                    dhl_billing
9             Billing Address 2                    dhl_billing
10            Billing Address 3                    dhl_billing
11             Billing Postcode                    dhl_billing
12                 Billing City                    dhl_billing
13                Billing State                    dhl_billing
14              Billing Country                    dhl_billing
15                   fb_billing                 fraud_ban_sets
16              billing_address                      fraud_log
17             lapwa_billing_id                  lapwa_billing
18                 billing_name                         orders
19              billing_company                         orders
20       billing_street_address                         orders
21               billing_suburb                         orders
22                 billing_city                         orders
23             billing_postcode                         orders
24                billing_state                         orders
25              billing_country                         orders
26    billing_address_format_id                         orders
27                billing_phone                         orders
28        orders_billing_status                         orders
29                 billing_name                 orders_deleted
30              billing_company                 orders_deleted
31       billing_street_address                 orders_deleted
32               billing_suburb                 orders_deleted
33                 billing_city                 orders_deleted
34             billing_postcode                 orders_deleted
35                billing_state                 orders_deleted
36              billing_country                 orders_deleted
37    billing_address_format_id                 orders_deleted
38                billing_phone                 orders_deleted
39        orders_billing_status                 orders_deleted
40            orders_billing_id          orders_status_history
41            orders_billing_id  orders_status_history_deleted
42    ps_partial_billing_status              partial_shipments
43               psh_billing_id         partial_status_history
44               ups_billing_id                    ups_billing