In [1]:
import sys
sys.path.insert(0,'/Users/jarad/fake_folder/Python Libraries')

from jb_libraries import *
from part_categories import *
from part_cost import *

%matplotlib inline

#===== set this
#==========================================================================================

workbook_title = '2018 - 04 - Apr - Monthly Products Report'
close_workbook = 'yes'
close_charts = 'yes'

report_type = 'monthly'

# go two years back
date_start = '2016-04-01'
date_end = '2018-04-30'

#==========================================================================================

cur_per_end = date_end

if report_type == 'monthly':
    time = 'year and month'
    per = 12
    date_header = 'month'
    
    cur_per_start = str((pd.to_datetime(date_start) + pd.DateOffset(months = 12)).date())
    cur_pretty = calendar.month_abbr[int(cur_per_start[5:7])] + ' ' + cur_per_start[:4]    
    
    prev_per_start = str((pd.to_datetime(date_start) + pd.DateOffset(months = 11)).date())
    prev_per_end = cur_per_start
    prev_pretty = calendar.month_abbr[int(prev_per_start[5:7])] + ' ' + prev_per_start[:4]
    
elif report_type == 'quarterly': # go two years back
    time = 'year and quarter'
    per = 4
    date_header = 'quarter'
    
    cur_per_start = str((pd.to_datetime(date_start) + pd.DateOffset(months = 24)).date())
    cur_pretty = 'Q' + str(pd.to_datetime(cur_per_end).quarter) + ' ' + str(pd.to_datetime(cur_per_end).year)[:4]        
    
    prev_per_start = str((pd.to_datetime(date_start) + pd.DateOffset(months = 21)).date())
    prev_per_end = cur_per_start    
    prev_pretty = 'Q' + str(pd.to_datetime(prev_per_start).quarter) + ' ' + str(pd.to_datetime(prev_per_start).year)[:4]    

    
print('\nreport type is: ', report_type)    
print('\ncur period start: ', cur_per_start)
print('cur period end: ', cur_per_end)
print('pretty current period: ', cur_pretty)
print('\nprevious period start: ', prev_per_start)
print('previous period end: ', prev_per_end)
print('pretty previous period:', prev_pretty)

part categories data start
part categories data end
part cost start
124 part(s) with zero cost - keep these
59 part(s) with zero MSRP - keep these
67 part(s) with MSRP < cost per unit - keep these
0 dupe(s)
note that we did not exclude obsolete parts, so this makes sense

part profit margin stats, without the above
count    3095.000000
mean        0.642948
std         0.184970
min         0.000000
25%         0.500000
50%         0.680702
75%         0.787459
max         0.999385
dtype: float64

1 combo(s) with zero cost before dropping
2 combo(s) with zero MSRP before dropping
3 combo(s) with MSRP < cost per unit before dropping
0 dupe(s)

part profit margin stats
count    201.000000
mean       0.628663
std        0.167645
min        0.237759
25%        0.482464
50%        0.690575
75%        0.760472
max        0.961513
dtype: float64

0 stripe(s) with zero cost before dropping
0 stripe(s) with zero MSRP before dropping
0 stripe(s) with MSRP < cost per unit before dropping
0 dupe(s)

stripe profit margin stats
count    128.000000
mean       0.759946
std        0.059181
min        0.662771
25%        0.721448
50%        0.764012
75%        0.774436
max        0.880000
dtype: float64

0 null(s) in all_cost
the mean_stripe_margin is 76.0%
part cost end

report type is:  monthly

cur period start:  2017-04-01
cur period end:  2018-04-30
pretty current period:  Apr 2017

previous period start:  2017-03-01
previous period end:  2017-04-01
pretty previous period: Mar 2017

### check order statuses

In [2]:
pd.read_sql(
'''
SELECT
*
FROM orders_status
ORDER BY orders_status_id 
''', db)

    orders_status_id  language_id     orders_status_name
0                  1            1                Pending
1                  2            1             Processing
2                  3            1                Shipped
3                  4            1                 Update
4                  5            1                Printed
5                  6            1                 Billed
6                  7            1       Payment Received
7                  8            1        Fraud - Pending
8                  9            1      Fraud - Confirmed
9                 10            1                 Return
10                11            1     Replaced Defective
11                12            1     Refunded Defective
12                13            1  No Shipment Necessary
13                14            1                 Voided
14                15            1           Fraud - Void

### check adabox sub prices

In [3]:
pd.read_sql(
'''
SELECT
#sh.orders_id,
DISTINCT(op.products_price)
FROM subscriptions_history sh
JOIN orders_products op ON sh.orders_id = op.orders_id
WHERE sh.action = 'Create Shipment Order'
''', db)

   products_price
0            60.0

### get main data

In [4]:
# get main data
op_main = pd.read_sql(
'''
SELECT
DATE(o.date_purchased) AS date_purchased,
op.orders_id,
op.part_id,
op.products_quantity AS 'total qty',
op.products_quantity_free AS 'qty free',
op.products_price,

CASE 
WHEN o.orders_reseller = 0 AND o.orders_super_reseller = 0 THEN 'non reseller'
WHEN o.orders_reseller = 1 AND o.orders_super_reseller = 0 THEN 'reseller'
WHEN o.orders_super_reseller = 1 THEN 'super reseller'
ELSE 'you missed one' END AS 'customer'

FROM orders_products op
JOIN orders o ON op.orders_id = o.orders_id
WHERE DATE(o.date_purchased) BETWEEN ' '''+ date_start +''' ' AND ' '''+ date_end +''' '
AND o.orders_status NOT IN (9,10,11,12,14,15)
AND o.payment_method != 'Replacement Order'
''', db)

op_main.columns = [x.replace('_',' ') for x in op_main.columns]

op_main['date purchased'] = pd.to_datetime(op_main['date purchased'])
op_main['year and quarter'] = op_main['date purchased'].dt.year.map(str) + '-Q' + op_main['date purchased'].dt.quarter.map(str)
op_main['year and month'] = [str(x)[:7] for x in op_main['date purchased']]

partner = pd.read_sql(
'''
SELECT
orders_id AS 'orders id'
FROM orders_products
WHERE part_id IN
(SELECT
part_id
FROM products_description
WHERE products_name LIKE '%partner%')
''', db)

op_main['customer'] = np.where(op_main['orders id'].isin(partner['orders id'].tolist()),
                               'partnership',
                                op_main['customer'])

### fix prices and costs

In [5]:
# particle price fix
particle = [3450,3451,3452,3453,3455,3454,3234,3233,2798,2725,2721,2723,2724,3051,3457,2799,3233,3234,2722]
op_main['products price'] = np.where(op_main['part id'].isin(particle), 1.00, op_main['products price'])

# before about may 5, 2018 we priced stripes differently than we do now
# if someone bought a stripe before this date then assume that the cost is such that the profit margin
    # is equal to the mean_stripe_margin
op_main['cost per unit'] = op_main['part id'].map(dict(zip(all_cost['part id'], all_cost['cost per unit'])))
op_main['cost per unit'] = np.where((op_main['part id'].isin(cost03['part id'].tolist())) & (op_main['date purchased'] < '2018-05-04'),
                                   op_main['products price'] * (1 - mean_stripe_margin), # from part_cost.py
                                   op_main['cost per unit']) # from part_cost.py

# fix adabox prices and cost   
op_main['products price'] = np.where(op_main['part id'] == 3067, 60.0, op_main['products price'])
op_main['cost per unit'] = np.where(op_main['part id'] == 3067, 28.59, op_main['cost per unit']) # avg cost per box over all boxes

# fix partnership costs
op_main['cost per unit'] = np.where(op_main['customer'] == 'partnership', 0, op_main['cost per unit'])

# remove these parts
op_main.drop(op_main[op_main['part id'].isin([2843, 1408, 3792])].index, inplace = True)
print('%i part(s) that were not free but which have price equal to zero' % len(op_main[(op_main['qty free'] == 0) & (op_main['products price'] == 0)]))
print('remove these')
op_main.drop(op_main[((op_main['qty free'] == 0) & (op_main['products price'] == 0))].index, inplace = True)

op_main['qty bought'] = op_main['total qty'] - op_main['qty free']
op_main['revenue'] = op_main['qty bought'] * op_main['products price']
op_main['total cost'] = op_main['total qty'] * op_main['cost per unit']
op_main['gross profit'] = op_main['revenue'] - op_main['total cost']

print('%i null(s) before removing' % np.sum(op_main.isnull().any(1)))
op_main.dropna(inplace = True)
print('%i dupes(s) before removing' % np.sum(op_main.duplicated()))
op_main.drop_duplicates(inplace = True)

not_free = op_main[op_main['qty free'] == 0].copy()
print('mean profit margin without freebies: {:,.1f}%'.format(np.mean(not_free['gross profit']/not_free['revenue']) * 100))

25 part(s) that were not free but which have price equal to zero
remove these
0 null(s) before removing
1 dupes(s) before removing
mean profit margin without freebies: 60.6%

### part names

In [6]:
part_names = pd.read_sql(
'''
SELECT
part_id AS 'part id',
LOWER(products_name) AS 'part name'
FROM products_description
''', db)

op_main['part name'] = op_main['part id'].map(dict(zip(part_names['part id'], part_names['part name'])))

print('%i null(s)' % np.sum(op_main.isnull().any(1)))
print('%i dupes(s)' % np.sum(op_main.duplicated()))

0 null(s)
0 dupes(s)

### categories

In [7]:
op_main['category'] = op_main['part id'].map(dict(zip(all_cats_df['part id'], all_cats_df['cat name'])))
op_main['category'] = np.where(op_main['part id'].isin(cost03['part id'].tolist()), 'stripe', op_main['category'])

print('%i null(s)' % np.sum(op_main.isnull().any(1)))
print('%i dupes(s)' % np.sum(op_main.duplicated()))

0 null(s)
0 dupes(s)

### boms

In [8]:
boms = pd.read_sql(
'''
SELECT
sku_id AS 'sku id',
part_id AS 'part id',
bom_type AS 'bom',
sku_date_modified AS 'sku date modified'
FROM skus
WHERE part_id != 0
''', db)

boms = boms.sort_values(['part id','sku date modified']).drop_duplicates('part id', keep = 'last')

op_main['bom'] = op_main['part id'].map(dict(zip(boms['part id'], boms['bom'])))
op_main['bom'] = np.where(op_main['part id'].isin(cost02['part id'].tolist()), 'combo', op_main['bom']) # from part_cost.py
op_main['bom'] = np.where(op_main['orders id'].isin(partner['orders id'].tolist()), 'partnership', op_main['bom'])
op_main['bom'].fillna('resale - no labor', inplace = True)
print('%i part(s) with "unspecified" bom - replace this/these' % len(op_main['part id'][op_main['bom'] == 'unspecified'].unique()))
op_main['bom'] = op_main['bom'].str.replace('unspecified','resale - no labor')

print('%i null(s)' % np.sum(op_main.isnull().any(1)))
print('%i dupes(s)' % np.sum(op_main.duplicated()))

2 part(s) with "unspecified" bom - replace this/these
0 null(s)
0 dupes(s)

### new products

In [9]:
new_prods = pd.read_sql(
'''
SELECT
part_id AS 'part id',
DATE(products_date_added) AS 'date added'
FROM parts
''', db)

new_prods['date added'] = pd.to_datetime(new_prods['date added'])

new_prods['year and month added'] = [str(x)[:7] for x in new_prods['date added']]
new_prods['year and quarter added'] = new_prods['date added'].dt.year.map(str) + '-Q' + new_prods['date added'].dt.quarter.map(str)

cur_new_prods = new_prods[new_prods['date added'] >= cur_per_start].drop('date added', 1).drop_duplicates()

op_main = pd.merge(op_main,
                      new_prods,
                      on = 'part id',
                      how = 'left',
                      copy = False)

op_main['new product'] = np.where(op_main['date added'].between(cur_per_start, cur_per_end),1,0)

op_main['new product over time'] = np.where((op_main['year and month added'] == op_main['year and month'])
                                              | (op_main['year and quarter added'] == op_main['year and quarter']),1,0)

print('%i null(s)' % np.sum(op_main.isnull().any(1)))
print('%i dupes(s)' % np.sum(op_main.duplicated()))

0 null(s)
0 dupes(s)

# Compare with PLM [Daily Stats](https://volcano.adafruit.com/volcano/ada_plm.php?zenAdminID=c2d3ee839d38936bafca30cd28172680#/Stats/Sales)

In [10]:
ds = pd.read_sql(
'''
SELECT
DATE_FORMAT(timestamp, '%Y-%m') AS 'year and month',
SUM(d_value) AS 'PLM revenue'
FROM daily_stats
WHERE d_class = 'd_all'
AND DATE(timestamp) BETWEEN ' '''+ date_start +''' ' AND ' '''+ date_end +''' '
GROUP BY DATE_FORMAT(timestamp, '%Y-%m')
''', db)

ds.set_index('year and month', inplace = True)

In [17]:
particle_check = pd.read_sql(
'''
SELECT
DATE_FORMAT(o.date_purchased, '%Y-%m') AS 'year and month',
SUM((op.products_quantity - op.products_quantity_free) * op.products_price) AS 'particle revenue'
FROM orders_products op
JOIN orders o ON op.orders_id = o.orders_id
AND DATE(o.date_purchased) BETWEEN ' '''+ date_start +''' ' AND ' '''+ date_end +''' '
AND o.orders_status NOT IN (9,10,11,12,14,15)
AND o.payment_method != 'Replacement Order'
WHERE op.part_id IN '''+ str(tuple(particle)) +'''
GROUP BY DATE_FORMAT(o.date_purchased, '%Y-%m')
''', db)

particle_check.set_index('year and month', inplace = True)

particle_fix_for_check = op_main[op_main['part id'].isin(particle)].groupby('year and month')[['revenue']].sum().rename(columns = {'revenue':'fixed particle revenue'})

In [18]:
refunds01 = pd.read_sql(
'''
SELECT
DATE_FORMAT(o.date_purchased, '%Y-%m') AS 'year and month',
ot.orders_id AS 'orders id',
ot.value AS 'ot rev'
FROM orders_total ot
JOIN orders o ON ot.orders_id = o.orders_id
AND DATE(o.date_purchased) BETWEEN ' '''+ date_start +''' ' AND ' '''+ date_end +''' '
AND o.orders_status NOT IN (9,10,11,12,14,15)
AND o.payment_method != 'Replacement Order'
WHERE ot.class = 'ot_subtotal'
''', db)

In [19]:
refunds02 = pd.read_sql(
'''
SELECT
o.orders_id AS 'orders id',
SUM((op.products_quantity - op.products_quantity_free) * op.products_price) AS 'op rev'
FROM orders o
JOIN orders_products op ON o.orders_id = op.orders_id
WHERE DATE(o.date_purchased) BETWEEN ' '''+ date_start +''' ' AND ' '''+ date_end +''' '
AND o.orders_status NOT IN (9,10,11,12,14,15)
AND o.payment_method != 'Replacement Order'
GROUP BY op.orders_id
''', db)

In [20]:
refunds_main = refunds01.merge(refunds02, on = 'orders id')
refunds_main['refunds'] = refunds_main['ot rev'] - refunds_main['op rev']
refunds = refunds_main.groupby('year and month')[['refunds']].sum()

In [21]:
check = op_main.groupby('year and month')[['revenue']].sum().rename(columns = {'revenue':'prod report revenue'}).join(ds).join(particle_check).join(particle_fix_for_check).join(refunds)
check['fixed particle revenue'] = check['fixed particle revenue'] * -1
check = check[['prod report revenue',
               'fixed particle revenue',
               'particle revenue',
               'refunds',
               'PLM revenue']]
check['difference'] = check['PLM revenue'] - (check.sum(1) - check['PLM revenue'])
check.reset_index(inplace = True)

def diff(x):
    if (x['difference'] > -1) and (x['difference'] < 1):
        return 0
    else:
        return x['difference']

check['difference'] = check.apply(diff, axis = 1)

In [22]:
check.format_([0] + ['m0'] * (len(check.columns) - 1))

,Year And Month,Prod Report Revenue,Fixed Particle Revenue,Particle Revenue,Refunds,Plm Revenue,Difference
0,2016-04,"$3,536,821",$-529,"$12,160","$1,246","$3,564,014","$14,316"
1,2016-05,"$3,317,686",$-502,"$12,787",$-0,"$3,349,488","$19,517"
2,2016-06,"$3,416,331",$-932,"$20,099",$54,"$3,448,979","$13,428"
3,2016-07,"$2,926,509",$-549,"$12,835",$-281,"$2,946,098","$7,584"
4,2016-08,"$3,351,055",$-328,"$10,040",$-0,"$3,336,806","$-23,962"
5,2016-09,"$3,114,922",$-252,"$7,511",$0,"$3,070,349","$-51,832"
6,2016-10,"$3,134,212",$-309,"$8,757",$63,"$3,149,696","$6,974"
7,2016-11,"$4,121,856",$-472,"$12,389",$-15,"$4,142,707","$8,948"
8,2016-12,"$3,519,851",$-421,"$12,052",$105,"$3,516,294","$-15,293"
9,2017-01,"$3,670,858",$-463,"$13,923",$43,"$3,676,814","$-7,546"
10,2017-02,"$3,196,504",$-281,"$7,275",$33,"$3,197,562","$-5,969"
11,2017-03,"$3,999,588",$-258,"$8,320",$-134,"$3,997,419","$-10,097"
12,2017-04,"$3,163,901",$-461,"$13,180",$153,"$3,157,077","$-19,697"
13,2017-05,"$3,604,496",$-410,"$11,396",$673,"$3,605,842","$-10,313"
14,2017-06,"$3,568,608",$-561,"$17,206",$933,"$3,572,184","$-14,002"
15,2017-07,"$3,109,222",$-348,"$12,073","$2,487","$3,118,942","$-4,492"
16,2017-08,"$3,434,371",$-463,"$14,865","$1,777","$3,437,401","$-13,148"
17,2017-09,"$3,312,654",$-390,"$11,167",$378,"$3,313,221","$-10,588"
18,2017-10,"$3,694,883",$-269,"$7,535",$367,"$3,692,436","$-10,080"
19,2017-11,"$4,345,372",$-311,"$9,379","$1,941","$4,347,141","$-9,240"
20,2017-12,"$3,931,415",$-481,"$14,367","$2,447","$3,934,257","$-13,491"
21,2018-01,"$3,537,430",$-534,"$12,440",$701,"$3,541,891","$-8,145"
22,2018-02,"$3,320,482",$-599,"$14,819","$2,781","$3,317,518","$-19,965"
23,2018-03,"$4,362,653",$-428,"$14,919","$3,347","$4,372,625","$-7,866"
24,2018-04,"$3,755,689",$-293,"$11,001","$1,855","$3,765,746","$-2,505"

# Excel Start

In [33]:
cur_per_start, cur_per_end

('2017-04-01', '2018-04-30')

In [34]:
op_main2 = op_main[op_main['date purchased'].between(cur_per_start, date_end)]
#op_main2['orders'] = op_main2.groupby('orders id')[['orders id']].cumcount()
#op_main2['orders'] = np.where(op_main2['orders'] > 1, 0, op_main2['orders'])  

total_rev = np.sum(op_main2['revenue'][(op_main2['date purchased'].between(cur_per_start, cur_per_end))])

if close_workbook == 'yes':

    workbook = xlsxwriter.Workbook(workbook_title + '.xlsx',
                                   {'nan_inf_to_errors': True})

    tabs = ['overview',
           'all customers',
           'resellers',
           'super resellers',
           'manufacturing',
           'new products',
           'by category',
           'by bom',
           'notes on revenue totals']

#===== formats
#==========================================================================================

    colors = {
    '1':'#343635',
    '2':'#2e4874',
    '3':'#7eaba4',
    '4':'#928c85',
    '5':'#347c83',
    '6':'#ebe9f2'
    } # http://www.color-hex.com/color-palette/57101

    title = workbook.add_format({'font_size':25,
                                 'font_name':'Arial (Bold)'})

    sub_title = workbook.add_format({'font_size':15,
                                     'font_name':'Arial (Bold)'})


    col_names = workbook.add_format({'font_name':'Arial (Bold)',
                                     'font_color':'white',
                                     'valign':'vcenter',
                                     'align':'center',
                                     'bg_color':colors['3'],
                                     'bottom':1,
                                     'top':1,
                                     'left':1,
                                     'right':1})

    money = workbook.add_format({'num_format':'$#,##0'})
    percent = workbook.add_format({'num_format':'0.00%'})
    number = workbook.add_format({'num_format':'#,##0'})

    for tab in tabs:
        workbook.add_worksheet(tab) # create each tab

    my_worksheets = {}
    for sht in workbook.worksheets():
        my_worksheets[sht.get_name()] = sht # create dict like tab_name:worksheet_instance

#===== same formatting
#==========================================================================================
    for k, v in my_worksheets.items():
        sht = my_worksheets[k]
        sht.write(0, 0,
                  k.title(),
                  title)
        sht.write(1, 0,
                  workbook_title,
                  sub_title)

#===== overview
#==========================================================================================    
    fmts = {'revenue':money, 
            'revenue %':percent,
            'gross profit':money,
            'gross profit %':percent,
            'orders':number, 
            'orders %':percent}

    sht = my_worksheets['overview']

    start_row = 4
    start_col = 0

    for x in ['revenue','gross profit','orders']:

        sht.write(start_row, start_col, x.title(), sub_title)

        df = op_main2.groupby([time,'customer'])[[x]].sum().unstack(1).fillna(0)
        df.columns = df.columns.droplevel(0)
        cols = ['non reseller','reseller','super reseller','partnership']
        df = df[cols]
        df['total'] = df.sum(1)
        df.reset_index(inplace = True)

        for i in range(len(df.columns)):
            sht.write(start_row + 1, start_col + i,
                      df.columns[i],
                      col_names)

            sht.set_column(start_col + i,
                           start_col + i,
                           np.max([len(str(x)) for x in df.iloc[:, i]] + [len(str(x)) for x in df.columns]) + 1)

            for j in range(len(df)):
                sht.write(start_row + 2 + j, start_col + i,
                         df.iloc[j,i],
                         fmts[x])

        start_row = start_row + len(df) + 2

        df2 = df.set_index(time).pct_change()
        df2.loc['YoY'] = df.set_index(time).pct_change(periods = 12).iloc[-1]
        df2.reset_index(inplace = True)
        df2.replace(np.nan, '', inplace = True)
        df2.replace(np.inf, '', inplace = True)
        df2.replace(-np.inf, '', inplace = True)

        for i in range(len(df2.columns)):
            sht.write(start_row + 1, start_col + i,
                      df2.columns[i],
                      col_names)

            for j in range(len(df2)):
                sht.write(start_row + 2 + j, start_col + i,
                         df2.iloc[j,i],
                         fmts[x + ' %'])

        start_row = start_row + len(df2) + 2

        df3 = pd.DataFrame(df.mean(), columns = [report_type + ' avg']).reset_index()

        for i in range(len(df3.columns)):
            sht.write(start_row + 1, start_col + i,
                      df3.columns[i],
                      col_names)

            for j in range(len(df3)):
                sht.write(start_row + 2 + j, start_col + i,
                         df3.iloc[j,i],
                         fmts[x])

        start_col = start_col + len(df.columns) + 2
        start_row = 4

#===== all customers, resellers, super resellers, manufacturing
#==========================================================================================        

    for_charts = {}
    for_charts_ot = {}

    dict_ = {'all customers':op_main2['customer'].isin(['non reseller','reseller','super reseller','partnership']),
            'resellers':op_main2['customer'].isin(['reseller']),
            'super resellers':op_main2['customer'].isin(['super reseller']),
            'manufacturing':op_main2['bom'] == 'pnp'}

    for k, v in dict_.items():

        fmts = {'part id':None,
                'part name':None,
                 cur_pretty:money,
                 prev_pretty:money,
                '% of New Products':percent,
                '% of total':percent,
                '% change':percent,
                '% of ' + k.title():percent,
                'margin':percent,
                'revenue':money,
                'gross profit':money,
                'total qty':number,
                time:None}

        sht = my_worksheets[k]

        df1 = op_main2[(op_main2['date purchased'].between(cur_per_start, cur_per_end))
                        & (dict_[k])].groupby(['part id','part name'], as_index = False)[['revenue','gross profit']].sum()
        df1['% of ' + k.title()] = df1['revenue']/df1['revenue'].sum()
        df1['% of total'] = df1['revenue']/total_rev
        df1['margin'] = df1['gross profit']/df1['revenue']
        df1.rename(columns = {'revenue':cur_pretty}, inplace = True)

        df2 = op_main2[(op_main2['date purchased'] >= prev_per_start)
                       & (op_main2['date purchased'] < prev_per_end)
                       & (dict_[k])].groupby(['part id','part name'], as_index = False)[['revenue']].sum()
        df2.rename(columns = {'revenue':prev_pretty}, inplace = True)

        df3 = pd.merge(df1,
                      df2,
                      how = 'left',
                      on = ['part id','part name']).drop('gross profit',1)
        df3['% change'] = df3[cur_pretty]/df3[prev_pretty] - 1
        cols = ['part id','part name',prev_pretty,cur_pretty,'% change','% of ' + k.title(),'% of total','margin']
        df3 = df3[cols].sort_values(cur_pretty, ascending = False).head(25).fillna(0)    

        for_charts[k] = df3

        start_row = 4
        start_col = 0

        sht.write(start_row, start_col, 'Top 25 Parts by Revenue', sub_title)

        for i in range(len(df3.columns)):
            sht.write(start_row + 1, start_col + i,
                     df3.columns[i],
                     col_names)

            sht.set_column(start_col + i,
                       start_col + i,
                       np.max([len(str(x)) for x in df3.iloc[:, i]] + [len(str(x)) for x in df3.columns]) + 1)

            for j in range(len(df3)):
                sht.write(start_row + 2 + j, start_col + i,
                         df3.iloc[j,i],
                         fmts[df3.columns[i]])

        ot = op_main2[dict_[k]].groupby(time, as_index = False)[['revenue','gross profit','total qty']].sum()
        ot['margin'] = ot['gross profit']/ot['revenue']
        cols = [time,'revenue','gross profit','margin','total qty']
        ot = ot[cols]

        for_charts_ot[k] = ot

        start_col = start_col + len(df3.columns) + 1

        sht.write(start_row, start_col, 'Totals Over Time', sub_title)

        for i in range(len(ot.columns)):
            sht.write(start_row + 1, start_col + i,
                     ot.columns[i],
                     col_names)

            sht.set_column(start_col + i,
                           start_col + i,
                           np.max([len(str(x)) for x in ot.iloc[:, i]] + [len(str(x)) for x in ot.columns]) + 1)

            for j in range(len(ot)):
                sht.write(start_row + 2 + j, start_col + i,
                         ot.iloc[j,i],
                         fmts[ot.columns[i]])

        start_row = start_row + len(ot) + 2

        avg = pd.DataFrame(ot.mean(), columns = [report_type + ' avg']).reset_index().rename(columns = {'index':'type'})

        for i in range(len(avg.columns)):
            sht.write(start_row + 1, start_col + i,
                     avg.columns[i],
                     col_names)

            sht.set_column(start_col + i,
                           start_col + i,
                           np.max([len(str(x)) for x in avg.iloc[:, i]] + [len(str(x)) for x in avg.columns]) + 1)

            for j in range(len(avg)):
                sht.write(start_row + 2 + j, start_col + i,
                         avg.iloc[j,i],
                         fmts[avg.loc[j]['type']])

        start_row = 4
        start_col = 0

#===== new products
#==========================================================================================        

    sht = my_worksheets['new products']    

    new = op_main2[op_main2['new product'] == 1].groupby(['part id','part name'], as_index = False)[['revenue','gross profit']].sum().sort_values('revenue', ascending = False).rename(columns = {'revenue':cur_pretty})
    new['% of New Products'] = new[cur_pretty]/new[cur_pretty].sum()
    new['% of total'] = new[cur_pretty]/total_rev
    new['margin'] = new['gross profit']/new[cur_pretty]
    new.drop('gross profit', 1, inplace = True)
    new['part id'] = [int(x) for x in new['part id']]

    start_row = 4
    start_col = 0

    sht.write(start_row, start_col, 'All New Products by Revenue', sub_title)

    fmts = {'part id':None,
            'part name':None,
             cur_pretty:money,
             prev_pretty:money,
            '% of New Products':percent,
            '% of total':percent,
            '% change':percent,
            'margin':percent,
            'revenue':money,
            'gross profit':money,
            'total qty':number,
            time:None}

    for i in range(len(new.columns)):
        sht.write(start_row + 1, start_col + i,
                 new.columns[i],
                 col_names)

        sht.set_column(start_col + i,
                   start_col + i,
                   np.max([len(str(x)) for x in new.iloc[:, i]] + [len(str(x)) for x in new.columns]) + 1)

        for j in range(len(new)):
            sht.write(start_row + 2 + j, start_col + i,
                     new.iloc[j,i],
                     fmts[new.columns[i]])

    new_ot = op_main2[op_main2['new product over time'] == 1].groupby(time, as_index = False)[['revenue','gross profit','total qty']].sum()
    new_ot['margin'] = new_ot['gross profit']/new_ot['revenue']
    new_ot = new_ot[[time,'revenue','gross profit','margin','total qty']]

    start_col = start_col + len(new.columns) + 1

    sht.write(start_row - 1, start_col, '*parts which were released and sold in the same period')
    sht.write(start_row, start_col, 'Totals Over Time', sub_title)

    for i in range(len(new_ot.columns)):
        sht.write(start_row + 1, start_col + i,
                 new_ot.columns[i],
                 col_names)

        sht.set_column(start_col + i,
                       start_col + i,
                       np.max([len(str(x)) for x in new_ot.iloc[:, i]] + [len(str(x)) for x in new_ot.columns]) + 1)

        for j in range(len(new_ot)):
            sht.write(start_row + 2 + j, start_col + i,
                     new_ot.iloc[j,i],
                     fmts[new_ot.columns[i]])

    start_row = start_row + len(new_ot) + 2

    new_avg = pd.DataFrame(new_ot.mean(), columns = [report_type + ' avg']).reset_index().rename(columns = {'index':'type'})

    for i in range(len(new_avg.columns)):
        sht.write(start_row + 1, start_col + i,
                 new_avg.columns[i],
                 col_names)

        sht.set_column(start_col + i,
                       start_col + i,
                       np.max([len(str(x)) for x in new_avg.iloc[:, i]] + [len(str(x)) for x in new_avg.columns]) + 1)

        for j in range(len(new_avg)):
            sht.write(start_row + 2 + j, start_col + i,
                     new_avg.iloc[j,i],
                     fmts[new_avg.loc[j]['type']])

#===== by category, by bom
#==========================================================================================        

    cat_and_bom_charts = {}

    fmts = {cur_pretty:money,
           prev_pretty:money,
           '% change':percent,
           '% of total':percent,
           'margin':percent,
           'category':None,
           'bom':None}

    for col in ['category','bom']:

        sht = my_worksheets['by ' + col]

        df1 = op_main2[op_main2['date purchased'].between(cur_per_start, cur_per_end)].groupby(col, as_index = False)[['revenue','gross profit']].sum()
        df1['% of total'] = df1['revenue']/total_rev
        df1['margin'] = df1['gross profit']/df1['revenue']
        df1.rename(columns = {'revenue':cur_pretty}, inplace = True)

        df2 = op_main2[(op_main2['date purchased'] >= prev_per_start)
                       & (op_main2['date purchased'] < prev_per_end)].groupby(col, as_index = False)[['revenue']].sum()
        df2.rename(columns = {'revenue':prev_pretty}, inplace = True)

        if len(df1) >= len(df2):
            how = 'left'
        else:
            how = 'right'

        df3 = pd.merge(df1,
                      df2,
                      how = how,
                      on = col).drop('gross profit',1).fillna(0)
        df3['% change'] = df3[cur_pretty]/df3[prev_pretty] - 1
        cols = [col,cur_pretty,prev_pretty,'% change','% of total','margin']
        df3 = df3[cols].sort_values(cur_pretty, ascending = False)

        cat_and_bom_charts['by ' + col] = df3

        start_row = 4
        start_col = 0

        if col == 'category':
            wrt = 'Categories'
        else:
            wrt = 'BOMs'

        sht.write(start_row, start_col, 'All ' + wrt + ' by Revenue', sub_title)

        for i in range(len(df3.columns)):
            sht.write(start_row + 1, start_col + i,
                     df3.columns[i],
                     col_names)

            sht.set_column(start_col + i,
                       start_col + i,
                       np.max([len(str(x)) for x in df3.iloc[:, i]] + [len(str(x)) for x in df3.columns]) + 1)

            for j in range(len(df3)):
                sht.write(start_row + 2 + j, start_col + i,
                         df3.iloc[j,i],
                         fmts[df3.columns[i]])

#        if col == 'bom':
#            unspec = op_main2[['part id','part name']][op_main2['bom'] == 'unspecified'].drop_duplicates('part id').sort_values('part id', ascending = False)        
#            start_col =  start_col + len(df3.columns) + 1
#            sht.write(start_row, start_col,
#                     '*parts with "unpecified" BOMs')

#            for i in range(len(unspec.columns)):
#                sht.write(start_row + 1, start_col + i,
#                         unspec.columns[i],
#                         col_names)

#                sht.set_column(start_col + i,
#                           start_col + i,
#                           np.max([len(str(x)) for x in unspec.iloc[:, i]] + [len(str(x)) for x in unspec.columns]) + 1)

#                for j in range(len(unspec)):
#                    sht.write(start_row + 2 + j, start_col + i,
#                             unspec.iloc[j,i])

#===== notes on revenue totals
#==========================================================================================        

    sht = my_worksheets['notes on revenue totals']

    start_row = 4
    start_col = 0

    for i in range(len(check.columns)):
        sht.write(start_row + 1, start_col + i,
                 check.columns[i],
                 col_names)

        sht.set_column(start_col + i,
                   start_col + i,
                   np.max([len(str(x)) for x in check.iloc[:, i]] + [len(str(x)) for x in check.columns]) + 1)

        for j in range(len(check)):
            sht.write(start_row + 2 + j, start_col + i,
                     check.iloc[j,i],
                     money)

    text01 = 'The revenue in the Products Report is calculated a little differently than in PLM Daily Stats.\n'
    text02 = 'This worksheet shows you how to get from the Products Report revenue all the way to the Daily Stats revenue.\n'
    text03 = '\n'
    text04 = 'First, start with the Products Report revenue (col B).\n'
    text05 = 'Then subtract out the Particle Revenue that we fix in the Report (ask jarad@adafruit.com why this is so) (col C).\n'
    text06 = 'Then add back in the Particle revenue that\'s in the database (col D).\n'
    text07 = 'Account for manual refunds that are not reflected in Daily Stats (col E).\n'
    text08 = 'Check out the "difference" column (col G), which is "PLM revenue" minus the sum of all the columns before "PLM revenue".\n'
    text09 = '\nThere! You have now gone from the Products Report revenue all the way to Daily Stats!'
    text10 = '\n\nHowever, if the "difference" column is much greater than zero, this means that am order has been processed and Daily Stats has not yet updated, so to speak'
    text11 = 'Don\'t worry! This is totally normal and will all balance out in the next month!'
    text = ''.join([text01,text02,text03,text04,text05,text06,text07,text08,text09,text10,text11])

    options = {'width': 750,
               'height': 300}

    sht.insert_textbox(start_row + len(check) + 3,
                      start_col,
                      text,
                      options)

#===== close
#==========================================================================================        

    workbook.close()

/anaconda3/lib/python3.6/site-packages/xlsxwriter/worksheet.py:4675: RuntimeWarning: invalid value encountered in double_scalars
  return (x - x) != 0

In [35]:
print('done')

done

In [36]:
if close_charts == 'yes':

    import xlwings as xw

    #plt.rcdefaults()
    #plt.rcParams.keys()

    plt.rcParams['figure.figsize'] = (20,5)

    plt.rcParams['lines.linewidth'] = 5
    plt.rcParams['legend.fontsize'] = 15

    plt.rcParams['font.weight'] = 'bold'
    plt.rcParams['font.sans-serif'] = 'Arial'

    plt.rcParams['axes.titlesize'] = 20
    plt.rcParams['axes.titleweight'] = 'bold'

    plt.rcParams['axes.labelsize'] = 15
    plt.rcParams['axes.labelweight'] = 'bold'

    plt.rcParams['xtick.labelsize'] = 15
    plt.rcParams['ytick.labelsize'] = 15


    sht = xw.Book(r'/Users/jarad/fake_folder/InterDept/Recurring/Products Report/Python/' + workbook_title + '.xlsx').sheets

#===== summary chart 01
#==========================================================================================

    chart01 = op_main2.groupby([time])[['revenue','gross profit','orders']].sum()
    
    if report_type == 'monthly':
        xticks = [calendar.month_abbr[int(str(x)[-2:])] + '\n' + str(x)[:4] for x in chart01.index]
    else:
        xticks = [str(x)[-2:] + '\n' + str(x)[:4] for x in chart01.index]    

    fig, ax = plt.subplots(figsize = (11,4))
    x = np.arange(len(chart01))
    y1 = chart01['revenue']
    y2 = chart01['gross profit']
    y3 = chart01['orders']
    w = 0.90

    plot01 = ax.bar(x, y1, width = w, edgecolor = 'black', color = colors['3'], label = 'Revenue')
    plot02 = ax.bar(x, y2, width = w, edgecolor = 'black', color = colors['2'], label = 'Gross Profit')
    ax.set_xlim(-0.5,len(chart01)-0.5)
    ax2 = ax.twinx()
    plot03, = ax2.plot(x, y3, ls = '--', color = colors['5'], label = 'Order Count')

    ax.set_facecolor(colors['6'])
    ax.set_title('Revenue, Gross Profit, and Order Count Over Time')
    ax.set_yticklabels(['${:,.0f}'.format(x/1000) for x in ax.get_yticks()])
    ax.set_ylabel('thousands')
    ax.set_xticks(x)
    ax.set_xticklabels(xticks)
    ax2.set_yticklabels(['{:,.0f}'.format(x/1000) for x in ax2.get_yticks()])
    ax2.set_ylabel('thousands', rotation = 270, labelpad = 25)
    ax.legend(loc = 'lower left', edgecolor = 'black')
    ax2.legend(loc = 'lower right', edgecolor = 'black')

    sht_plot = sht['overview'].pictures.add(fig, 
                                name = ax.get_title(), 
                                update = True, 
                                left = sht['overview'].range('X6').left, 
                                top = sht['overview'].range('X6').top)
    plt.close()

#===== summary chart 02
#==========================================================================================

    chart02 = op_main2.groupby([time,'customer'])[['revenue']].sum().unstack(1).fillna(0)
    chart02.columns = chart02.columns.droplevel(0)
    chart02.sort_values(chart02.index[-1], ascending = False, axis = 1, inplace = True)

    fig, ax = plt.subplots(figsize = (11,4))
    x = np.arange(len(chart02))
    y1,y2,y3,y4 = [chart02[x].tolist() for x in chart02.columns]
    w = 0.25

    plot01 = ax.stackplot(x,y1,y2,y3,y4,
                            colors = list(colors.values())[1:-1],
                            edgecolor = 'black',
                            labels = [x.title() for x in chart02.columns])

    ax.set_facecolor(colors['6'])
    ax.set_xlim(-0.05, len(chart02)-0.95)
    ax.set_title('Revenue Over Time and by Customer')
    ax.set_yticklabels(['${:,.0f}'.format(x/1000) for x in ax.get_yticks()])
    ax.set_ylabel('thousands')
    ax.set_xticks(x)
    ax.set_xticklabels(xticks)
    ax.legend(loc = 'lower left', edgecolor = 'black')

    sht_plot = sht['overview'].pictures.add(fig, 
                                name = ax.get_title(), 
                                update = True, 
                                left = sht['overview'].range('X30').left, 
                                top = sht['overview'].range('X30').top)

    plt.close()

#===== charts for all customers, resellers, super resellers - parts
#==========================================================================================

    for k, v in for_charts.items():

        df = for_charts[k][['part id','part name',cur_pretty, prev_pretty]]

        fig, ax = plt.subplots(figsize = (11,4))

        x = np.arange(len(df))
        y1 = df[prev_pretty]
        y2 = df[cur_pretty]

        width = 0.45

        ax.bar(x, y1, width = width, label = y1.name, edgecolor = 'black', color = colors['2'])
        ax.bar(x + width, y2, width = width, label = y2.name, edgecolor = 'black', color = colors['3'])

        ax.set_facecolor(colors['6'])
        ax.set_xlim(-0.5, len(df) + 0.5)
        ax.set_title('Top 25 Parts by Revenue\n' + k.title())
        ax.set_yticklabels(['${:,.0f}'.format(x/1000) for x in ax.get_yticks()])
        ax.set_ylabel('thousands')
        ax.set_xticks(x + width/2)
        ax.set_xticklabels([int(x) for x in df['part id']], rotation = 270, ha = 'center')
        ax.legend(loc = 'upper right', edgecolor = 'black')

        sht_plot = sht[k].pictures.add(fig, 
                                        name = ax.get_title(), 
                                        update = True, 
                                        left = sht[k].range('A33').left, 
                                        top = sht[k].range('A33').top)

        plt.close()

#===== charts for all customers, resellers, super resellers - over time
#==========================================================================================    

    for k, v in for_charts_ot.items():

        df = for_charts_ot[k]

        fig, ax = plt.subplots(figsize = (11,4))
        x = np.arange(len(for_charts_ot[k]))
        y1 = for_charts_ot[k]['revenue']
        y2 = for_charts_ot[k]['gross profit']
        y3 = for_charts_ot[k]['total qty']
        w = 0.90

        plot01 = ax.bar(x, y1, width = w, edgecolor = 'black', color = colors['2'], label = 'Revenue')
        plot02 = ax.bar(x, y2, width = w, edgecolor = 'black', color = colors['3'], label = 'Gross Profit')

        ax2 = ax.twinx()
        plot03, = ax2.plot(x, y3, ls = '--', color = colors['5'], label = 'Order Count')

        ax.set_facecolor(colors['6'])
        ax.set_title('Revenue, Gross Profit, and Order Count Over Time\n' + k.title())
        ax.set_yticklabels(['${:,.0f}'.format(x/1000) for x in ax.get_yticks()])
        ax.set_ylabel('thousands')
        ax.set_xticks(x)
        ax.set_xticklabels(xticks)
        ax2.set_yticklabels(['{:,.0f}'.format(x/1000) for x in ax2.get_yticks()])
        ax2.set_ylabel('thousands', rotation = 270, labelpad = 25)
        ax.legend(loc = 'lower left', edgecolor = 'black')
        ax2.legend(loc = 'lower right', edgecolor = 'black')

        sht_plot = sht[k].pictures.add(fig, 
                                        name = ax.get_title(), 
                                        update = True, 
                                        left = sht[k].range('F33').left, 
                                        top = sht[k].range('F33').top)

        plt.close()

#===== by category chart
#==========================================================================================        

    fig, ax = plt.subplots(figsize = (10,11))

    df = cat_and_bom_charts['by category'].copy()
    df = df.sort_values(cur_pretty, ascending = True).tail(10)

    x = np.arange(len(df))
    y1 = df[cur_pretty]
    y2 = df[prev_pretty]

    width = 0.45

    ax.barh(x + width, y2, width, label = prev_pretty, edgecolor = 'black', color = colors['3'])
    ax.barh(x, y1, width, label = cur_pretty, edgecolor = 'black', color = colors['2'])

    ax.set_facecolor(colors['6'])
    ax.set_title('Top 10 Categories by Revenue')
    ax.set_xticklabels(['${:,.0f}'.format(x/1000) for x in ax.get_xticks()])
    ax.set_xlabel('thousands')
    ax.set_ylim(-0.5,len(df))
    ax.set_yticks(x + width/2)
    ax.set_yticklabels([x for x in df['category']])
    ax.legend(loc = 'lower right', edgecolor = 'black')

    sht_plot = sht['by category'].pictures.add(fig, 
                                                name = ax.get_title(), 
                                                update = True, 
                                                left = sht['by category'].range('H5').left, 
                                                top = sht['by category'].range('H5').top)
    plt.close()    

#===== by bom
#==========================================================================================        

    fig, ax = plt.subplots(figsize = (11,4))

    df = cat_and_bom_charts['by bom'].copy()

    x = np.arange(len(df))
    y1 = df[cur_pretty]
    y2 = df[prev_pretty]

    width = 0.45

    ax.bar(x + width, y2, width, label = prev_pretty, edgecolor = 'black', color = colors['3'])
    ax.bar(x, y1, width, label = cur_pretty, edgecolor = 'black', color = colors['2'])

    ax.set_facecolor(colors['6'])
    ax.set_title('All BOMs by Revenue')
    ax.set_yticklabels(['${:,.0f}'.format(x/1000) for x in ax.get_yticks()])
    ax.set_ylabel('thousands')
    ax.set_xticks(x + width/2)
    ax.set_xticklabels([x for x in df['bom']])
    ax.legend(loc = 'upper right', edgecolor = 'black')

    sht_plot = sht['by bom'].pictures.add(fig, 
                                        name = ax.get_title(), 
                                        update = True, 
                                        left = sht['by bom'].range('A13').left, 
                                        top = sht['by bom'].range('A13').top)
    plt.close()

In [37]:
print('done')

done